.page-detail-partner {
    .action-navigation {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  
      .action-backup {
        display: flex;
        align-items: center;
  
        h1 {
          color: var(--text-primary-color);
          font-size: 2.4rem;
          line-height: 2.8rem;
          padding-right: 1rem;
          margin: 0;
          font-weight: 700;
          text-transform: uppercase;
        }
  
        .title-first {
          cursor: pointer;
  
          &:hover {
            opacity: 0.8;
          }
        }
  
        .title-last {
          color: var(--extra-color-50);
        }
  
        svg {
          width: 4rem;
          height: 4rem;
          padding-right: 1rem;
        }
      }
    }
  
    .container-detail-partner {
      // margin-top: 2rem;
      // padding: 2rem;
  
      width: 100%;
      display: flex;
      align-items: flex-start;
      box-shadow: var(--box-shadow);
      border-radius: 0.4rem;
      overflow: hidden;
      background-color: var(--white-color);
  
      .column-tab{
        width: 20%;
        height: 70rem;
        // background-color: #f5f7f9;
        border-right: 1px solid #cfd7df;
  
        .header-management {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: var(--primary-color-90);
          height: 5rem;
      
          .title-item {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 0 0.5rem;
            font-weight: 600;
            color: var(--white-color);
            padding-left: 1.2rem;
            flex-shrink: 0;
      
            h3 {
              margin-bottom: 0;
            }
          }
        }
      }
  
      .title__info {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 2rem;
      }
  
      .box-partner-info{
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;
        // border-bottom: 1px solid #cfd7df;
        // padding-bottom: 1.6rem;
        // margin-bottom: 1.6rem;
      }
  
      .label-title {
        width: 100%;
        font-weight: 600;
        margin-bottom: 2rem;
        font-size: 18px;
        // border-top: 1px dashed #ddd;
        // padding-top: 2rem;
      }    
  
      .box-title{
        display: flex;
        width: calc(32% - 1.6rem);
        flex-wrap: wrap;
        // border: 1px  solid;
        // align-items: center;
  
        .title{
          font-size: 14px;
          font-weight: 500;
          margin-right: 5px;
        }
        .text{
          font-size: 14px;
        }
        .status-active-text{
          font-size: 14px;
          color: var(--success-color)
        }

        .status-inaction-text{
          font-size: 14px;
          color: var(--success-color)
        }
        .isEye {
            cursor: pointer;
            margin-left: 7px;
            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--extra-color-50);
            }
    
            &:hover {
              svg {
                fill: var(--primary-color-90);
              }
            }
          }
      }

      .container-list-bank{
        // display: flex;
        width: 100%;
        // flex-wrap: wrap;
        margin-top: 1rem;
        // border: 1px  solid;
        // align-items: center;
  
        .title{
          font-size: 14px;
          font-weight: 500;
          margin-right: 5px;
        }
        .text{
          font-size: 14px;
        }
        .box-bank {
            border: 1px dashed var(--extra-color-50);
            padding: 1rem;
            margin-top: 1rem;
            border-radius: 5px;
            .list-bank{
                display: flex;
                // border: 1px solid;
                gap: 1.6rem 3.2rem;
                
                .item-bank {
                    width: calc(32% - 1.6rem);
                }
            }
        }
        
      }

      .box-title-full{
        display: flex;
        width: calc(32% - 1.6rem);
        flex-wrap: wrap;
        // border: 1px  solid;
        // align-items: center;
  
        .title{
          font-size: 14px;
          font-weight: 500;
          margin-right: 5px;
        }
        .text{
          font-size: 14px;
        }
        .status-active-text{
          font-size: 14px;
          color: var(--success-color)
        }

        .status-inaction-text{
          font-size: 14px;
          color: var(--success-color)
        }
      }
      .container_template_contract{
        width: calc(45% - 1.6rem);
        // margin-top: 2rem;
        // width: 50%;
        .title_template {
          font-size: 1.4rem;
          font-weight: 700;
        }
  
        .box_template{
          
          .box__update--attachment {
            margin-top: 0.8rem;
            margin-bottom: 2rem;
            // width: calc(45% - 1.6rem);
            .notify-message {
              background-color: rgba(var(--warning-color-rgb), 0.8);
              color: var(--white-color);
              padding: 0.8rem;
              border-radius: 0.3rem;
              margin-bottom: 2rem;
            }
            .support__upload--file {
              border: 1.5px dashed var(--extra-color-30);
              border-radius: 0.3rem;
    
              .__action-operation {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 1.5rem 2rem;
    
                .action-content {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
    
                  svg {
                    width: 6rem;
                    height: 6rem;
                    fill: var(--primary-color-30);
                  }
    
                  h3 {
                    margin-bottom: 0;
                  }
                }
    
                span {
                  color: var(--extra-color-30);
                  font-weight: 500;
                  padding: 1rem 0;
                }
    
                .btn-upload--file {
                  background-color: var(--primary-color-90);
                  border-radius: 0.5rem;
                  padding: 0.6rem 2rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: var(--white-color);
                  cursor: pointer;
    
                  label {
                    margin: 0;
                    cursor: pointer;
                  }
    
                  &:hover {
                    background-color: var(--primary-color-70);
                  }
                }
              }
    
              .show__file--upload {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: var(--extra-color-10);
                padding: 2rem;
    
                .img__upload {
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                  width: 30rem;
                  // min-width: 12rem;
                  // max-width: 30rem;
                  height: 12rem;
                  overflow: hidden;
                  border-radius: 0.2rem;
                  padding: 1rem;
                  display: flex;
                  justify-content: center;
    
                  img {
                    width: 70%;
                    height: 85%;
                    object-fit: contain;
                  }
  
                  .download {
                    background-color: var(--white-color);
                    border-radius: 0.5rem;
                    width: 2.6rem;
                    height: 2.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--extra-color-20);
                    cursor: pointer;
  
                    svg {
                      width: 1.8rem;
                      height: 1.8rem;
                      fill: var(--extra-color-50);
                    }
                  }
                }
    
                .actions__change-file {
                  margin-top: 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0 2rem;
    
                  .btn-change,
                  .btn-remove {
                    cursor: pointer;
                    font-size: 1.4rem;
                  }
    
                  .btn-change {
                    color: var(--primary-color);
    
                    &:hover {
                      color: var(--primary-color-80);
                    }
                  }
    
                  .btn-remove {
                    color: var(--error-color);
    
                    &:hover {
                      color: rgba(var(--error-color-rgb), 0.8);
                    }
                  }
                }
              }
            }
            .dragging {
              border-color: var(--primary-color-50);
            }
    
            .is__loading--file {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              min-height: 19.4rem;
              border-radius: 0.3rem;
              border: 1.5px dashed var(--extra-color-30);
              background-color: var(--extra-color-5);
    
              svg {
                width: 3rem;
                height: 3rem;
                animation: circular 1s linear infinite;
              }
    
              .name-loading {
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--extra-color-50);
              }
    
              @keyframes circular {
                from {
                  transform: rotate(0);
                }
                to {
                  transform: rotate(360deg);
                }
              }
            }
          }
    
        .file__example {
            margin-top: 3rem;
    
            a {
                padding-left: 0.5rem;
            }
        }
        }
      }
    }

    .card-box {
      margin-top: 2rem;
  
      .info-partner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #3a87ad;
  
        @media (max-width: 1399px) {
          .info-right {
            padding-left: 0.8rem;
          }
        }
      }
  
      .info-action-detail {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  