.modal-setting-grid {
    .form-setting-grid {
      .modal-body {
        padding: 0;
      }
      .body-grid {
        // max-height: calc(100vh - 185px); 
        height: 25rem;
        overflow:'auto';
        padding: 1.6rem;
        // align-items: center;
        // display: flex;
        // justify-content: center;
        // border: 1px solid;
      }
   
    }
  }
  