.modal-add-user {
  .form-user-group {
    .list-form-group {
      display: flex;
      gap: 1.2rem 3.2rem;
      flex-wrap: wrap;
      & > .form-group {
        width: calc(50% - 1.6rem);

        &:first-child,
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}
