.modal-view-org {
  .box-view-org {
    .modal-body {
      padding: 0;
    }

    .lst__org {
      margin-top: 2rem;

      .box-table {
        margin-top: 0rem;

        thead {
          z-index: 0;
        }
      }

      .avatar {
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 0.3rem;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .loading__wrapper {
      min-height: 25rem;
    }

    .system-notification {
      padding: 2rem 2.4rem;
    }
  }
}
