.shortcut {
  &__list {
    gap: 0.6rem;
    a {
      flex: 1 0 calc((100% - 1.6rem) / 3);
      border-radius: 0.4rem;
      //   padding: 1rem 0.2rem;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--white-color);
      text-decoration: none;
      //   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      svg {
        width: 6rem;
        height: 6rem;
        fill: var(--white-color);
        color: var(--white-color);
        margin-bottom: 1rem;
      }
      span {
        white-space: nowrap;
      }
    }
  }
}
