.signed__history--process {
    padding: 1rem 2rem 2rem;
  
    .box-table {
      margin-top: 0rem;
      .process-time{
        .text-time{
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
          &:hover{
            color: var(--primary-color-90);
          }
        }
      }
    }

    .lst__history {
      position: relative;
      // padding-left: 0.8rem;
      .data-tab{
        border: 1px solid var(--border-color);
        border-radius: 5px;
        margin-bottom: 1.2rem;
        padding: 1rem;

        .preview-eform-container{
          padding: 1.6rem;
          .list__contract--attribute {
            display: flex;
            flex-wrap: wrap;
            gap: 1.2rem 3.2rem;
           
      
            .form-group {
              // width: calc(32% - 1.6rem);
              width: calc(50% - 1.6rem);
              .radio-list {
                .form-group {
                  width: 100%;
                }
              }
            }
      
            .label-title {
              width: 100%;
              font-weight: 600;
              // margin-top: 2rem;
              border-top: 1px dashed #ddd;
              padding-top: 2rem;
            }    
  
            .label-title-first {
              width: 100%;
              font-weight: 600;
              // margin-top: 2rem;
              // border-top: 1px dashed #ddd;
              // padding-top: 2rem;
            }    
      
      
            .select-custom,
            .select__custom-label {
              // opacity: 0.6;
      
              div[class*="-control"] {
                // cursor: no-drop;
                padding: 0rem 0rem 0rem 1.2rem
              }
            }
            
            .selected--item {
              display: flex;
              align-items: center;
              gap: 0 0.5rem;
              line-height: 1.1;
      
              .avatar {
                width: 2.6rem;
                height: 2.6rem;
                border-radius: 50rem;
                overflow: hidden;
                flex-shrink: 0;
      
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        
        .lst__action {
          display: flex;
          align-items: center;
          gap: 0 1rem;
          // margin-top: 2.2rem;
    
          .base-button {
            padding: 0.2rem 1.5rem;
            font-size: 1.5rem;
          }
        }

      }
  
      .__name--history {
        font-size: 1.4rem;
        color: var(--extra-color-50);
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
      }
  
      .lst__approval--log {
        margin-bottom: 3rem;
  
        .box-table {
          margin-top: 2rem;
        }
      }
  
      .system-notification {
        padding: 3rem 2.4rem 0;
      }
    }

    .lst__action {
      display: flex;
      align-items: center;
      gap: 0 1rem;
      margin-bottom: 2rem;

      .base-button {
        padding: 0.2rem 1.5rem;
        font-size: 1.5rem;
      }
    }

    .container-history{
      border: 1px solid var(--border-color);
      border-radius: 5px;
      margin-bottom: 1.2rem;
      padding: 1rem;

      .list-history{
        // border: 1px solid;

        .item-history{
          border: 1px solid var(--border-color);
          border-radius: 5px;
          margin-bottom: 1.2rem;
          padding: 1rem;
          display: flex;
        }
      }
    }
  
    .submit__form--signature {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 0.3rem;
      padding: 1.2rem 1.6rem 1.8rem;
  
      .lst__action {
        display: flex;
        align-items: center;
        gap: 0 1rem;
        // margin-top: 2.2rem;
  
        .base-button {
          padding: 0.4rem 1.8rem;
          font-size: 1.3rem;
        }
      }
    }
  }
  