.modal-config-linking-grid-full {
  .modal-dialog--xxl {
    max-width: 98%;
  }
  .form-config {
    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .container-button {
        display: flex;
        align-items: center;
      }
      h4 {
        font-size: 1.8rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // width: calc(100% - 3rem);
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .btn-close {
        opacity: 0.5;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
      .btn-setting {
        opacity: 0.5;
        margin-right: 10px;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
          width: 2.1rem;
          height: 2.1rem;
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
          svg {
            fill: var(--primary-color);
          }
        }
      }
    }
    .modal-body {
      padding: 0;
    }
  }
}
.list-form-group-config-linking-grid {
  padding: 1.6rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  .form-group-data {
    width: 48%;
    border: 1px dashed var(--border-color);
    padding: 3rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    position: relative;

    .title {
      position: absolute;
      top: -16px;
      left: 1rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      display: block;
      background: var(--white-color);
    }
  }
}

.modal-config-linking-grid {
  .form-config {
    .modal-body {
      padding: 0;
      /* Toàn màn hình với màu nền mờ */
    }
    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .container-button {
        display: flex;
        align-items: center;
      }
      h4 {
        font-size: 1.8rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // width: calc(100% - 3rem);
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .btn-close {
        opacity: 0.5;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
      .btn-setting {
        opacity: 0.5;
        margin-right: 10px;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
          width: 2.1rem;
          height: 2.1rem;
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
          svg {
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}
