.multi-channel-configuration-page {
    .conatiner-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .conatiner-button {
            display: flex;
            gap: 0 1rem;
            .button-export,
            .button-connect {
                border: 1px solid;
                padding: 0.5rem 1.6rem;
                border-radius: 0.3rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--extra-color-20);
                }
            }

            .button-connect {
                background-color: var(--primary-bg-color);
                color: white;
                border: 1px solid var(--primary-bg-color);
            }
        }
    }

    .synchronize-inventory{
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background-color: white;
        padding: 1.6rem;
        width: 49.3%;

        .item-inventory {
            padding: 1rem 0;
            border-bottom: 0.5px dashed;
            display: flex;
            justify-content: space-between;
        }
    }

    .synchronize-price{
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background-color: white;
        padding: 1.6rem;
        width: 49.3%;

        .item-price {
            padding: 1rem 0;
            border-bottom: 0.5px dashed;
            display: flex;
            justify-content: space-between;
        }
    }

    .info-connect {
        margin-top: 2rem;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background-color: white;
        padding: 1.6rem;

        .info-right,
        .info-left {
            width: 49.3%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem 0;
            padding: 0;
            margin-top: 1.2rem;
            .input-group {
                width: 100%;
                
            }
        }
    }
}
