.modal__view--opportunity {
  .__view--opportunity {
    .modal-body {
      padding: 0;
    }

    .list__info--opportunity {
      .box-table {
        margin-top: 2.2rem;
      }

      .loading__wrapper {
        min-height: 30rem;
      }
    }
  }
}
