.wrapper-tab-partner {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem 0;
    padding: 0.4rem 1.5rem 2rem;
    border-left: 1px solid var(--extra-color-50);
    // max-height: 58rem;
    min-height: 50rem;
  
    .list-tab {
      .action__option--title {
        border-radius: 0.8rem 0.8rem 0 0;
        border-bottom: 1px solid var(--border-color);
        padding: 0 1rem;
        height: 5rem;
        letter-spacing: 0.25px;
        font-size: 1.4rem;
        line-height: 2rem;
        color: var(--text-extra-color);
        display: flex;
        align-items: center;
  
        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          border-bottom: 3px solid transparent;
          padding: 1.5rem 0 1.2rem;
          transition: color 0.2s ease-in-out;
          position: relative;
          margin: 0 1rem;
  
          &:nth-child(3) {
            padding: 1.5rem 0 1.2rem 0.6rem;
          }
  
          svg {
            width: 1.8rem;
            height: 1.8rem;
            fill: var(--text-extra-color);
          }
  
          &:hover,
          &.active {
            border-bottom-color: var(--primary-color);
            color: var(--text-primary-color);
  
            svg {
              fill: var(--text-primary-color);
            }
          }
          &.active {
            cursor: default;
          }
          &.confirm-children {
            position: relative;
  
            &::after {
              content: "";
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid var(--text-extra-color);
              margin-left: 1rem;
            }
          }
  
          .box__menu--lv2 {
            display: none;
          }
  
          &:hover {
            .box__menu--lv2 {
              display: block;
            }
          }
        }
  
        .box__menu--lv2 {
          position: absolute;
          top: 5rem;
          left: -0.3rem;
          width: 20rem;
          z-index: 99;
          background-color: var(--white-color);
          border-radius: 0.3rem;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
          .menu-lv2--list {
            display: flex;
            flex-direction: column;
            gap: 0.2rem 0;
            padding: 0.6rem;
            width: 100%;
  
            .children-item {
              display: flex;
              align-items: center;
              gap: 0 0.6rem;
              font-size: 1.4rem;
              line-height: 2.4rem;
              padding: 0.5rem 0.8rem;
              border-radius: 0.5rem;
              color: var(--text-primary-color);
              cursor: pointer;
              border: none;
              margin: 0;
  
              &:hover {
                background: var(--primary-color-5);
              }
            }
  
            .active-lv2-children {
              cursor: default;
              background: var(--primary-color-5);
            }
          }
        }
  
        .tab-slider {
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 3.2rem;
    
          .swiper-button-prev,
          .swiper-button-next {
            cursor: pointer;
            background-color: var(--extra-color-10);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            padding: 1rem 0.6rem;
    
            &::after {
              font-size: 2.4rem;
              text-align: center;
              color: var(--black-color);
              font-weight: 500;
            }
          }
    
          .swiper-button-disabled {
            cursor: no-drop;
            opacity: 0.8;
            background-color: var(--extra-color-5);
            pointer-events: all;
          }
    
          .swiper-button-prev {
            left: 0 !important;
    
            &::after {
              // content: "\276C";
            }
          }
    
          .swiper-button-next {
            right: 0 !important;
    
            &::after {
              // content: "\276D";
            }
          }
          // .swiper-wrapper{
          //   &:hover{
          //     height: 600px;
          //     border: 1px solid;
          //   }
            
          // }
          
    
          .list__tab--slide {
            display: flex;
            align-items: center;
            justify-content: center;
            .item-relationship {
              padding: 0.7rem 1.8rem;
              text-align: center;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border-radius: 0.5rem;
              flex: 1;
              white-space: nowrap;
              opacity: 0.9;
            }
    
            .active__item-block {
              border: 1px dashed var(--black-color);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
              opacity: 1;
            }
  
            li {
              display: flex;
              align-items: center;
              cursor: pointer;
              border-bottom: 3px solid transparent;
              padding: 1.5rem 0 1.2rem;
              transition: color 0.2s ease-in-out;
              position: relative;
              margin: 0 1rem;
      
              &:nth-child(3) {
                padding: 1.5rem 0 1.2rem 0.6rem;
              }
      
              svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--text-extra-color);
              }
      
              &:hover,
              &.active {
                border-bottom-color: var(--primary-color);
                color: var(--text-primary-color);
      
                svg {
                  fill: var(--text-primary-color);
                }
              }
              &.active {
                cursor: default;
              }
              &.confirm-children {
                position: relative;
      
                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 4px solid var(--text-extra-color);
                  margin-left: 1rem;
                }
              }
      
              .box__menu--lv2 {
                display: block;
              }
      
              &:hover {
                .box__menu--lv2 {
                  display: block;
                }
              }
            }
      
            .box__menu--lv2 {
              position: absolute;
              top: 5rem;
              left: -0.3rem;
              width: 20rem;
              z-index: 99;
              background-color: var(--white-color);
              border-radius: 0.3rem;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      
              .menu-lv2--list {
                display: flex;
                flex-direction: column;
                gap: 0.2rem 0;
                padding: 0.6rem;
                width: 100%;
      
                .children-item {
                  display: flex;
                  align-items: center;
                  gap: 0 0.6rem;
                  font-size: 1.4rem;
                  line-height: 2.4rem;
                  padding: 0.5rem 0.8rem;
                  border-radius: 0.5rem;
                  color: var(--text-primary-color);
                  cursor: pointer;
                  border: none;
                  margin: 0;
      
                  &:hover {
                    background: var(--primary-color-5);
                  }
                }
      
                .active-lv2-children {
                  cursor: default;
                  background: var(--primary-color-5);
                }
              }
            }
            
          }
  
          
        }
      }
  
      
    }
  
    .details-tab {
      background-color: var(--extra-color-10);
      padding: 1rem;
    }
  }
  