.modal-config-integrate {
    .form-add-config-integrate {
      .modal-body {
        padding: 0;
      }
  
      // .loading__wrapper {
      //   min-height: 20rem;
      // }

      .wrapper__template {
        padding: 2rem;
        max-height: 48rem;
        overflow: auto;
        .lst-template {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1.6rem;
  
          .item-template {
            border: 1px dashed var(--extra-color-10);
            border-radius: 0.5rem;
            padding: 1rem;
            background-color: var(--extra-color-5);
            // width: 26rem;
            height: 12rem;
            cursor: pointer;
  
            &-active {
              // background-color: var(--primary-color-10);
              border: 1px dashed var(--extra-color-50);
            }
  
            .header-item {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
  
              .view-item {
                background-color: var(--extra-color-30);
                border-radius: 50rem;
                padding: 0.3rem 1.2rem;
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
  
                svg {
                  width: 2rem;
                  height: 2rem;
                  margin-left: 0.5rem;
                }
  
                &:hover {
                  opacity: 0.6;
                }
              }
  
              .check-item {
                svg {
                  width: 1.6rem;
                  height: 1.6rem;
                  fill: var(--success-color);
                }
              }

              .delete-item {
                svg {
                  width: 1.9rem;
                  height: 1.9rem;
                  fill: var(--extra-color-50);
                  &:hover{
                    fill: var(--error-color);
                  }
                }
              }
            }
  
            .body-item {
              height: 8rem;
              display: flex;
              align-items: center;
              justify-content: flex-start;
  
              .name-item {
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }

      .apphub {
        padding: 2rem;
        display: flex;
        gap: 1.2rem 3.2rem;
        width: 100%;
        .item-apphub {
          width: calc(50% - 1.6rem);
        }
      }
    }
  }