.expireTime__form {
    max-height: 42rem;
    overflow: auto;

  .list-form-group {
    // display: flex;
    // flex-wrap: wrap;
    gap: 1.2rem 3.2rem;
    padding: 1.6rem;
    // height: 190px;
    max-height: 48rem;
    // overflow: auto;
    // border: 1px solid;

    .form-group {
      width: 100%;
      transition: all 0.5s ease-in-out;

      &:nth-child(1) {
        position: relative;

        .option__time {
          position: absolute;
          width: 9rem;
          height: 3.99rem;
          top: 2.5rem;
          bottom: 0;
          right: 0;
          cursor: pointer;

          .selected__item--time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            gap: 0 0.5rem;
            padding: 0 1.2rem;
            font-size: 1.4rem;
            font-weight: 500;
            background-color: var(--extra-color-30);
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
            border-left: 1px solid var(--extra-color-30);

            svg {
              width: 2rem;
              height: 2rem;
              flex-shrink: 0;
            }
          }

          .menu__time {
            background-color: var(--extra-color-50);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            padding: 0.6rem 0.3rem;
            border-radius: 0.3rem;
            display: flex;
            flex-direction: column;
            gap: 0.4rem 0;

            .item--time,
            .active__item--time {
              padding: 0.2rem 0 0.2rem 0.8rem;
              font-size: 1.4rem;
              font-weight: 500;
              border-radius: 0.3rem;

              &:hover {
                background-color: var(--extra-color-30);
              }
            }

            .active__item--time {
              background-color: var(--extra-color-30);
            }
          }
        }
      }

    //   &:nth-child(2) {
    //     width: 100%;

        .notification-calendar {
          width: 100%;
          .info-notification {
            
            .choose-notification {
              display: flex;
              flex-wrap: wrap;
              gap: 1.2rem 2.2rem;

              .radio-list {
                .form-group {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  gap: 0 2rem;
                  

                  .base-checkbox {
                    margin-top: 0;

                    label {
                      padding-left: 2.3rem;
                    }
                  }
                }
              }
            }
          }
        }
    //   }

      &:last-child {
        .radio-list {
          gap: 1.2rem 3.2rem;
          .form-group {
            display: flex;
            align-items: center;
            gap: 1.2rem 3.2rem;

            .base-radio {
              margin-top: 0;

              label {
                // border: 1px solid;
                padding-left: 2.2rem;
              }
            }
          }
        }
      }
    }
  }

  .list-form-template {
    gap: 1.2rem 3.2rem;
    padding: 0 1.6rem;
    padding-bottom: 1.6rem;
    // height: 100px;
    // border: 1px solid;
  }

  .email__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 0.8rem;

    .form-box {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
    .form-group-box {
      width: 100%;
    }

    .email__default,
    .list-field-email {
      width: 100%;
      display: flex;
      // justify-content: space-between;
      gap: 0 0.8rem;

      #FieldCustomerId {
        width: 100%;
      }

      .form-group {
        width: 100%;
      }
    }

    .add-email,
    .remove-email {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-add {
        margin-top: 2.5rem;
        cursor: pointer;

        svg {
          width: 2rem;
          height: 2rem;
          fill: var(--success-color);
        }
      }

      .icon-remove {
        // margin-top: 2.5rem;
        cursor: pointer;

        svg {
          width: 2rem;
          height: 2rem;
          fill: var(--success-color);
        }
      }
    }
  }

  .list__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 1.2rem 3.2rem;
    padding: 0 1.6rem;

    .email__item {
      .remove-email {
        .icon-remove {
          svg {
            fill: var(--error-color);
          }
        }
      }
    }
  }
}