.page-production-order {
  .action-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .action-backup {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      h1 { font-size: 2rem; font-weight: 700; }
      .title-first { cursor: pointer; color: var(--extra-color-50); }
      .title-last   { color: var(--text-primary-color); }

      svg { width: 1.6rem; height: 1.6rem; color: var(--extra-color-50); }
    }
  }
}
