.task__item--work {
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin: 0 1.5rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &--lot {
    margin-right: 1rem;
  }

  & + .task__item--work {
    margin-top: 1.2rem;
  }

  .info__task {
    .name__work {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .action__exchange {
      padding-left: 0.5rem;
      cursor: pointer;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        svg {
          fill: var(--primary-color-80);
        }
      }
    }

    .time__work {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.8rem;

      &--left {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--extra-color-50);
        line-height: 2rem;

        .start-work,
        .end-work {
          display: flex;
          align-items: center;

          .key {
            display: block;
            width: 6rem;
            position: relative;
            padding-right: 0.5rem;

            &::after {
              content: ":";
              position: absolute;
              right: 0.3rem;
            }
          }
        }
      }

      &--right {
        position: relative;
        width: 4.2rem;
        height: 4.2rem;
        border: 3px solid var(--primary-color-50);
        border-radius: 50%;
        padding: 0.2rem;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .time-remaining {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2rem;
          transition: color 0.5s;
          margin-bottom: 0.3rem;
        }

        &.one-day {
          border-color: rgba(var(--error-darker-color-rgb), 0.8);
        }
      }
    }

    .condition__work {
      .progress-work {
        display: flex;
        align-items: center;
        line-height: 1.5rem;

        .des-progress {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 500;
          .name {
            display: block;
            width: 6rem;
            position: relative;
            padding-right: 0.5rem;

            &::after {
              content: ":";
              position: absolute;
              right: 0.3rem;
            }
          }

          .des {
            color: var(--primary-color);
          }
        }
      }

      .action__edit {
        margin-left: 0.8rem;
        padding-bottom: 0.5rem;
        cursor: pointer;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          svg {
            fill: var(--primary-color-90);
          }
        }
      }

      .level-work {
        display: flex;
        align-items: center;
        line-height: 1.5rem;

        .des-level {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 500;
          .name-level {
            display: block;
            width: 6rem;
            position: relative;
            padding-right: 0.5rem;

            &::after {
              content: ":";
              position: absolute;
              right: 0.3rem;
            }
          }

          .status-level {
            margin-top: 0.1rem;
            font-size: 1.3rem;
            font-weight: 600;

            &--short {
              color: var(--extra-color-50);
            }

            &--medium {
              color: var(--primary-color-90);
            }

            &--high {
              color: var(--primary-text-color);
            }

            &--veryhigh {
              color: var(--error-darker-color);
            }
          }
        }
      }
    }

    .implementer {
      margin-top: 1.2rem;
      display: flex;
      align-items: center;
      background-color: var(--extra-color-5);
      border-radius: 0.3rem;
      padding: 0.5rem 0.6rem;

      .avatar-implementer {
        width: 2.8rem;
        height: 2.8rem;
        overflow: hidden;
        border-radius: 50rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .name-implementer {
        margin-bottom: 0;
        padding-left: 0.5rem;
        overflow: hidden;
        font-size: 1.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .status__work {
      margin-top: 1rem;

      .status__item {
        display: block;
        font-weight: 600;
        padding: 0 0.8rem;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        color: var(--white-color);

        &--unfulfilled {
          width: 9.03rem;
          background-color: var(--extra-color-50);
        }

        &--processing {
          width: 9.1rem;
          background-color: var(--primary-color-80);
        }

        &--success {
          width: 8.8rem;
          background-color: var(--success-darker-color);
        }

        &--cancelled {
          width: 5.05rem;
          background-color: var(--error-darker-color);
        }

        &--pause {
          width: 6.5rem;
          background-color: var(--warning-darker-color);
        }
      }
    }
  }
}
