// Import SCSS của form-js-editor từ node_modules
@import "~@bpmn-io/form-js-editor/dist/assets/form-js-editor.css";
@import "~@bpmn-io/form-js/dist/assets/form-js.css";

.modal-setting-form {
  .form-setting-form {
    .fjs-powered-by {
      display: none !important;
    }

    // Các tùy chỉnh CSS/SCSS của riêng bạn
    .form-editor-container {
      font-family: Arial, sans-serif;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      height: calc(100vh - 185px);
      // overflow: auto;

      .container-header {
        display: flex;
        justify-content: space-between;

        .container-title {
          display: flex;
          align-items: center;

          .button-save {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            padding: 0.2rem 1rem 0.2rem 1rem;
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            cursor: pointer;

            &:hover {
              background-color: var(--primary-color-90);
              color: white;
            }
          }
        }
        .container-button {
          display: flex;
          gap: 0 1rem;
          .button-OLA {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            padding: 0rem 1rem;
            height: 28px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
              background-color: var(--primary-color-90);
              color: white;
            }
          }
          .button-setting {
            cursor: pointer;
            &:hover {
              svg {
                fill: var(--primary-color);
              }
            }
          }

          .button-timer {
            cursor: pointer;
            svg {
              // fill: var(--primary-color);
              // width: 2.4rem;
              // height: 2.4rem;
            }
            &:hover {
              svg {
                // // fill: var(--primary-color);
                // width: 2rem;
                // height: 2rem;
              }
            }
          }
        }
      }

      .fjs-container {
        .fjs-form-editor {
          .fjs-palette-container {
            max-height: calc(100vh - 260px);
            overflow: auto;
          }
          .fjs-form-container {
            max-height: calc(100vh - 260px);
            overflow: auto;
            padding-bottom: 5rem;
          }
          .fjs-editor-properties-container {
            max-height: calc(100vh - 260px);
            overflow: auto;
          }
        }
      }
    }

    .form-editor-container h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

    .form-editor-container .form-field {
      margin-bottom: 15px;
    }

    .form-editor-container .form-field label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555;
    }

    .form-editor-container .form-field input[type="text"],
    .form-editor-container .form-field input[type="number"],
    .form-editor-container .form-field select,
    .form-editor-container .form-field textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .form-editor-container .form-field button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .form-editor-container .form-field button:hover {
      background-color: #0056b3;
    }
  }
}
