.modal-add-action {
    .form-add-action {
       .container-add-action{
            display: flex;
            align-items: center;

            .option{
                display: flex;

                .option-item{
                    margin-left: 30px;
                }
            }
       }
    }
  }
  