.modal-add-column-new {
  .form-customer-attribute-source {
    .modal-body {
      padding: 0;
    }

    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;
      // max-height: 48rem;
      // overflow: auto;
      padding: 1.6rem;
    }

    .form-group {
      width: calc(50% - 1.6rem);

      &.formula {
        width: 100%;

        .formula-input {
          display: flex;
          width: 100%;

          .base-textarea {
            width: 100% !important;
          }

          textarea {
            width: 100%;
            height: 60px;
          }

          svg {
            margin-top: 32px;
            margin-left: 8px;
            cursor: pointer;
          }
        }

        .formula-list {
          position: absolute;
          right: 16px;
          background-color: white;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 10px;
          z-index: 10000;
          margin-right: 30px;

          label {
            width: 100%;
            border-bottom: 1px dashed #ddd;
            padding: 4px 0;
            cursor: pointer;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      .formula-icon {
        width: 24px;
        height: 24px;
      }

      .radio-list {
        .form-group {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0 1.2rem;
          margin-top: 1.5rem;

          .base-radio {
            margin: 0;
          }
        }
      }
    }
    .form-group-uri {
      width: 100%;

      .uri-input {
        display: flex;
        width: 100%;
        gap: 0 1.6rem;
      }

      .base-textarea {
        width: 100% !important;
      }

      textarea {
        width: 100%;
        height: 60px;
      }

      .list__binding {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem 0;
        border: 1px dashed var(--border-color);
        border-radius: 5px;
        padding: 1rem;
        margin-top: 2rem;

        .attribute__item {
          .remove-attribute {
            .icon-remove {
              svg {
                fill: var(--error-color);
              }
            }
          }
          .list-field-attribute {
            .form-group {
              width: calc(40% - 1.2rem);
              display: flex;
              flex-direction: column;
              justify-content: center;
              .readonly {
                display: flex;
                align-items: center;
                gap: 0 0.8rem;
                justify-content: center;
              }
              &:last-child {
                width: calc(13% - 1.2rem);
                padding-bottom: 12px;
              }
            }
          }
        }
        .attribute__item_header {
          .remove-attribute {
            .icon-remove {
              svg {
                fill: var(--error-color);
              }
            }
          }
          .list-field-attribute {
            display: flex;
            .form-group {
              width: calc(40% - 1.2rem);
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-bottom: 0 !important;
              margin-bottom: 0 !important;
              font-size: 13px;
              color: #374151;
              .readonly {
                display: flex;
                align-items: center;
                gap: 0 0.8rem;
                justify-content: center;
              }
              &:last-child {
                width: calc(13% - 1.2rem);
                padding-bottom: 12px;
              }
            }
          }
        }
      }
      .list__params {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem 0;
        border: 1px dashed var(--border-color);
        border-radius: 5px;
        padding: 1rem;
        margin-top: 2rem;

        .attribute__item {
          .remove-attribute {
            .icon-remove {
              svg {
                fill: var(--error-color);
              }
            }
          }
        }
      }
    }
    .form-group-binding {
      width: 100%;
      label {
        color: var(--text-primary-color);
        cursor: text;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 0.5rem;
      }
      .binding-list {
        width: 100%;
        border: 1px dashed #ddd;
        background-color: white;
        display: flex;
        gap: 0.5rem 1rem;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 5px;
        padding: 10px;
        margin-right: 30px;
        &-item {
          display: flex;
          align-items: center;
          padding: 0.2rem 0.5rem;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-weight: 500;
          .icon-delete {
            cursor: pointer;
            border-left: 1px solid #ddd;
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            padding-bottom: 0.5rem;
            padding-top: 0.1rem;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              fill: var(--error-color);
            }
          }
          .checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-left: 1px solid #ddd;
            margin-left: 1rem;
            padding-left: 1rem;
            label {
              margin-top: 0.2rem;
              display: flex;
              align-items: center;
              font-weight: 400;
            }
          }
        }
      }
    }
    .form-group-time_range {
      width: 100%;

      .time_range-input {
        display: flex;
        width: 100%;
        gap: 0 3rem;
      }
      .base-select {
        width: calc(50% - 1.6rem);
      }
    }

    .form-group-number {
      width: 100%;

      .form-group {
        width: 100%;

        display: flex;
        gap: 0 3rem;

        .base-radio {
          margin-top: 0;
        }

        .radio-list {
          .form-group {
            display: flex;
            width: 100%;
            gap: 0 3rem;

            // justify-content: space-between;
            .base-radio {
              margin-top: 0;
            }
          }
        }
      }
    }

    .options__attribute,
    .attribute__item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0 0.8rem;
      align-items: center;

      .attribute__default,
      .list-field-attribute {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0 0.8rem;

        .form-group {
          // width: 100%;
          width: calc(50% - 1.6rem);
        }
      }

      .add-attribute,
      .remove-attribute {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-add,
        .icon-remove {
          // margin-top: 2.4rem;
          margin-bottom: 1.4rem;
          cursor: pointer;

          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--success-color);
          }
        }
      }
    }

    .list__attribute {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem 0;
      border: 1px dashed var(--border-color);
      border-radius: 5px;
      padding: 1rem;

      .attribute__item {
        .remove-attribute {
          .icon-remove {
            svg {
              fill: var(--error-color);
            }
          }
        }
      }
    }
  }
}
