.page__view--info-account {
  .layout__info--acount {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__info {
    margin-top: 2.2rem;
    border-top: 1px solid var(--extra-color-30);
    padding-top: 1.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .__left {
    width: 49.7%;
    padding: 1.6rem;

    .loading__wrapper {
      min-height: 50rem;
    }

    .header__info {
      padding: 1rem 0 3rem;

      .avatar--acount {
        border: 2px solid var(--primary-color-90);
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        .__avatar {
          width: 12rem;
          height: 12rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .icon_camera {
          position: absolute;
          background-color: rgba(32, 33, 36, 0.6);
          transition: opacity 0.2s ease-in-out;
          opacity: 1;
          right: 0;
          bottom: 0;
          left: 0;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }

          svg {
            width: 2.8rem;
            height: 2.8rem;
            fill: var(--extra-color-30);
          }
        }
      }
    }

    .merge__form {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 0 2rem;

      .form-group {
        width: 50%;
      }

      .base-datepicker {
        .base-datepicker__icon {
          .react-datepicker-wrapper {
            .react-datepicker__input-container {
              input {
                padding: 0.72rem 1.2rem;
                padding-left: 3.6rem;
              }
            }
          }
        }
      }
    }
  }

  .__right {
    width: 49.7%;

    &--top,
    &--bottom {
      padding: 1.6rem;
    }

    &--bottom {
      margin-top: 1.2rem;
      height: 14.8rem;

      .lst__connect {
        display: flex;
        align-items: flex-start;
        gap: 0 1.6rem;

        .item__connect {
          position: relative;

          .icon-connect {
            position: absolute;
            top: -0.3rem;
            right: 0.3rem;
            z-index: 10;

            svg {
              width: 1.4rem;
              height: 1.4rem;
            }

            &--success {
              svg {
                fill: var(--success-darker-color);
              }
            }

            &--error {
              svg {
                fill: var(--warning-darker-color);
              }
            }
          }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--extra-color-5);
            width: 8rem;
            height: 6.8rem;
            border-radius: 0.3rem;
            border: 1.35px dashed var(--extra-color-20);

            svg {
              width: 6rem;
              height: 6rem;
            }

            &:hover {
              background-color: var(--extra-color-10);
            }
          }

          &--outlook {
            .icon {
              svg {
                width: 5rem;
                height: 5rem;
              }
            }
          }
        }
      }
    }
  }

  .info__package {
    // css start thông tin gói dịch vụ đang dùng
    &--use {
      margin-top: 1rem;
      padding: 1.6rem;
    }

    &--account {
      .header__package {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info__left {
          width: 30rem;
          flex-shrink: 0;
          margin: 0 auto;
          background-color: #cce9f8;
          border-radius: 0.5rem;
          padding: 1.2rem 2.2rem;
          text-align: center;

          .name-package {
            font-size: 1.75rem;
            text-transform: uppercase;
            margin-bottom: 0;
          }

          .view__date {
            width: 72%;
            max-width: 90%;
            margin: 0.8rem auto 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 2rem;
            background-color: var(--white-color);
            border-radius: 50rem;
            padding: 0.3rem 0rem;
          }
        }

        .info__right {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0 3.5rem;

          .time-package {
            font-size: 1.5rem;

            .key {
              font-weight: 500;
              padding-right: 1rem;
            }

            .value {
              font-size: 1.4rem;
              font-weight: 600;
            }

            .desc--time {
              .value {
                background-color: var(--primary-color-30);
                padding: 0.6rem 1.6rem;
                border-radius: 50rem;
              }
            }
          }

          .action__package {
            display: flex;
            align-items: center;
            gap: 0 0.8rem;
          }

          .base-button--color-primary {
            &:hover {
              background-color: #cce9f8;
            }
          }
        }
      }
    }
    // css end thông tin gói dịch vụ đang dùng

    // css start thông tin các gói dịch vụ liên quan
    &--service {
      margin-top: 1rem;
      padding: 1.6rem;

      .lst__service--package {
        padding: 1.2rem 0.8rem;

        .mySwiper {
          .swiper-wrapper {
            align-items: flex-start;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          background-color: var(--white-color);
          border-radius: 50%;
          padding: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.6rem;
          height: 3.6rem;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

          &::after {
            font-size: 1.8rem !important;
            font-weight: 700;
            color: var(--primary-color-90);
          }
        }

        .swiper-button-next {
          right: 0rem;
        }

        .swiper-button-prev {
          left: 0rem;
        }

        .swiper-button-disabled {
          display: none;
        }

        .info__package {
          background-color: var(--white-color);
          border-radius: 0.5rem;
          border: 1.3px solid rgba(var(--success-darker-color-rgb), 0.5);
          padding: 1.6rem 2rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          .condition-name-gift {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .icon-gift {
            width: 3rem;
            height: 3rem;
            position: relative;
            animation: shake 0.5s infinite alternate;

            @keyframes shake {
              0%,
              100% {
                transform: rotate(0);
              }
              25% {
                transform: rotate(-10deg);
              }
              75% {
                transform: rotate(10deg);
              }
            }
          }

          .name-package {
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 50rem;
            padding: 0.8rem 2.2rem;
            text-align: center;

            &--free {
              width: 53%;
              background-color: var(--extra-color-20);
            }

            &--basic {
              width: 50%;
              background-color: #dbeedb;
            }

            &--silver {
              width: 50%;
              background-color: #cce9f8;
            }

            &--gold {
              width: 50%;
              background-color: #f8eccc;
            }

            &--diamond {
              width: 60%;
              background-color: rgba($color: #605bd7, $alpha: 0.5);
            }
          }

          .desc-package {
            font-size: 1.4rem;
            line-height: 1.8rem;
            // height: 6.2rem;
            padding: 1rem 0;
          }

          .condition-price-gift {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .count-month-gift {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--primary-text-color);
          }

          .price-package {
            position: relative;
            display: flex;
            align-items: flex-end;
            gap: 0 0.5rem;
            padding-bottom: 1rem;

            .__price {
              font-size: 3.6rem;
              font-weight: 600;

              &--free {
                color: var(--extra-color-50);
              }

              &--basic {
                color: #0f6b0f;
              }

              &--silver {
                color: #0e5e88;
              }

              &--gold {
                color: #dea51e;
              }

              &--diamond {
                color: #605bd7;
              }
            }

            .hight-line--price {
              line-height: 2rem;

              .unit {
                position: absolute;
                font-size: 1rem;
              }
              .calc-year {
                font-size: 1.5rem;
                padding-left: 0.6rem;
              }
            }
          }

          .lst__function {
            margin-top: 1.2rem;
            position: relative;
            transition: height 0.3s ease-in-out;
            padding-bottom: 5rem;
            overflow: hidden;

            .item-function {
              display: flex;
              align-items: flex-start;
              gap: 0 0.5rem;

              & + .item-function {
                margin-top: 0.5rem;
              }

              svg {
                width: 1.6rem;
                height: 1.6rem;
                fill: #0684ac;
              }

              .name-function {
                font-size: 1.5rem;
              }
            }

            .action__more {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: 99;

              .bg__layer {
                height: 5rem;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
              }

              .item-more {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 0.5rem;
                color: var(--primary-color);
                font-size: 1.4rem;
                font-weight: 500;
                cursor: pointer;
                padding: 1.5rem 0 0.3rem;
                background-color: var(--white-color);

                svg {
                  width: 1.8rem;
                  height: 1.8rem;
                  fill: var(--primary-color);
                }
              }
            }
          }

          .action__choose--extend {
            .wrapper__extend {
              margin-top: 0.8rem;

              .name-choose {
                font-size: 1.5rem;
                font-weight: 500;
              }

              .lst__extend {
                margin-top: 0.6rem;
                display: flex;
                gap: 0.8rem 1rem;

                .item-extend {
                  position: relative;
                  width: calc(100% / 4);
                  flex: 1;
                  font-size: 1.3rem;
                  border: 1px solid var(--extra-color-30);
                  background-color: var(--extra-color-10);
                  border-radius: 0.5rem;
                  padding: 0.5rem;
                  font-weight: 500;
                  cursor: pointer;
                  text-align: center;

                  .icon-check {
                    position: absolute;
                    top: -0.34rem;
                    right: 0.4rem;
                    display: inline-block;
                    z-index: 2;

                    svg {
                      width: 1.2rem;
                      height: 1.2rem;
                      fill: var(--primary-color);
                    }
                  }

                  &-disabled {
                    cursor: no-drop;
                    background-color: var(--extra-color-20);
                    opacity: 0.7;
                  }
                }
              }
            }

            .info-extend--diamond {
              display: flex;
              align-items: center;
              gap: 0 1rem;
              margin-top: 1.3rem;

              .extend-branch,
              .extend-account {
                flex: 1;
              }

              .base-input__wrapper {
                label {
                  font-size: 1.5rem;
                  font-weight: 500;
                }
              }

              .base-input__input {
                input {
                  padding: 0.5rem 1.2rem;
                }
              }
            }
          }

          .add-extend-now {
            margin: 2rem 0 1rem;
            font-size: 1.4rem;
            text-align: center;
            padding: 0.8rem;
            font-weight: 500;
            border-radius: 0.5rem;
            color: var(--white-color);
            cursor: pointer;

            &--free {
              background-color: var(--extra-color-50);
            }

            &--basic {
              background-color: #0f6b0f;
            }

            &--silver {
              background-color: #0e5e88;
            }

            &--gold {
              background-color: #dea51e;
            }

            &--diamond {
              background-color: #605bd7;
            }

            &--disabled {
              opacity: 0.6;
              cursor: no-drop;
            }

            &:hover {
              opacity: 0.6;
            }
          }

          @media (max-width: 1500px) {
            .desc-package {
              // height: 7.3rem;
            }

            .price-package {
              padding: 1rem 0;
            }

            .action__choose--extend {
              .wrapper__extend {
                .lst__extend {
                  .item-extend {
                    padding: 0.2rem 0.5rem;
                  }
                }
              }

              .info-extend--diamond {
                .base-input__input {
                  input {
                    padding: 0.15rem 1rem;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    // css end thông tin các gói dịch vụ liên quan
  }
}

// css start nâng cấp gói
.modal-upgrade-package-service {
  .form-upgrade-package-service {
    .modal-body {
      padding: 0;
    }
    .list-form-group {
      padding: 1.6rem;

      .group__form {
        display: flex;
        align-items: center;
        gap: 0 2.4rem;

        .form-group {
          flex: 1;
          margin-bottom: 1.2rem;
        }
      }

      .choose-option {
        display: flex;
        align-items: center;
        gap: 0 1rem;
        margin: 2rem 0;

        .item-option {
          position: relative;
          border-radius: 0.3rem;
          border: 1px solid var(--extra-color-20);
          background-color: var(--extra-color-30);
          padding: 0.7rem 1.2rem;
          cursor: pointer;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 500;
          flex: 1;

          &:hover {
            background-color: var(--extra-color-20);
          }

          &-active {
            background-color: var(--extra-color-20);
            border: 1px dashed var(--extra-color-50);
            cursor: default;

            .icon-check {
              position: absolute;
              top: 0.34rem;
              right: 0.6rem;
              z-index: 2;

              svg {
                width: 1.2rem;
                height: 1.2rem;
                fill: var(--success-darker-color);
              }
            }
          }
        }
      }

      .content {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: 0.3rem;

        strong {
          font-weight: 600;

          &:first-child {
            color: var(--error-darker-color);
          }
        }
      }
    }
  }
}
// css end nâng cấp gói

// css start hướng dẫn thanh toán
.modal-payment-package {
  .wrapper-payment-package {
    .info__payment--user {
      .money__payment {
        background-color: var(--primary-text-color);
        color: var(--white-color);
        padding: 0.8rem 1.2rem;
        border-radius: 0.3rem;
        margin-bottom: 1.2rem;
      }

      .step-item {
        .name-step {
          display: flex;
          align-items: flex-start;
          font-weight: 500;
          position: relative;

          .hight-line {
            position: relative;
            display: inline-block;
            color: var(--warning-color);
            font-weight: 600;
            padding-right: 0.3rem;

            &::after {
              content: ".";
            }
          }
        }

        .info-step {
          &--one {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin: 0.8rem 0 1.2rem;
            border-radius: 0.3rem;
            padding: 1.5rem 1.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          &--left {
            width: 25%;

            .qr-code {
              width: 14rem;
              height: 14rem;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          &--right {
            width: 70%;

            .logo-bank {
              width: 9rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }

          &--content {
            padding: 0.8rem;
          }

          &--note {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
