.modal__import--backup {
  .import-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem;
    svg {
      width: 8rem;
      height: 8em;
      animation: circular 1s linear infinite;
    }

    @keyframes circular {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .box__ui--import {
    // Step one:
    .wrapper__step--one {
      .box__update--file {
        .notify-message {
          background-color: rgba(var(--warning-color-rgb), 0.8);
          color: var(--white-color);
          padding: 0.8rem;
          border-radius: 0.3rem;
          margin-bottom: 2rem;
        }
        .support__upload--file {
          border: 1.5px dashed var(--extra-color-30);
          border-radius: 0.3rem;

          .__action-operation {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 3rem 2rem;

            .action-content {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              svg {
                width: 6rem;
                height: 6rem;
                fill: var(--primary-color-30);
              }

              h3 {
                margin-bottom: 0;
              }
            }

            span {
              color: var(--extra-color-30);
              font-weight: 500;
              padding: 1rem 0;
            }

            .btn-upload--file {
              background-color: var(--primary-color-90);
              border-radius: 0.5rem;
              padding: 0.6rem 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--white-color);
              cursor: pointer;

              label {
                margin: 0;
                cursor: pointer;
              }

              &:hover {
                background-color: var(--primary-color-70);
              }
            }
          }

          .show__file--upload {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--extra-color-10);
            padding: 2rem;

            .img__upload {
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
              width: 12rem;
              height: 12rem;
              overflow: hidden;
              border-radius: 0.2rem;
              padding: 1rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .actions__change-file {
              margin-top: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0 2rem;

              .btn-change,
              .btn-remove {
                cursor: pointer;
                font-size: 1.4rem;
              }

              .btn-change {
                color: var(--primary-color);

                &:hover {
                  color: var(--primary-color-80);
                }
              }

              .btn-remove {
                color: var(--error-color);

                &:hover {
                  color: rgba(var(--error-color-rgb), 0.8);
                }
              }
            }
          }
        }
        .dragging {
          border-color: var(--primary-color-50);
        }

        .is__loading--file {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          min-height: 19.4rem;
          border-radius: 0.3rem;
          border: 1.5px dashed var(--extra-color-30);
          background-color: var(--extra-color-5);

          svg {
            width: 3rem;
            height: 3rem;
            animation: circular 1s linear infinite;
          }

          .name-loading {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--extra-color-50);
          }

          @keyframes circular {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }

      .choose-type {
        margin: 2rem 0 1rem;

        .radio-list {
          .form-group {
            display: flex;
            align-items: center;
            gap: 0 2rem;

            .base-radio {
              margin-top: 0;
            }
          }
        }
      }

      .download__sample--data {
        .info__sample--data {
          display: flex;
          align-items: center;
          gap: 0 0.3rem;
        }

        .count__data {
          .base-input__nummeric {
            .base-input__input {
              input {
                padding: 0.4rem 0.8rem;
                text-align: center;
                font-weight: 500;
              }
            }
          }
        }

        .btn__submit--data {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--extra-color-20);
          border-radius: 0.3rem;
          font-size: 1.4rem;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background-color: var(--extra-color-30);
          }

          &.dis__submit--data {
            cursor: no-drop;
            background-color: var(--extra-color-20);

            &:hover {
              background-color: var(--extra-color-20);
            }
          }
        }

        .btn__confirm {
          padding: 0.38rem 0rem 0.56rem 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          gap: 0 0.2rem;
          padding-right: 1rem;
          border-right: 1.9px solid var(--extra-color-50);

          svg {
            width: 1.6rem;
            height: 1.6rem;
          }

          .animation__loading {
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            margin-top: 0.2rem;
            margin-right: 0.3rem;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }

        .btn__choose--field {
          padding: 0.38rem 0.5rem 0.56rem 0.3rem;

          svg {
            width: 2rem;
            height: 2rem;
          }
        }

        .info__field--customer {
          position: absolute;
          width: 25rem;
          bottom: 4.5rem;
          opacity: 1;
          background: var(--white-color);
          z-index: 99;
          padding-bottom: 1rem;
          border-radius: 0.3rem;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

          .suggested__schools {
            display: block;
            padding: 0.5rem 1rem;
            border-bottom: 1.2px solid var(--extra-color-30);
          }

          .lst__field {
            padding: 0.8rem 1.6rem;
            max-height: 21rem;
            overflow: auto;

            .base-checkbox {
              & + .base-checkbox {
                margin-top: 0.8rem;
              }
            }

            &--children {
              padding-left: 3rem;
              margin: 0.5rem 0;
            }
          }

          .confirm__field--submit {
            border-top: 1.2px solid var(--extra-color-30);
            padding-top: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .base-button {
              padding: 0.4rem 1.2rem;
              margin-right: 1rem;
              font-size: 1.4rem;
              background-color: var(--primary-color-90);

              &:hover {
                background-color: var(--primary-color-70);
              }
            }
          }

          .arrow-down {
            position: absolute;
            bottom: -8px;
            left: 50%;
            margin-left: 4rem;
            border-width: 8px 8px 0;
            border-color: var(--white-color) transparent transparent transparent;
            border-style: solid;
            width: 0;
            height: 0;
          }
        }
      }

      .file__example {
        margin-top: 3rem;

        .download__file--sample {
          padding-left: 0.5rem;
          color: var(--blue-color);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        // a {
        //   padding-left: 0.5rem;
        // }
      }
    }
    // Step two:
    .wrapper__step--two {
      .mechanism_bug {
        margin: 1.6rem 0;

        .radio-list {
          .form-group {
            display: flex;
            align-items: center;
            gap: 0 3rem;

            .base-radio {
              margin-top: 0;
            }
          }
        }
      }

      .mechanism_duplicate {
        .form-group {
          width: 70%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .base-radio {
            margin-top: 0;
          }
        }
      }
    }

    //Step three:
    .wrapper__step--three {
      .show__result {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        min-height: 10rem;
        border-radius: 0.3rem;
        padding: 0 1.6rem;
        font-size: 1.5rem;
        border: 1.5px dashed var(--extra-color-30);
        background-color: var(--extra-color-5);
      }

      .qty-success,
      .qty-faild,
      .qty-duplicate {
        font-weight: 500;
      }

      .qty-success {
        color: var(--success-darker-color);
      }

      .qty-duplicate {
        color: var(--warning-darker-color);
      }

      .qty-faild {
        color: var(--error-darker-color);
      }

      .table__item--error {
        margin-top: 3.2rem;

        .title__tbale {
          font-size: 1.8rem;
          font-weight: 800;
          text-transform: uppercase;
          color: var(--primary-color);
        }

        .lst__item--duplicate {
          .box-table {
            margin-top: 0.6rem;
          }
        }
      }
    }
  }
}
