.manager-work {
  .search__box--manager-work {
    background-color: var(--white-color);
    .line__height--manager-work {
      border-radius: 0.8rem 0.8rem 0 0;
      border-bottom: 1px solid var(--border-color);
      padding: 0 2rem;
      height: 5rem;
      letter-spacing: 0.25px;
      font-size: 1.4rem;
      line-height: 2rem;
      display: flex;
      align-items: center;
      gap: 2.4rem;
      color: var(--text-primary-color);

      li {
        display: block;
        border-bottom: 3px solid transparent;
        padding: 1.5rem 0 1.2rem;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        &.item-title {
          padding-left: 5px;
          padding-right: 5px;
          //   border-left: 1px solid transparent;
          //   border-right: 1px solid transparent;
        }

        &.active__item--title {
          border-color: var(--primary-color);
          //   border-top: 1px solid var(--primary-color);
          //   border-left: 1px solid var(--primary-color);
          //   border-right: 1px solid var(--primary-color);
          //   border-top-left-radius: 1rem;
          //   border-top-right-radius: 1rem;
          background-color: azure;

          cursor: default;
        }
      }
    }

    .list-manager-work {
      // border: 1px solid;
      margin-top: 2rem;
      padding: 0 2rem 0 2rem;

      .list__relationship {
        display: flex;
        align-items: center;
        gap: 0 0.6rem;
        transition: all 0.3s ease-in-out;

        .relationship-item,
        .active__relationship--item {
          padding: 0.7rem 1.8rem;
          text-align: center;
          font-size: 1.4rem;
          cursor: pointer;
          font-weight: 500;
          border-radius: 0.5rem;
        }

        .relationship-item {
          opacity: 0.9;
        }

        .active__relationship--item {
          border: 1px dashed var(--black-color);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          opacity: 1;
        }
      }
    }
  }
  .overview-report-manager-work {
    width: 100%;
    height: 100vh;
    padding-top: 20rem;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }
}
