.page__customer__source--analysic {
  padding: 2.5rem 2rem 2rem;

  .type__analysis {
    display: flex;
    align-items: flex-start;
    gap: 0 2rem;
    margin-bottom: 1.8rem;

    .choose__type {
      display: flex;
      align-items: center;
      gap: 0 1.2rem;

      .item__choose {
        background-color: var(--extra-color-10);
        padding: 0.6rem 2.2rem;
        font-size: 1.5rem;
        border-radius: 0.3rem;
        cursor: pointer;

        &:hover {
          background-color: var(--extra-color-50);
        }

        &--active {
          cursor: default;
          background-color: var(--extra-color-50);
        }
      }
    }
  }

  .lst__option--view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 1.2rem;
    border-left: 2px solid var(--extra-color-30);
    padding-left: 2rem;

    .option__view {
      background-color: var(--extra-color-10);
      padding: 0.6rem 2.2rem;
      font-size: 1.5rem;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover {
        background-color: var(--extra-color-50);
      }
    }

    .active__option {
      cursor: default;
      background-color: var(--extra-color-50);
    }
  }

  .search__chart {
    flex: 1;
    border-left: 2px solid var(--extra-color-30);
    padding-left: 2rem;
    position: relative;

    .lst__option--chart {
      position: absolute;
      top: 3.8rem;
      right: 0;
      left: 2rem;
      z-index: 99;
      margin-top: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 0.3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0.8rem;
      gap: 1rem;
      background-color: var(--white-color);

      .item__chart {
        display: flex;
        align-items: flex-start;
        gap: 0 1.2rem;
        cursor: pointer;
        padding: 1rem;
        background-color: var(--extra-color-5);
        border-radius: 0.5rem;
        border: 1.5px solid transparent;

        .icon-chart {
          svg {
            width: 4.2rem;
            height: 4.2rem;
          }
        }

        .info-chart {
          .name-chart {
            margin-bottom: 0.5rem;
          }

          .desc-chart {
            font-size: 1.5rem;
          }
        }

        &:hover {
          border-color: var(--extra-color-50);
        }
      }
    }
  }
}
