.container-header-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .header_left{
      flex: 1;
      // display: flex;
      // justify-content: space-between;
      align-items: center;
      gap: 0 1rem;
      .button_delete{
        border: 1px solid #EEEEEF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 8px;
        background: #F8F8F8;
        // margin-right: 8px;
        cursor: pointer;
        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
        &:hover {
          background-color: var(--extra-color-20);
        }
      }
      .box_search {
        // width: 100%;
        .search-container{
          // padding: 0 ;
        }
      }
      
    }

    .header-right{
      display: flex;
      .button_export{
        border: 1px solid #EEEEEF;
        display: flex;
        padding: 8px 12px 8px 12px;
        align-items: center;
        border-radius: 8px;
        background-color: #FFFFFF;
        margin-right: 1rem;
        cursor: pointer;
        .label{
          font-size: 16px;
          font-weight: 500;
          margin-left: 5px;
        }
        &:hover {
          background-color: #EEEEEF;
        }
      }
  
      .title-action{
        padding: 0;
      }
    }

    
  }