.info__work--area {
  border-right: 1px solid #eee;
  height: 100%;
  overflow: auto;
  .show-inprogress {
    width: 10%;
  }
  .info__basic {
    container-type: inline-size; // rất quan trọng, dùng để kích hoạt container query bên dưới
    display: flex;
    flex-direction: column;
    width: 100%;

    .title-basic {
      font-size: 2.2rem;
      font-weight: 700;
      color: #061e3b;
      margin-bottom: 3rem;
    }

    .info__basic--item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 3rem;
      border: 1px dashed var(--extra-color-20);
      padding: 2rem;
      border-radius: 0.4rem;

      .item {
        display: flex;
        align-items: flex-start;
        font-size: 1.6rem;

        & + .item {
          margin-top: 0.8rem;
        }

        .title {
          width: 15.5rem;
          position: relative;
          margin-bottom: 0;
          flex-shrink: 0;

          &::after {
            content: ":";
            position: absolute;
            right: 0.7rem;
            bottom: 0;
            top: 0;
          }
        }

        .name {
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      .inprogress-work,
      .status-work,
      .evaluate-work {
        align-items: center;
      }

      .inprogress-work {
        align-items: center;

        .show-inprogress {
          position: relative;
          cursor: pointer;

          .value-percent {
            width: 3.5rem;
            height: 3.5rem;

            .CircularProgressbar-text {
              font-size: 3rem;
              font-weight: 600;
            }
          }
        }
      }

      .content-work {
        flex-direction: column;
        align-items: flex-start;

        .content {
          font-size: 1.5rem;
          color: var(--extra-color);
          margin-bottom: 2rem;
        }
      }

      .related-document {
        align-items: flex-start;
        flex-direction: column;

        .list-document {
          display: flex;
          align-items: center;
          gap: 0 0.8rem;
          margin-top: 0.6rem;

          .image-item {
            width: 5rem;
            height: 5rem;
            border-radius: 0.5rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .star-rating {
        display: flex;
        align-items: center;
        gap: 0 0.3rem;

        .star {
          cursor: pointer;

          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--extra-color-50);
          }
        }

        .on {
          .star {
            svg {
              fill: var(--warning-color);
            }
          }
        }

        .off {
          .star {
            svg {
              fill: var(--extra-color-50);
            }
          }
        }
      }

      .notification-document {
        font-size: 1.5rem;
        margin: 1.2rem 0 0;
      }
    }
    @container (max-width: 550px) {
      .info__basic--item {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
