APP_ENV=prod
APP_API_URL=
APP_ADMIN_URL=
APP_BPM_URL=
APP_AUTHENTICATOR_URL=
APP_BIZ_URL=
APP_API_LOCAL=
APP_SSO_LINK=
APP_CRM_LINK=
APP_DOMAIN=

# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=

# OmniCXM
VITE_OMNICXM_KEY=
VITE_OMNICXM_ENV=
