.page-automation-marketing-list {
    .card-box {
      .box-table {
        .box-table__wrapper {
          .table-striped {
            tbody {
              tr {
                td {
                  .btn__navigation {
                    text-decoration: none;
                    color: var(--text-primary-color);
  
                    &:hover {
                      color: var(--primary-color-90);
                    }
                  }
  
                  .percent__finish--opportunity {
                    position: relative;
                    cursor: pointer;
  
                    .value-percent {
                      width: 3.5rem;
                      height: 3.5rem;
  
                      .CircularProgressbar-text {
                        font-size: 3rem;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .detail-marketing-automation {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-primary-color);
  
        &:hover {
          color: var(--primary-color);
        }
      }

      .action__view--customer {
        a {
          font-weight: 500;
        }
      }
    }
  
    .detail__campaign {
      .action-navigation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
  
        .action-backup {
          display: flex;
          align-items: center;
  
          h1 {
            color: var(--text-primary-color);
            font-size: 2.4rem;
            line-height: 2.8rem;
            padding-right: 1rem;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
          }
  
          .title-first {
            cursor: pointer;
  
            &:hover {
              opacity: 0.8;
            }
          }
  
          .title-last {
            color: var(--extra-color-50);
          }
  
          svg {
            width: 4rem;
            height: 4rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
  