.modal-view-project {
  .modal-dialog {
    max-width: 72rem;
  }

  .wrapper__view--project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .view__info--left {
      width: 50%;

      .item__info--left {
        display: flex;
        align-items: flex-start;
        font-size: 1.6rem;

        & + .item__info--left {
          margin-top: 0.6rem;
        }

        .title {
          width: 7.5rem;
          position: relative;

          &::after {
            content: ":";
            position: absolute;
            right: 0.7rem;
            bottom: 0;
            top: 0;
          }
        }

        .name {
          font-weight: 400;
        }
      }

      .dependent__sub {
        .title {
          width: 8.5rem;

          &::after {
            content: ":";
            right: -0.4rem;
          }
        }

        .name {
          margin-left: 0.8rem;
        }

        .content {
          margin-left: 1rem;
        }

        .three--dots {
          margin-left: 1rem;
        }
      }

      .document--project {
        align-items: flex-start;
        flex-direction: column;
      }

      .content--project {
        .content {
          width: 24rem;
          font-size: 1.5rem;
          line-height: 2rem;
          color: var(--extra-color);
          margin-bottom: 0;
        }
      }

      .document--project {
        .list__document {
          display: flex;
          align-items: center;
          gap: 0 0.8rem;
          margin-top: 0.6rem;

          .image-item {
            width: 10rem;
            height: 10rem;
            border-radius: 0.5rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .view__info--right {
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;

      .info__manager,
      .info__participant {
        .title {
          width: 15rem;
          position: relative;
          &::after {
            content: ":";
            position: absolute;
            right: 0.7rem;
            bottom: 0;
            top: 0;
          }
        }
      }

      .info__manager {
        display: flex;
        align-items: center;

        .name__manager {
          display: flex;
          align-items: center;
          gap: 0 0.8rem;
          margin-left: 0.6rem;

          .avatar--manager {
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50rem;
            overflow: hidden;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .info__participant {
        margin-top: 0.6rem;

        .list__participant {
          background: var(--white-color);
          border-radius: 0.4rem;
          border: 1.5px dashed #e0e0e0;
          padding: 0.6rem 0;
          display: flex;
          max-width: 32rem;
          margin-top: 1rem;

          .item__participant {
            display: flex;
            align-items: center;
            gap: 0 0.8rem;
            padding: 0.4rem 0.6rem;

            .avatar--participant {
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50rem;
              overflow: hidden;
              flex-shrink: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
