.modal-add-default-processes {
  .form-add-default-processes {
    .modal-body {
      padding: 0;
    }

    .list-form-group {
      display: flex;
      flex-direction: column;
      padding: 1.6rem;
      max-height: calc(100vh - 20rem);
      overflow: auto;
      min-height: 40rem;
    }

    .list-field-item {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        //   width: calc(50% - 1.6rem);
        width: 100%;
      }
    }
  }
}
