.bpm-form-viewer-object-info {
  display: flex;
  align-items: center;
  justify-content: center;
  .form-viewer-container {
    // width: 998px;
    width: 100%;
    .cds--grid {
      max-inline-size: 100%;
    }
  }
}
