.payment__import--invoice {
  margin-top: 2rem;

  .card-box {
    padding: 2rem;

    .label-title {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .form__payment__import--invoice {
      .list-form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;

        .form-group {
          width: calc(32% - 1.6rem);

          &:last-child {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0 2rem;
            margin-bottom: 1rem;

            .base-radio {
              margin-top: 0;
            }
          }
        }
      }

      .action__import--order {
        position: relative;
        padding: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 1.2rem;
        border-top: 1px solid var(--border-color);
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;

        .side__action {
          display: flex;
          align-items: center;
          gap: 0 1.2rem;
        }
      }
    }
  }
}
