.select-url {
  display: flex;
  flex-direction: column;
  .select-custom,
  .select__custom-label,
  .select__custom-multi {
    background: var(--white-color);
    z-index: 9;
    border-radius: 0.3rem;

    div[class*="-control"] {
      box-shadow: none;
      font-size: 1.4rem;
      padding: 0.8rem 3.2rem 0.7rem 0;
      border: none;
      border-bottom: 1px solid var(--border-color);
      border-radius: 0;
      background: transparent;
      &:hover {
        box-shadow: none;
      }
      & > div {
        padding: 0;
      }
    }
    div[class*="-menu"] {
      font-size: 1.4rem;
    }
    div[class*="-ValueContainer"],
    div[class*="-singleValue"],
    div[class*="-Input"] {
      padding: 0;
      margin: 0;
    }
    div[class*="-singleValue"] + div {
      margin: 0;
      padding: 0;
    }
    div[class*="-placeholder"] {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
      & + div {
        margin: 0;
        padding: 0;
      }
    }
    span[class*="-indicatorSeparator"] {
      display: none;
    }
    div[class*="-indicatorContainer"] {
      padding: 0;
      position: absolute;
      right: 0.6rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--text-primary-color);
      svg {
        fill: var(--text-extra-color);
      }
    }
  }

  .select__custom-label {
    div[class*="-control"] {
      & > div {
        div[class*="-singleValue"] {
          .selected--item {
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            line-height: 1.1;

            .avatar {
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50rem;
              overflow: hidden;
              flex-shrink: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .subsidiary {
              font-size: 1.2rem;
              font-style: italic;
              color: var(--extra-color-50);
            }
          }
        }
      }
    }

    div[class*="-menu"] {
      & > div {
        div[class*="-option"] {
          .selected--item {
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            line-height: 1.1;

            .avatar {
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50rem;
              overflow: hidden;
              flex-shrink: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .subsidiary {
              font-size: 1.2rem;
              font-style: italic;
              color: var(--extra-color-50);
            }
          }
        }
      }
    }
  }

  .select__custom-multi {
    div[class*="-control"] {
      & > div {
        div[class*="-multiValue"] {
          .selected--item {
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            line-height: 1.1;

            .avatar {
              width: 2.6rem;
              height: 2.6rem;
              border-radius: 50rem;
              overflow: hidden;
              flex-shrink: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    span[class*="-indicatorSeparator"] {
      display: block;
    }

    div[class*="-indicatorContainer"] {
      padding: 0.8rem;
      position: relative;
      color: var(--text-primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      transform: translateY(0);

      svg {
        fill: var(--text-extra-color);
      }
    }
  }

  &.base-select-icon {
    position: relative;

    div[class*="-control"] {
      padding-right: 5.2rem !important;
    }

    .icon {
      position: absolute;
      display: flex;
      align-items: center;
      top: 1.3rem;
      right: 3rem;
      z-index: 9;
      cursor: pointer;
      border-right: 1px solid var(--extra-color-30);

      svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--extra-color-50);
        margin-right: 0.3rem;
      }
    }
  }

  label {
    color: var(--text-primary-color);
    cursor: text;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    .required {
      color: var(--error-color);
    }
  }
  &.has-disabled {
    label {
      opacity: 0.6;
    }
    .select-custom,
    .select__custom-label {
      opacity: 0.6;

      div[class*="-control"] {
        cursor: no-drop;
      }
    }
  }
  &.has-label {
    &__left {
      flex-direction: row;
      gap: 2.4rem;
      align-items: flex-start;
      label {
        min-width: 8rem;
        margin-top: 0.8rem;
        flex-shrink: 0;
      }
      .select-custom {
        width: 100%;
      }
    }
  }
  &-fill {
    .select-custom,
    .select__custom-label,
    .select__custom-multi {
      div[class*="-control"] {
        padding: 0.7rem 3.2rem 0.7rem 1.2rem;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        color: var(--text-primary-color);
        width: 100%;
        background: transparent;
        box-shadow: var(--box-shadow-input);
      }
    }

    .select__custom-label {
      div[class*="-control"] {
        padding: 0.5rem 3.2rem 0.5rem 1.2rem;
      }
    }

    .select__custom-multi {
      div[class*="-control"] {
        padding: 0.3rem 0 0.3rem 1.2rem;
      }
    }

    &.has-disabled {
      label {
        color: inherit;
        opacity: 0.6;
      }
      .select-custom {
        background: var(--extra-color-5);
        color: inherit;
        opacity: 0.6;

        div[class*="-control"] {
          cursor: no-drop;
        }
      }
    }
  }
  &.on-focus {
    .select-custom,
    .select__custom-label,
    .select__custom-multi {
      z-index: 10;
      div[class*="-control"] {
        border-color: var(--primary-color);
      }
    }
  }
  &.invalid {
    .select-custom,
    .select__custom-label {
      div[class*="-control"] {
        border-color: var(--error-color);
      }
    }
  }
  &.warning {
    .select-custom,
    .select__custom-label,
    .select__custom-multi {
      div[class*="-control"] {
        border-color: var(--warning-color);
      }
    }
  }
  .has-error,
  .has-warning {
    color: var(--error-color);
    font-size: 1.3rem;
    line-height: 1.2;
    padding-top: 0.4rem;
  }
  .has-warning {
    color: var(--warning-color);
  }
}
