.view__config--department {
  .title__config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 5.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);

    .icon__copy--department {
      width: 2rem;
      height: 2rem;
      fill: var(--primary-color);
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 0;
    margin-top: 1.8rem;

    .wrapper__decentralization {
      padding: 0 1.2rem 1.6rem;

      .decentralization__department {
        display: flex;
        flex-direction: column;
        position: relative;

        .department__permission--0 {
          width: 350px;
        }

        .department__permission--1 {
          width: calc(100% - 350px);
        }

        .department__permission--2 {
          width: calc((100% - 350px) / 2);
        }

        .department__permission--3 {
          width: calc((100% - 350px) / 3);
        }

        .department__permission--4 {
          width: calc((100% - 350px) / 4);
        }

        .department__permission--5 {
          width: calc((100% - 350px) / 5);
        }

        .department__permission--6 {
          width: calc((100% - 350px) / 6);
        }

        .department__permission--7 {
          width: calc((100% - 350px) / 7);
        }

        .department__permission--8 {
          width: calc((100% - 350px) / 8);
        }

        .department__permission--9 {
          width: calc((100% - 350px) / 9);
        }

        .department__permission--10 {
          width: calc((100% - 350px) / 10);
        }

        .header__decentralization {
          width: 100%;
          position: sticky;
          z-index: 100;
          top: 0;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          border: 1px solid var(--black-color);
          background: var(--primary-color-30);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

          &--item {
            padding: 1.2rem;
            height: 7.2rem;
            text-align: center;
            border-right: 1px solid var(--black-color);
            // flex: 1;
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.4rem;
            position: relative;

            &:last-child {
              border-right: 1px solid transparent;
            }

            .name--title {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              gap: 0 0.8rem;

              .icon__copy--title {
                width: 1.6rem;
                height: 1.6rem;
                fill: var(--primary-color);
                cursor: pointer;
              }
            }

            .list__option--permission {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: space-around;
              font-size: 1.3rem;
              font-weight: 500;
              border-top: 1px solid var(--black-color);

              .option__permission--item {
                border-right: 1px solid var(--black-color);
                height: 3rem;
                justify-content: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                &:last-child {
                  border-right: 1px solid transparent;
                }
              }
            }
          }

          .special {
            padding: 0;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            gap: 0.8rem 0;

            .search-container {
              padding: 0;

              .base-input {
                .base-input__input {
                  height: 3.2rem;

                  .icon {
                    width: 2.2rem;
                    height: 2.2rem;
                    top: 0.5rem;
                  }

                  input {
                    height: 3.2rem;
                  }
                }
              }
            }
          }
        }

        .body__decentralization {
          width: 100%;
          border-left: 1px solid var(--black-color);
          border-right: 1px solid var(--black-color);
          border-bottom: 1px solid var(--black-color);

          &--item {
            padding: 1.2rem 0 1.2rem;
            border-bottom: 1px solid var(--black-color);

            &:last-child {
              border-bottom: 1px solid transparent;
            }

            .decentralization__item {
              display: flex;
              flex-direction: column;
              font-size: 1.4rem;
              line-height: 2rem;
              letter-spacing: 0.25px;

              .name-function {
                font-weight: 600;
              }

              .lv-1 {
                padding-left: 1.2rem;
              }

              .lv-2 {
                padding-left: 4rem;
              }

              .permission__check {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .item__check--permission {
                  flex: 1;
                }
              }
            }

            .separation {
              border-top: 1px solid var(--black-color);

              &:first-child {
                border-top: 1px solid transparent;
              }
            }

            .resource--item {
              display: flex;
              flex-direction: row;
              font-size: 1.4rem;
              line-height: 2rem;
              letter-spacing: 0.25px;
              padding: 0.6rem 0;

              &:last-child {
                padding-bottom: 0;
              }

              .lv__children {
                padding-left: 4rem;
              }

              .lv__sub--children {
                padding-left: 7rem;
              }
            }
          }
        }
      }
    }
  }
}
