@import "@bpmn-io/form-js-editor/dist/assets/form-js-editor.css";
@import "@bpmn-io/form-js/dist/assets/form-js.css";

.fjs-container .fjs-powered-by {
    // display: none !important;

    // .fjs-form{
    //     .fjs-element{
    //         .js-vertical-layout{
    //             .fjs-layout-row{
    //                 .fjs-layout-column{
    //                     .fjs-element{
    //                         .fjs-form-field{
    //                             .fjs-vertical-layout{
    //                                 .fjs-layout-row{
    //                                     .fjs-layout-column{
    //                                         .fjs-element{
    //                                             .fjs-form-field{
    //                                                 .fjs-button{
    //                                                     border: 1px solid;
    //                                                 }
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

}




