.modal-send-email-quote-contract {
    .form-send-email-quote-contract {
      .modal-body{
        padding: 0;
        .wrapper-send-email {
            max-height: 42rem;
            overflow: auto;
            padding: 1.6rem;

            .list-customer{
                .container-list-customer{
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    display: flex;
                    padding: 0.5rem ;
                    flex-wrap: wrap;

                    .wrapper-user {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.6rem 1.2rem;
                        border-radius: 0.5rem;

                        .info-user {
                          display: flex;
                          align-items: center;
                          gap: 1.2rem;
                          font-size: 1.5rem;

                          img {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50rem;
                            overflow: hidden;
                          }
                        }

                        svg {
                          width: 2rem;
                          height: 2rem;
                          fill: var(--error-darker-color);
                          cursor: pointer;
                        }

                        // &:hover {
                        //   background-color: #e9eaeb;
                        // }
                    }

                    .notification-user {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;
                        color: var(--extra-color-50);
                        margin-left: 5px;
                    }
                }
            }

            .title-email {
                margin-top: 1rem;
                .base-input {
                  .base-input__input {
                    input {
                      font-size: 1.8rem;
    
                      &::placeholder {
                        font-size: 1.6rem;
                      }
                    }
                  }
                }
            }
    
            .wrapper-code-email {
              display: flex;
              flex-direction: column;
              padding-top: 0.6rem;

              .action-option {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  font-size: 1.4rem;
                  font-weight: 500;
                  color: var(--primary-color-90);
    
                  span {
                    cursor: pointer;
                  }
                }

              .list-code-email {
                  padding: 0.6rem 0 1.2rem 0;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  gap: 0.5rem 0.8rem;
                  padding-top: 0.6rem;

                  .name-code {
                      background-color: #5a6268;
                      padding: 0.2rem 0.6rem;
                      border-radius: 0.5rem;
                      font-size: 1.3rem;
                      color: var(--white-color);
                      cursor: pointer;

                      &:hover {
                          opacity: 0.8;
                      }
                  }
              }
              .code-email-select{
                width: 100%;
                .right{
                  width: 100%;
                  align-items: flex-start;
                  // [class*="-placeholder"] {
                  //   color: black;
                  // }
                }
              }
            }

            .form-group-editor {
                padding: 0.8rem 0 1.6rem;
            }

            .quote-attachment{
              .img-document {
                width: 15rem;
                cursor: pointer;
                position: relative;
                margin-top: 10px;
                margin-left: 15px;

                .info-document {
                  display: flex;
                  align-items: flex-start;
                  gap: 0 1rem;

                  .__avatar--doc {
                    width: 5rem;
                    height: 5rem;
                    overflow: hidden;
                    // border-radius: 50%;
                    flex-shrink: 0;

                    img {
                      object-fit: cover;
                      width: 5rem;
                      height: 5rem;
                    }
                  }

                  .__detail {
                    .name-document {
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      font-size: 1.5rem;
                      line-height: 1;
                      // max-width: 11rem;
                    }

                    .size-document {
                      font-size: 1.4rem;
                      line-height: 1.5;
                      color: var(--extra-color-50);
                    }

                    .download {
                      margin-top: 5px;
                      background-color: var(--white-color);
                      border-radius: 0.5rem;
                      width: 2.6rem;
                      height: 2.6rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border: 1px solid var(--extra-color-20);
                      cursor: pointer;
    
                      svg {
                        width: 1.8rem;
                        height: 1.8rem;
                        fill: var(--extra-color-50);
                      }
                    }
                  }
                }

                .action-download {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 0.3rem;
                  background-color: #00000091;
                  opacity: 0;
                  transition: opacity 0.5s ease-in-out;

                  span {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 0 0.5rem;
                    color: var(--white-color);
                    font-size: 1.5rem;

                    svg {
                      width: 2rem;
                      height: 2rem;
                      fill: var(--white-color);
                    }
                  }
                }

                &:hover {
                  .action-download {
                    opacity: 1;
                  }
                }
              }
            }

            .memo {
                .base-checkbox {
                    label {
                        font-size: 1.3rem;
                    }
                }
            }

            .choose-to--send {
            margin-top: 0.5rem;
            max-width: 30rem;

            .list-choose {
                margin-top: 1.2rem;
                background: var(--white-color);
                border-radius: 0.4rem;
                border: 1.5px dashed #e0e0e0;
                padding: 0.8rem 0.5rem 0.8rem 2.5rem;
                width: 100%;
                position: relative;
                margin-bottom: 1.2rem;

                .choose-item-header {
                background-color: var(--white-color);
                margin-bottom: 0.6rem;
                }

                .list-source-email {
                transition: all 0.5s ease-in-out;
                }

                .choose-item-footer {
                margin-top: 0.6rem;
                padding-top: 0.6rem;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 3.6rem;
                    left: 0;
                    width: 100%;
                    border-top: 1.8px solid #e0e0e0;
                }
                }
            }
            }
    
          }
      }  
     
    }
  }
  