.custom-cell-render {
  width: 100%;
  position: relative;
  .add-note {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.8rem;
    display: flex;
    align-items: center;
    // z-index: 1;
    cursor: pointer;
    svg {
      display: none;
    }

    &:hover::after {
      padding-top: 1rem;
      padding-left: 2px;
      display: block;
      background-color: var(--primary-color-50);
      width: 3rem;
      height: 100%;
      white-space: nowrap;
    }

    .popover {
      max-width: 60rem;
      max-height: 60rem !important;
    }
  }
  .note {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: -3px;
    right: 0px;
    border-left: 1.5rem solid transparent;
    border-top: 1.5rem solid red;
    .popover {
      max-width: 60rem;
      max-height: 60rem !important;
    }
    // &:hover {
    //   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    // }
  }
  .add-note:hover {
    background-color: var(--primary-color-10);
    padding-left: 0.4rem;
  }
  .add-note:hover svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: blue;
    display: block;
  }
  .content-cell-render {
    position: relative;
    width: calc(100% - 20px);
    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 20px;
      min-height: 40px;
      .circle-button-radio {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s, background-color 0.3s;
      }

      .circle-button-radio.active {
        border: 1px solid var(--primary-color);
        background: radial-gradient(circle, var(--primary-color) 40%, white 41%);
      }
    }
    .icon-error {
      border: 1px solid var(--error-color);
      border-radius: 50%;
      position: absolute;
      top: 26px;
      left: 2px;
      bottom: 0;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      cursor: pointer;
      color: red;
      font-size: 14px;
      z-index: 10;
    }
    .checkbox-cell {
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 0;
      .circle-button {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s, background-color 0.3s;
      }

      .circle-button.active {
        border: 1px solid red;
        background: radial-gradient(circle, red 40%, white 41%);
      }
    }
  }
  .content-cell-render-end {
    display: flex;
    justify-content: flex-end;
  }
}
