.modal-save-form {
    .form-save-form {
      .modal-body {
        padding: 0;
      }
  
      .list-form-group {
        padding: 1.6rem;
        max-height: 40rem;
        overflow: auto;
  

      }
    }
  }
  