.page-setting-report {
  h1 {
    color: var(--text-primary-color);
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-right: 1rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu {
    padding: 1.5rem;
    li {
      display: inline-block;
      width: 50%;
    }

    &__category {
      padding: 0 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      padding: 0.8rem 1rem;

      &:hover {
        background-color: var(--background-color-hover);
        font-weight: 500;
      }

      &--link {
        color: var(--extra-color);
        text-decoration: none;
        width: 100%;
        display: flex;
        padding: 1rem 0;
      }
    }
  }

  @media (max-width: 760px) {
    h1 {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 420px) {
    .menu {
      li {
        width: 100%;
      }
    }
  }
}
