.modal-view-chart {
    .form-view-chart {
      .modal-body {
        padding: 0;
      }
  
      .list-form-group {
        padding: 1.6rem;
        max-height: 48rem;
        overflow: auto;


      }
    }
  }
  