.wrapper__add--adjustment--slip {
  .action-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .action-backup {
      display: flex;
      align-items: center;

      h1 {
        color: var(--text-primary-color);
        font-size: 2.4rem;
        line-height: 2.8rem;
        padding-right: 1rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      .title-first {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .title-last {
        color: var(--extra-color-50);
      }

      svg {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
    }

    @media (max-width: 991px) {
      justify-content: flex-start;
      flex-direction: column;

      .action-backup {
        position: relative;

        .title-first {
          display: none;
        }

        svg {
          position: absolute;
          left: -1.4rem;
          padding-right: 0.5rem;
          transform: rotate(180deg);
        }

        .title-last {
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }

      .title-action {
        display: block !important;
        margin-left: 3rem;
        margin-top: 1rem;
      }
    }

    @media (max-width: 760px) {
      .title-action {
        margin-top: 0;
      }
    }

    @media (max-width: 420px) {
      .action-backup {
        .title-last {
          font-size: 2rem;
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }
    }
  }

  .box__adjustment--slip {
    margin-top: 2.5rem;
  }

  .header__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &--title {
      width: 100%;
      border-radius: 0.8rem 0.8rem 0 0;
      border-bottom: 1px solid var(--border-color);
      height: 5rem;
      letter-spacing: 0.25px;
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 0 2rem;
      color: var(--text-extra-color);
      display: flex;
      align-items: center;
      gap: 2.2rem;

      li {
        cursor: default;
        border-bottom: 3px solid transparent;
        padding: 1.5rem 0 1.2rem;
        transition: color 0.2s ease-in-out;
        border-bottom-color: var(--primary-color);
        color: var(--text-primary-color);
      }
    }
  }

  .info__top {
    padding: 2rem;

    .title--info {
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    .dept__inventory {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0rem 2rem;
    }
  }

  .info__body {
    margin: 1rem 0;

    .box__product {
      padding: 2rem;

      .lst__product--item {
        .product-item {
          padding: 2rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

          & + .product-item {
            margin-top: 1.6rem;
          }

          .avtar-pro {
            flex-shrink: 0;
            width: 14%;

            .name-ava {
              color: var(--text-primary-color);
              cursor: text;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
            }

            .ava {
              border-radius: 0.3rem;
              border: 1px solid var(--extra-color-30);
              width: 15rem;
              height: 15rem;
              padding: 1rem;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .dept__content {
            width: 82%;
            margin: 0.2rem auto 0;
            flex-shrink: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0rem 2rem;
          }

          .action__delete--item {
            width: 5%;
            flex-shrink: 0;
            position: relative;

            .icon-remove {
              position: absolute;
              top: -1.5rem;
              right: -0.1rem;
              width: 3rem;
              height: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 auto;
              border-radius: 0.3rem;
              background-color: var(--extra-color-10);
              cursor: pointer;

              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--extra-color-30);
              }

              &:hover {
                background-color: var(--primary-color-70);

                svg {
                  fill: var(--white-color);
                }
              }
            }
          }
        }

        .action__add--item--large {
          margin-top: 1.6rem;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 0 2rem;
        }
      }
    }
  }

  .info__bottom {
    padding: 2rem;

    // .title--info {
    //   font-weight: 600;
    //   margin-bottom: 1.5rem;
    // }

    .action__submit--form {
      //   padding: 1.6rem;
      //   margin-top: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 1.2rem;
      //   border-top: 1px solid var(--border-color);
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }

  @media (max-width: 1700px) {
    .info__body {
      .box__product {
        .lst__product--item {
          .product-item {
            .avtar-pro {
              width: 15%;
            }

            .action__delete--item {
              .icon-remove {
                right: 0.9rem;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1599px) {
    .info__body {
      .box__product {
        .lst__product--item {
          .product-item {
            .avtar-pro {
              width: 15%;
            }

            .dept__content {
              margin-left: 2rem;
            }

            .action__delete--item {
              .icon-remove {
                top: -1.8rem;
                right: 2.2rem;
              }
            }
          }
        }
      }
    }
  }
}
