.modal-detail-order{
    .form-detail-order {
      .container-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem;
        border-bottom: 1px solid var(--border-color);
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        .box-title {
          // display: flex;
          // align-items: center;
          // gap: 0 1rem;
          h4 {
            font-size: 1.8rem;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // width: calc(100% - 3rem);
            font-weight: 700;
            span {
              font-weight: 400;
            }
          }
        }
  
        .right-header {
          display: flex;
          gap: 0 1.5rem;
          .status {
            display: flex;
            align-items: center;
            justify-content: center;

            .base-badge {
              display: flex;
            }
          }
          .btn-close {
            opacity: 0.5;
            svg {
              fill: var(--black-color);
              color: var(--black-color);
            }
            &:hover,
            &:focus {
              opacity: 0.75;
              background: none;
              box-shadow: none;
            }
          }
        }
        
       
      }

      .kanban-order {
        display: flex;
        gap: 0 3rem;
        justify-content: center;
        .item-kanban {
          display: flex;
          
          .step-kanban {
            width: 3rem;
            height: 3rem;
            // border: 1px solid;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .product-order {
        margin-top: 2rem;

        .item-product {
          padding: 1rem 0;
          border-bottom: 1px solid var(--border-color);
          display: flex;
          justify-content: space-between;
          .body-product {
            
          }

          .box-value {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }

        .total-money {
          margin-top: 2rem;
          border-radius: 10px;
          background-color: var(--extra-color-10);
          padding: 1rem;
          .item-money {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 0.5px dashed;
          }
        }
      }

      .info-user {
        margin-top: 2rem;
        .item-info {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
          border-bottom: 0.5px dashed;
        }
      }
    }
  }