.modal-add-template {
  .form-add-template {
    .loading__wrapper {
      min-height: 20rem;
    }

    .view__detail--template {
      .box__view {
        .title-form {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 1.6rem;
        }

        .table__template {
          width: 100%;
          position: relative;
          font-size: 1.4rem;
          line-height: 2rem;
          letter-spacing: 0.25px;

          .table__template,
          th,
          td {
            border: 1px solid var(--extra-color-50);
            border-collapse: collapse;
          }

          thead {
            position: relative;
            z-index: 2;

            tr {
              th {
                padding: 1.2rem;
                white-space: nowrap;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 2rem;
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 0rem;
                transition: background-color 0.15s ease-in-out;
                vertical-align: middle;

                input {
                  border-color: transparent;
                }

                .base-select {
                  .select-custom {
                    div[class*="-control"] {
                      border-color: transparent;
                    }
                  }
                }

                &:hover {
                  background-color: var(--primary-color-10);
                }
                &:last-child {
                  td {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .wrapper__template {
      .lst-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;

        .item-template {
          border: 1.2px solid var(--extra-color-50);
          border-radius: 0.5rem;
          padding: 1rem;
          background-color: var(--extra-color-5);
          // width: 26rem;
          height: 12rem;
          cursor: pointer;

          &-active {
            background-color: var(--primary-color-10);
          }

          .header-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .view-item {
              background-color: var(--extra-color-30);
              border-radius: 50rem;
              padding: 0.3rem 1.2rem;
              font-size: 1.2rem;
              font-weight: 500;
              cursor: pointer;

              svg {
                width: 2rem;
                height: 2rem;
                margin-left: 0.5rem;
              }

              &:hover {
                opacity: 0.6;
              }
            }

            .check-item {
              svg {
                width: 1.6rem;
                height: 1.6rem;
                fill: var(--success-color);
              }
            }
          }

          .body-item {
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .name-item {
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}
