.modal__import--common {
    .wrapper__import--common {
      .box__import {
        transition: all 0.5s linear;
  
        .__loading {
          height: 18rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .box__update--file {
          .notify-message {
            background-color: rgba(var(--warning-color-rgb), 0.8);
            color: var(--white-color);
            padding: 0.8rem;
            border-radius: 0.3rem;
            margin-bottom: 2rem;
          }
          .support__upload--file {
            border: 1.5px dashed var(--extra-color-30);
            border-radius: 0.3rem;
  
            .__action-operation {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              padding: 3rem 2rem;
  
              .action-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
  
                svg {
                  width: 6rem;
                  height: 6rem;
                  fill: var(--primary-color-30);
                }
  
                h3 {
                  margin-bottom: 0;
                }
              }
  
              span {
                color: var(--extra-color-30);
                font-weight: 500;
                padding: 1rem 0;
              }
  
              .btn-upload--file {
                background-color: var(--primary-color-90);
                border-radius: 0.5rem;
                padding: 0.6rem 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                cursor: pointer;
  
                label {
                  margin: 0;
                  cursor: pointer;
                }
  
                &:hover {
                  background-color: var(--primary-color-70);
                }
              }
            }
  
            .show__file--upload {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background-color: var(--extra-color-10);
              padding: 2rem;
  
              .img__upload {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                width: 12rem;
                height: 12rem;
                overflow: hidden;
                border-radius: 0.2rem;
                padding: 1rem;
  
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
  
              .actions__change-file {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 2rem;
  
                .btn-change,
                .btn-remove {
                  cursor: pointer;
                  font-size: 1.4rem;
                }
  
                .btn-change {
                  color: var(--primary-color);
  
                  &:hover {
                    color: var(--primary-color-80);
                  }
                }
  
                .btn-remove {
                  color: var(--error-color);
  
                  &:hover {
                    color: rgba(var(--error-color-rgb), 0.8);
                  }
                }
              }
            }
          }
  
          .dragging {
            border-color: var(--primary-color-50);
          }
        }
  
        .file__example {
          margin-top: 3rem;
  
          a {
            padding-left: 0.5rem;
          }
        }
      }
    }
  
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
  
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
  
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  