.task-item {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  & + .task-item {
    margin-top: 1.2rem;
  }

  .task-infomation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.8rem 1.2rem;

    &:hover {
      background-color: var(--extra-color-5);
    }

    .task-body {
      padding: 1.8rem 0 0.3rem;

      .service-warranty,
      .employee-receive {
        display: flex;
        align-items: center;
        gap: 0 0.3rem;

        h4 {
          font-size: 1.3rem;
          font-weight: 400;
        }

        .title {
          &::after {
            content: ":";
            margin-left: 0.1rem;
          }
        }

        .name {
          font-weight: 500;
        }
      }
    }

    .task-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .time-task {
        display: flex;
        align-items: center;
        gap: 0 0.3rem;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
        color: #de350b;
        background-color: #ffebe6;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: #de350b;
        }
      }

      .avatar {
        width: 2.8rem;
        height: 2.8rem;
        overflow: hidden;
        border-radius: 50rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
