.resizable-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &.resizing {
    cursor: col-resize;
    user-select: none;
  }

  .resizable-left,
  .resizable-right {
    // height: 100%;
    flex-shrink: 0;
    overflow: hidden;
  }

  .resizer-bar {
    width: 12px;
    cursor: col-resize;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin: 0 -6px;
    transition: background-color 0.2s;

    &:hover,
    &.active {
      background-color: rgba(33, 150, 243, 0.1);
      .resizer-line {
        background-color: #2196f3;
      }
    }

    .resizer-line {
      width: 1px;
      height: 100%;
      background-color: #ddd;
      transition: all 0.2s;
    }

    .resizer-handle {
      display: none;
    }
  }
}
