.modal-add-management_fee_rate {
  .form-management_fee_rate-group {
    .modal-body {
      padding: 0;
    }

    .list-form-group {
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      max-height: 48rem;
      overflow: auto;

      .form-basic-info-management_fee_rate,
      .form-advanced {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;
      }

      .form-basic-info-management_fee_rate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .rate-per-m2 {
          width: 100%;
          grid-column: span 2;
        }
        .form-group
        .effective-date
        .expired-date{
          width: 100%;
        }
      }

      .form-advanced {
        margin-bottom: 1.2rem;

        .form-group {
          width: calc(50% - 1.6rem);

          &:nth-child(3) {
            width: 100%;
          }
        }
      }

      .form-dependent {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 3.2rem;
        margin-bottom: 1.2rem;

        .form-group {
          flex: 1;
        }
      }

      .establishment-timeline {
        padding: 2.2rem 0;

        .label {
          color: var(--text-primary-color);
          cursor: text;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2rem;
          margin-bottom: 0.5rem;
        }

        .founded__time--options {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0 3.2rem;

          .founded__day,
          .founded_month,
          .founded__day {
            width: 100%;

            div[class*="-MenuList"] {
              max-height: 30rem;
            }
          }
        }
      }
    }
  }
}
