.kanban__work {
  .lst__project {
    width: 100%;

    .swiper-button-next,
    .swiper-button-prev {
      top: 60%;
      background-color: var(--extra-color-50);
      border-radius: 50%;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.6rem;
      height: 3.6rem;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

      &::after {
        font-size: 1.8rem !important;
        font-weight: 700;
        color: var(--primary-color-90);
      }
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-disabled {
      cursor: no-drop;
    }

    .swiper-wrapper {
      padding: 0 4.6rem;
    }

    .custom-slide {
      width: auto !important;
      max-width: 50rem;
    }

    .info__project {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--extra-color-30);
      border-radius: 0.5rem;
      cursor: pointer;

      .name {
        padding: 1rem 1.2rem;
        margin-bottom: 0;
        font-size: 1.5rem;
      }

      &:hover {
        background-color: var(--extra-color-10);
      }

      &.active__project {
        background-color: var(--extra-color-30);
        cursor: default;

        &:hover {
          background-color: var(--extra-color-30);
        }
      }
    }
  }

  .desc__task--work {
    display: flex;
    align-items: flex-start;
    gap: 0 2rem;
    margin-top: 4rem;
  }

  .task-list {
    border-radius: 0.5rem;
    width: 32rem;
    overflow: hidden;

    .wrapper__title {
      .info__work {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0 0.8rem;
        padding: 1.5rem 1.5rem 0;

        .name {
          font-size: 1.3rem;
          font-weight: 600;
          background-color: rgba(var(--success-color-rgb), 0.3);
          color: var(--text-primary-color);
          padding: 0.2rem 1rem;
          border-radius: 5px;
          align-self: flex-start;
        }

        .total-task {
          font-weight: 600;
        }
      }
    }

    &:first-child {
      .wrapper__title {
        .name {
          background-color: #dfe1e6;
        }
      }
    }

    &:nth-child(2) {
      .wrapper__title {
        .name {
          background-color: #deebff;
        }
      }
    }

    &:nth-child(3) {
      .wrapper__title {
        margin-bottom: 1.5rem;
      }
    }

    &:nth-child(4) {
      .wrapper__title {
        margin-bottom: 1.5rem;
        .name {
          background-color: #ff463b;
        }
      }
    }

    &:last-child {
      .wrapper__title {
        .name {
          background: rgba(var(--warning-color-rgb), 0.5);
        }
      }
    }

    .lst__task--work {
      min-height: 5rem;

      .lst__task {
        max-height: 53.5rem;
        overflow: auto;
        // padding-bottom: 1.5rem;
      }

      .action__add--work {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 0.5rem;
        background-color: var(--white-color);
        border-radius: 0.5rem;
        padding: 0.8rem 1.2rem;
        margin: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;

        svg {
          width: 2rem;
          height: 2rem;
        }

        &:hover {
          color: var(--success-color);
          svg {
            fill: var(--success-color);
          }
        }
      }
    }
  }

  .loading__wrapper {
    margin: 0 auto;
  }

  .system-notification {
    margin: 0 auto;
    margin-top: 10rem;
  }
}
