.modal-edit-customer {
    .form-edit-customer{
      .modal-body {
          padding: 0;
      }
        .box-edit-customer{
            padding: 1.6rem;
            max-height: 48rem;
            overflow: auto;
            
              .list-form-group{
                display: flex;
                gap: 0rem 1.8rem;
                flex-wrap: wrap;
                  .form-group{
                    width: calc(50% - 1.6rem);
                  }
              }
  
 
        }
        
    }
    
}