.modal-add-tip-group-config {
  .form-tip-group-config {
    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;
    }

    .form-group {
      width: calc(50% - 1.6rem);

      &:first-child,
      &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(2) {
        display: flex;
        align-items: flex-end;
        gap: 4rem;
      }
    }
  }
}
