.modal-history-OLA {
    .form-history-OLA {
        .modal-body {
            overflow: auto;
            padding: 0;
        }
        .list-history-OLA {
            .box-table {
                margin-top: 0;
            }
        }
    }
}