.page-work-table-by-group {
  .card-box {
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .title-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 1.2rem;
      .title-header-left {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0 2rem;
        justify-content: flex-start;
        .title {
          font-size: 2.4rem;
          font-weight: 600;
        }
        .full-page {
          // position: absolute;
          // top: 0.8rem;
          // right: 8.2rem;

          .btn-full-page {
            svg {
              width: 2rem;
              height: 2rem;
            }
            // padding: 0.8rem 1rem;
          }
        }
        .select-group-by {
          min-width: 20rem;
        }
      }

      .title-header-right {
        .add-work {
          margin-top: 1.2rem;
          margin-right: 1.2rem;

          .base-button {
            width: 2.5rem;
            // padding: 0.8rem 1rem;
          }
        }
      }
    }
    .action-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
      border-bottom: 1px solid var(--border-color);
      .action-header-left {
        // padding-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0 2rem;
        justify-content: flex-start;
        .full-page {
          // position: absolute;
          // top: 0.8rem;
          // right: 8.2rem;

          .btn-full-page {
            svg {
              width: 2rem;
              height: 2rem;
            }
            // padding: 0.8rem 1rem;
          }
        }
        .select-group-by {
          min-width: 20rem;
        }
      }
      .action-header-right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 0 1.6rem;
        .filter {
          display: flex;
          align-items: flex-end;
          gap: 0 0.8rem;
          justify-content: flex-start;
          .item-filter-right {
            min-width: 25rem;
          }
        }
      }
    }

    .list-table {
      margin-top: 1rem;
      .collapsible-work-by-group {
        button:focus,
        button:active {
          outline: none;
          // box-shadow: none;
          // border: 1px solid var(--border-color);
        }
        .collapsible__header {
          width: 40%;
          // border: 1px solid var(--border-color);
          .collapse-header {
            display: flex;
            align-items: center;
            justify-content: start;
            .group-name {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 0 1rem;
              border: 1px solid var(--border-color);
              padding: 1rem;
              // background-color: #00b499;
              border-radius: 1rem;
              font-weight: 600;
              svg {
                width: 1.6rem;
                height: 1.6rem;
                fill: var(--white-color);
              }
            }
            .number-work {
              margin-left: 1rem;
              font-size: 1.4rem;
              color: var(--text-secondary-color);
            }
            .add-work {
              margin-left: 2rem;

              .base-button {
                width: 2.5rem;
                // padding: 0.8rem 1rem;
              }
            }
          }
        }
      }

      .box-table {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
        .box-table__wrapper {
          .table {
            thead {
              tr {
                border: none;
                th {
                  padding: 1rem 0.6rem;
                }
              }
            }
            tbody {
              tr {
                border: none !important;
                td {
                  padding: 0.6rem;
                  .content {
                    margin-bottom: 0;
                    cursor: pointer;
                  }

                  .name-work {
                    cursor: pointer;
                  }

                  .percent__finish--work {
                    position: relative;
                    cursor: pointer;

                    .value-percent {
                      width: 3.5rem;
                      height: 3.5rem;

                      .CircularProgressbar-text {
                        font-size: 3rem;
                        font-weight: 600;
                      }
                    }
                  }

                  .status-unfulfilled,
                  .status-success,
                  .status-processing,
                  .status-cancelled,
                  .status-pause,
                  .status-processing--waring {
                    height: 2.4rem;
                    border-radius: 1.2rem;
                    background: var(--primary-color);
                    display: inline-block;
                    padding: 0 1.2rem;
                    color: #fff;
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    font-weight: 500;
                    justify-content: center;
                    align-items: center;
                    min-width: 9rem;
                  }

                  .status-unfulfilled {
                    background-color: var(--extra-color-50);
                  }

                  .status-success {
                    background-color: var(--success-color);
                  }

                  .status-processing {
                    background-color: var(--primary-color);
                  }

                  .status-processing--waring {
                    background-color: var(--warning-color);
                  }

                  .status-cancelled {
                    background-color: var(--error-color);
                  }

                  .status-pause {
                    background-color: var(--warning-darker-color);
                  }
                }
              }
            }
          }
        }
        .pagination {
          padding: 1rem 2rem;
        }
      }
    }
  }
}
