.payment__bill--item {
  .title__payment--bill {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .info__contract{
    display: flex;
    flex-wrap: wrap;
    // gap: 1.2rem 3.2rem;

    .form-group {
      width: calc(32% - 1.6rem);
    }
    border: 1px solid;
  }

  .form__payment--bill {



    .list-form-group,
    .list__contract--attribute {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;
     

      .form-group {
        width: calc(32% - 1.6rem);
        .radio-list {
          .form-group {
            width: 100%;

            .base-checkbox{
              margin-top: 0;
            }
          }
        }
      }

      .label-title {
        width: 100%;
        font-weight: 600;
        margin-top: 2rem;
        border-top: 1px dashed #ddd;
        padding-top: 2rem;
      }    


      .select-custom,
      .select__custom-label {
        // opacity: 0.6;

        div[class*="-control"] {
          // cursor: no-drop;
          padding: 0rem 0rem 0rem 1.2rem
        }
      }
      
      .selected--item {
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
        line-height: 1.1;

        .avatar {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50rem;
          overflow: hidden;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .action__apply--payment {
      position: relative;
      padding: 1.6rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 1.2rem;
      border-top: 1px solid var(--border-color);
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;

      .side__action {
        display: flex;
        align-items: center;
        gap: 0 1.2rem;
      }
    }

    .container_service{
      margin-top: 2rem;
      border: 1px dashed var(--extra-color-30);
      border-radius: 5px;
      padding: 1rem 1.2rem 1rem 1.2rem;

      .header_service{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title_service{
          // font-size: 1.4rem;
          font-weight: 600;
        }

        .add-service {
          .add-button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            // border: 1px solid;
            border-radius: 5px;
            background-color: var(--success-color);
            cursor: pointer;
          }
          .base-button {
            
          }
        }
      }

      

      .list_service{
        margin-top: 1.5rem;
        // border: 1px solid;

        .box__table--warehousing {
          // padding: 2rem;
          // margin-top: 1rem;
          // overflow: auto;
      
      
          .table__create {
            width: 100%;
            position: relative;
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: 0.25px;
      
      
            thead {
              background: var(--primary-color-5);
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
              position: sticky;
              z-index: 10;
              top: -2rem;
      
      
              tr {
                th {
                  padding: 1.6rem;
                  white-space: nowrap;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 2.4rem;
                  &.checkbox {
                    width: 5.6rem;
                    max-width: 5.6rem;
                    padding: 1.6rem 0.8rem 1.6rem 2.4rem;
                    .base-checkbox {
                      z-index: 2;
                      position: relative;
                    }
                  }
                  &.image {
                    max-width: 7.4rem;
                    width: 7.4rem;
                  }
                  &.actions {
                    width: 1%;
                    white-space: nowrap;
                  }
                }
              }
            }
      
      
            tbody {
              tr {
                td {
                  border-bottom: 1px solid var(--extra-color-20);
                  padding: 1.6rem;
                  transition: background-color 0.15s ease-in-out;
                  vertical-align: middle;
      
      
                  &.vat__pro {
                    width: 10rem;
                  }
      
      
                  &.box__info--pro {
                    max-width: 45rem;
                    min-width: 20rem;
      
      
                    .info__pro {
                      display: flex;
                      align-items: flex-start;
                      gap: 0 2rem;
      
      
                      span {
                        color: var(--primary-color-90);
                        font-weight: 600;
                      }
                    }
                  }
                  
                  &.code {
                    // width: 14rem;
                    input {
                      width: 10rem;
                    }

                    .base-select {
                      width: 12rem;
                    }
                  }

                  &.name {
                    // width: 30rem;

                    input {
                      width: 25rem;
                    }
                  }

                  &.quantity {
                    input {
                      width: 11rem;
                    }
                  }

                  &.cost {
                    width: 14rem;

                    input {
                      width: 16rem;
                    }
                  }

                  &.total_cost {
                    width: 20rem;

                    input {
                      width: 16rem;
                    }
                  }

                  &.vat {
                    width: 12rem;
                    input {
                      width: 5rem;
                    }
                  }

                  &.supplier {
                    width: 24rem;
                    input {
                      width: 25rem;
                    }
                    .base-select {
                      width: 25rem;
                    }
                  }
      
                  .has-disabled {
                    input {
                      opacity: 1;
                    }
                  }
      
      
                  .action__delete--item {
                    cursor: pointer;
                    svg {
                      width: 2rem;
                      height: 2rem;
                      fill: var(--error-darker-color);
                    }
                  }
                }
      
      
                &:last-child {
                  td {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      
      }
    }

    .container_template_contract{
      // border: 1px solid;
      margin-top: 2rem;
      .title_template {
        font-size: 1.4rem;
        font-weight: 700;
      }

      .box_template{
        .box__update--attachment {
          margin-top: 0.8rem;
          margin-bottom: 2rem;
          width: calc(45% - 1.6rem);
          .notify-message {
            background-color: rgba(var(--warning-color-rgb), 0.8);
            color: var(--white-color);
            padding: 0.8rem;
            border-radius: 0.3rem;
            margin-bottom: 2rem;
          }
          .support__upload--file {
            border: 1.5px dashed var(--extra-color-30);
            border-radius: 0.3rem;
  
            .__action-operation {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              padding: 1.5rem 2rem;
  
              .action-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
  
                svg {
                  width: 6rem;
                  height: 6rem;
                  fill: var(--primary-color-30);
                }
  
                h3 {
                  margin-bottom: 0;
                }
              }
  
              span {
                color: var(--extra-color-30);
                font-weight: 500;
                padding: 1rem 0;
              }
  
              .btn-upload--file {
                background-color: var(--primary-color-90);
                border-radius: 0.5rem;
                padding: 0.6rem 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                cursor: pointer;
  
                label {
                  margin: 0;
                  cursor: pointer;
                }
  
                &:hover {
                  background-color: var(--primary-color-70);
                }
              }
            }
  
            .show__file--upload {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background-color: var(--extra-color-10);
              padding: 2rem;
  
              .img__upload {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                width: 30rem;
                // min-width: 12rem;
                // max-width: 30rem;
                height: 12rem;
                overflow: hidden;
                border-radius: 0.2rem;
                padding: 1rem;
                display: flex;
                justify-content: center;
  
                img {
                  width: 70%;
                  height: 85%;
                  object-fit: contain;
                }

                .download {
                  background-color: var(--white-color);
                  border-radius: 0.5rem;
                  width: 2.6rem;
                  height: 2.6rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid var(--extra-color-20);
                  cursor: pointer;

                  svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--extra-color-50);
                  }
                }
              }
  
              .actions__change-file {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 2rem;
  
                .btn-change,
                .btn-remove {
                  cursor: pointer;
                  font-size: 1.4rem;
                }
  
                .btn-change {
                  color: var(--primary-color);
  
                  &:hover {
                    color: var(--primary-color-80);
                  }
                }
  
                .btn-remove {
                  color: var(--error-color);
  
                  &:hover {
                    color: rgba(var(--error-color-rgb), 0.8);
                  }
                }
              }
            }
          }
          .dragging {
            border-color: var(--primary-color-50);
          }
  
          .is__loading--file {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 19.4rem;
            border-radius: 0.3rem;
            border: 1.5px dashed var(--extra-color-30);
            background-color: var(--extra-color-5);
  
            svg {
              width: 3rem;
              height: 3rem;
              animation: circular 1s linear infinite;
            }
  
            .name-loading {
              font-size: 1.3rem;
              font-weight: 500;
              color: var(--extra-color-50);
            }
  
            @keyframes circular {
              from {
                transform: rotate(0);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }
        }
  
      .file__example {
          margin-top: 3rem;
  
          a {
              padding-left: 0.5rem;
          }
      }
      }
    }
  }
}
