.full-width-renderer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  //   background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .full-width-renderer--no {
    // width: 80px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: start;
      padding-left: 10px;
      width: calc(100% - 15px);
    }
    .icon-popover {
      visibility: hidden;
      cursor: pointer;

      .button-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 24px;
        border: none;
        background: transparent;
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
        &:hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.1);
        }
        .button-content {
          padding-bottom: 4px;
        }
      }
    }
    .base-input {
      box-shadow: 0px 0px 3px 1px #34aadc;
      border-radius: 3px;
      height: 92%;
      width: 100%;
      label {
        height: 100%;
        .base-input__input {
          height: 100%;
          padding-left: 5px;
          input {
            height: 100%;
            padding: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  .full-width-renderer--no:hover .icon-popover {
    visibility: visible;
  }
  .full-width-renderer--no.level-1 {
    .text-truncate {
      color: #ff0000;
      font-weight: bold;
      font-size: 22px;
    }
  }
  .full-width-renderer--no.level-2 {
    .text-truncate {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .full-width-renderer--no.level-3 {
    .text-truncate {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .full-width-renderer--no.level-4 {
    .text-truncate {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .full-width-renderer--no.level-5 {
    .text-truncate {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .full-width-renderer--content {
    cursor: pointer;
    // width: 80px;
    padding: 10px 18px;
  }
  .full-width-renderer--content.level-1 {
    color: #ff0000;
    font-weight: bold;
    font-size: 22px;
  }
  .full-width-renderer--content.level-2 {
    // color: #008000;
    font-weight: bold;
    font-size: 20px;
  }
  .full-width-renderer--content.level-3 {
    // color: #ffa500;
    font-weight: bold;
    font-size: 18px;
  }
  .full-width-renderer--content.level-4 {
    // color: #ff0000;
    font-weight: bold;
    font-size: 16px;
  }
  .full-width-renderer--content.level-5 {
    // color: #800080;
    font-weight: bold;
    font-size: 14px;
  }
}
