.page-contact {
  .action-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .action-backup {
      display: flex;
      align-items: center;

      h1 {
        color: var(--text-primary-color);
        font-size: 2.4rem;
        line-height: 2.8rem;
        padding-right: 1rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title-first {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .title-last {
        color: var(--extra-color-50);
      }

      svg {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
    }

    @media (max-width: 991px) {
      justify-content: flex-start;
      flex-direction: column;

      .title-action {
        display: block !important;
      }
    }

    @media (max-width: 760px) {
      flex-direction: column;

      .action-backup {
        position: relative;

        .title-first {
          display: none;
        }

        svg {
          position: absolute;
          left: -1.4rem;
          padding-right: 0.5rem;
          transform: rotate(180deg);
        }

        .title-last {
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }

      .title-action {
        margin-left: 3rem;
      }
    }

    @media (max-width: 420px) {
      .action-backup {
        .title-last {
          font-size: 2rem;
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }
    }

    @media (max-width: 370px) {
      .action-backup {
        .title-last {
          width: 80%;
          white-space: nowrap;
        }
      }
    }
  }

  .card-box {
    .quick__search {
      width: 100%;
      padding: 2rem 2rem 0.6rem 2rem;
      display: flex;
      // align-items: center;
      justify-content: space-between;
      @media (min-width: 2000px) {
        gap: 0 3rem;
      }
      .quick__search--left-swiper {
        // max-width: 38%;
        // display: flex;
        align-items: center;
        flex: 1;
        // border: 1px solid;

        .relationship-slider {
          display: flex;
          align-items: center;
          position: relative;
          // padding: 0 2rem;

          .swiper-button-prev,
          .swiper-button-next {
            cursor: pointer;
            background-color: var(--extra-color-10);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            padding: 1rem 0.6rem;

            &::after {
              font-size: 2.4rem;
              text-align: center;
              color: var(--black-color);
              font-weight: 500;
            }
          }

          .swiper-button-disabled {
            cursor: no-drop;
            opacity: 0.8;
            background-color: var(--extra-color-5);
            pointer-events: all;
          }

          .swiper-button-prev {
            left: 0 !important;

            &::after {
              // content: "\276C";
            }
          }

          .swiper-button-next {
            right: 0 !important;

            &::after {
              // content: "\276D";
            }
          }

          .list__relationship--slide-first {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px !important;
            margin-left: 30px;

            .item-relationship {
              padding: 0.7rem 1.8rem;
              text-align: center;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border-radius: 0.5rem;
              flex: 1;
              white-space: nowrap;
              opacity: 0.9;
            }

            .active__item-block {
              border: 1px dashed var(--black-color);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
              opacity: 1;
            }
            li {
              padding: 0.6rem 0.8rem;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border: 1px solid var(--extra-color-50);
              width: 100px !important;

              &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              }

              &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
              }

              &:hover {
                background-color: var(--extra-color-50);
                color: var(--white-color);
              }

              &.active {
                background-color: var(--extra-color-50);
                color: var(--white-color);
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              &.unactive {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: var(--extra-color-50);
                // color: var(--white-color);
              }
            }
          }

          .list__relationship--slide {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 198px !important;

            .item-relationship {
              padding: 0.7rem 1.8rem;
              text-align: center;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border-radius: 0.5rem;
              flex: 1;
              white-space: nowrap;
              opacity: 0.9;
            }

            .active__item-block {
              border: 1px dashed var(--black-color);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
              opacity: 1;
            }
            li {
              padding: 0.6rem 0.8rem;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border: 1px solid var(--extra-color-50);
              min-width: 198px !important;

              &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              }

              &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
              }

              &:hover {
                background-color: var(--extra-color-50);
                color: var(--white-color);
              }

              &.active {
                background-color: var(--extra-color-50);
                color: var(--white-color);
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              &.unactive {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: var(--extra-color-50);
                // color: var(--white-color);
              }
            }
          }
        }
      }

      .quick__search--left {
        // max-width: 38%;
        display: flex;
        align-items: center;
        flex: 1;
        // border: 1px solid;

        li {
          padding: 0.6rem 0.8rem;
          font-size: 1.4rem;
          cursor: pointer;
          font-weight: 500;
          border: 1px solid var(--extra-color-50);

          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }

          &:hover {
            background-color: var(--extra-color-50);
            color: var(--white-color);
          }

          &.active {
            background-color: var(--extra-color-50);
            color: var(--white-color);
            white-space: nowrap;
          }

          &.unactive {
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: var(--extra-color-50);
            // color: var(--white-color);
          }
        }
      }

      .quick__search--right {
        @media (min-width: 2000px) {
          flex: 1;
        }

        @media (max-width: 2000px) {
          width: 60%;
        }

        .relationship-slider {
          display: flex;
          align-items: center;
          position: relative;
          // padding: 0 2rem;

          .swiper-button-prev,
          .swiper-button-next {
            cursor: pointer;
            background-color: var(--extra-color-10);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            padding: 1rem 0.6rem;

            &::after {
              font-size: 2.4rem;
              text-align: center;
              color: var(--black-color);
              font-weight: 500;
            }
          }

          .swiper-button-disabled {
            cursor: no-drop;
            opacity: 0.8;
            background-color: var(--extra-color-5);
            pointer-events: all;
          }

          .swiper-button-prev {
            left: 0 !important;

            &::after {
              // content: "\276C";
            }
          }

          .swiper-button-next {
            right: 0 !important;

            &::after {
              // content: "\276D";
            }
          }

          .list__relationship--slide {
            display: flex;
            align-items: center;
            justify-content: center;

            .item-relationship {
              padding: 0.7rem 1.8rem;
              text-align: center;
              font-size: 1.4rem;
              cursor: pointer;
              font-weight: 500;
              border-radius: 0.5rem;
              flex: 1;
              white-space: nowrap;
              opacity: 0.9;
            }

            .active__item-block {
              border: 1px dashed var(--black-color);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
              opacity: 1;
            }
          }
        }

        .list__relationship {
          display: flex;
          align-items: center;
          gap: 0 0.6rem;
          transition: all 0.3s ease-in-out;

          .relationship-item,
          .active__relationship--item {
            padding: 0.7rem 1.8rem;
            text-align: center;
            font-size: 1.4rem;
            cursor: pointer;
            font-weight: 500;
            border-radius: 0.5rem;
          }

          .relationship-item {
            opacity: 0.9;
          }

          .active__relationship--item {
            border: 1px dashed var(--black-color);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            opacity: 1;
          }
        }
      }
    }

    .custom-header {
      position: relative;

      button {
        outline: none;
        border: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0.8rem;
        border-radius: 0.3rem;
        width: 3rem;
        height: 3rem;

        span {
          display: block;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover:not(:disabled):not([disabled]),
        &:focus:not(:disabled):not([disabled]) {
          outline: none;
        }

        &:active:not(:disabled):not([disabled]) {
          outline: none;
        }

        &:hover:not(:disabled):not([disabled]),
        &:focus:not(:disabled):not([disabled]),
        &:active:not(:disabled):not([disabled]) {
          background-color: var(--extra-color-10);
        }

        &:hover {
          background-color: var(--extra-color-10);

          svg {
            fill: var(--success-darker-color);
          }
        }
      }
    }

    .lst__action--cell {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .item__action {
        cursor: pointer;

        svg {
          width: 2rem;
          height: 2rem;
        }

        &.update {
          svg {
            fill: var(--primary-color);
          }
        }

        &.delete {
          svg {
            fill: var(--error-darker-color);
          }
        }
      }
    }

    .contact-exchange {
      cursor: pointer;
      text-decoration: none;
      color: var(--text-primary-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.popover-column-header {
  .triangle {
    right: 1rem;
  }
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0;
  width: 30rem;
  max-height: 50rem;

  .box__add--column {
    .select-field {
      font-size: 1.3rem;
      font-weight: 500;
      display: block;
      color: var(--extra-color-50);
      padding: 0.5rem 0.8rem;
    }

    .search-column {
      padding: 0 0.8rem 1.2rem;
    }

    .lst__columns {
      padding: 0 0.8rem 1.2rem;
      overflow: auto;
      max-height: 28rem;

      &--show {
        .summary__qty--column {
          display: flex;
          align-items: center;
          gap: 0 1rem;
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--extra-color-50);
          margin-bottom: 0.5rem;

          .qty-total {
            background-color: var(--primary-color-10);
            font-size: 1.3rem;
            padding: 0.2rem 1rem;
            border-radius: 0.3rem;
          }
        }
      }

      &--hide {
        margin-top: 1rem;

        .title__hide--column {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--extra-color-50);
          margin-bottom: 0.5rem;
        }
      }

      &--show,
      &--hide {
        .lst__items {
          .radio-list {
            .form-group {
              .base-checkbox {
                & + .base-checkbox {
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
    }

    .action__confirm {
      border-top: 1px solid var(--extra-color-30);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 1rem;
      padding: 0.8rem;

      .base-button {
        padding: 0.6rem 2.4rem;
        font-size: 1.4rem;
      }
    }
  }
}
