.modal-add-decision {
  .modal-dialog--xxl {
    max-width: 1200px;
    .list-field-item {
      .list-condition,
      .list-decision {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.8rem;
        .item {
          width: 100%;
        }
      }
    }
  }
  .modal-dialog--full {
    .list-field-item {
      .list-condition,
      .list-decision {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
        .item {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .list-field-item {
        .list-condition,
        .list-decision {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0.8rem;
          .item {
            width: 100%;
          }
        }
      }
    }
  }

  .form-add-reason-group {
    .modal-body {
      padding: 0;
      max-height: calc(100vh - 20rem);
      overflow: auto;
    }
    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .container-button {
        display: flex;
        align-items: center;
      }
      h4 {
        font-size: 1.8rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // width: calc(100% - 3rem);
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .btn-close {
        opacity: 0.5;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
      .btn-setting {
        opacity: 0.5;
        margin-right: 10px;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
          width: 2.3rem;
          height: 2.3rem;
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
    }

    .list-form-group {
      display: flex;
      flex-direction: column;
      padding: 1.6rem;
      .base-input__wrapper {
        label {
          font-size: 1.75rem;
          font-weight: 500;
        }
      }
    }

    .list-field-item {
      width: 100%;

      .list-condition,
      .list-decision {
        margin-bottom: 1.6rem;
        width: 100%;
        border: 1px dashed #d9d9d9;
        border-radius: 0.4rem;
        display: grid;
        // grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
        gap: 2rem;
        .item {
          padding: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          border: 1px solid #d9d9d9;
          border-radius: 0.4rem;
        }
      }
      .list-condition {
        .item {
          .item-name {
            width: 30%;
            white-space: nowrap; /* Không cho phép xuống dòng */
            overflow: hidden; /* Ẩn phần văn bản vượt quá chiều rộng */
            text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản bị cắt */
            border-right: 1px solid #d9d9d9;
          }
          .item-condition {
            width: 24%;
            border-right: 1px solid #d9d9d9;
            padding-right: 5px;
          }
          .item-input {
            width: 44%;
            .component-compare-in {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              max-width: 40rem;
              // flex-wrap: wrap;
              overflow: scroll;
              .value-compare-in {
                padding: 2px 5px;
                border: 1px solid var(--border-color);
                background: linear-gradient(to bottom, var(--white-color), var(--extra-color-5));
                border-radius: 2px;
                white-space: nowrap;
              }
              .add-value-compare-in {
                cursor: pointer;
              }
            }
            .item-input-between {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .base-input {
                margin-top: 0px;
              }
            }
          }
        }
      }
      .list-decision {
        .item-name-decision {
          width: 48%;
          white-space: nowrap; /* Không cho phép xuống dòng */
          overflow: hidden; /* Ẩn phần văn bản vượt quá chiều rộng */
          text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản bị cắt */
          border-right: 1px solid #d9d9d9;
        }

        .item-input-decision {
          width: 48%;
          .component-compare-in {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            max-width: 40rem;
            // flex-wrap: wrap;
            overflow: scroll;
            .value-compare-in {
              padding: 2px 5px;
              border: 1px solid var(--border-color);
              background: linear-gradient(to bottom, var(--white-color), var(--extra-color-5));
              border-radius: 2px;
              white-space: nowrap;
            }
            .add-value-compare-in {
              cursor: pointer;
            }
          }
          .item-input-between {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .base-input {
              margin-top: 0px;
            }
          }
        }
      }

      .status_active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
