.page-add-gift {
  .form-gift-group {
    padding: 1.6rem;

    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;
      margin-bottom: 1.6rem;

      .upload-image {
        width: 100%;
      }

      .form-group {
        width: calc(50% - 1.6rem);

        &:nth-child(3) {
          .radio-list {
            .form-group {
              display: flex;
              align-items: flex-end;
              gap: 1.2rem;
            }
          }
        }

        &:nth-last-child(1) {
          width: 100%;
        }
      }
    }
  }
}
