.modal-view-noti {
    .container-view-noti {
      .modal-body {
        padding: 0;
      }

      .container-noti-body{
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        max-height: 52rem;
        overflow: auto;

        .title-noti{
          // border: 1px solid;
          // padding: 1.6rem;
          margin-bottom: 1rem;
  
        }
      }

     
  

    }
  }
  