.custom-header-menu {
  z-index: 9999999999;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding: 4px 0;

  &__item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
    &:hover {
      background: #f5f5f5;
    }

    &--setting {
      svg {
        width: 20px;
        height: 20px;
        fill: blue;
        margin-right: 2px;
      }
    }
    &--delete {
      color: red;
      svg {
        width: 20px;
        height: 20px;
        fill: red;
        margin-right: 2px;
      }
    }
  }
}
