.modal-create-opportunity-b2b {
    .form-create-opportunity-b2b-group {
      .modal-body {
        padding: 0;
      }
      .update__opportunity {
        &--header {
          .menu__list {
            border-radius: 0.8rem 0.8rem 0 0;
            border-bottom: 1px solid var(--border-color);
            padding: 0 2rem;
            height: 5rem;
            letter-spacing: 0.25px;
            font-size: 1.4rem;
            line-height: 2rem;
            display: flex;
            align-items: center;
            gap: 2.4rem;
            color: var(--text-primary-color);
  
            .menu-item {
              display: block;
              border-bottom: 3px solid transparent;
              padding: 1.5rem 0 1.2rem;
              transition: color 0.2s ease-in-out;
              cursor: pointer;
            }
  
            .active__item--menu {
              border-color: var(--primary-color);
              cursor: default;
            }
          }
        }
      }
  
      .box__campaign--b2b {
        .action--campaign {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 0.8rem 1.2rem 0.8rem 0;
  
          .base-button {
            padding: 0.8rem 2rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
  
            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }
  
        .table__campaign {
          max-height: 42rem;
          overflow: auto;
  
          .box-table {
            margin-top: 1rem;
          }
          .system-notification {
            padding: 1rem 2.4rem 1.5rem;
          }
        }
      }
  
      .list-form-group,
      .lst__form--b2b {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 3rem;
  
        .form-group {
          .base-select {
            .select-custom {
              div[class*="-menu"] {
                & > div {
                  max-height: 15rem;
                }
              }
            }
          }
        }
      }
  
      .list-form-group {
        padding: 1.6rem;
  
        .form-group {
          width: calc(50% - 1.6rem);
  
          .radio-list {
            .form-group {
              display: flex;
              align-items: center;
              gap: 0 1.8rem;
              margin-top: 0.6rem;
              width: 100%;
  
              .base-radio {
                margin-top: 0;
              }
            }
          }
        }
      }
  
      .lst__form--b2b {
        padding: 1rem 1.6rem;
  
        .form-group {
          width: calc(50% - 1.6rem);
        }
      }
    }
  }
  