.page-setting-campaign-pipeline {
  
    .card-box{
      .button_add_pipeline {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // border: 1px solid;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border-radius: 5px;
        background-color: var(--primary-bg-color);

        svg {
          width: 1.8rem;
          height: 1.8rem;
          // fill: var(--extra-color-50);
          fill: white;
        }
        &:hover {
          background-color: var(--primary-color);
          // svg {
          //   fill: var(--primary-color-90);
          // }
          // .title_button{
          //   color: var(--primary-color-90);
          // }
        }

        .title_button {
          font-size: 14px;
          font-weight: 400;
          margin-left: 5px;
          color: white;
        }
      }
      .action-header {
        display: flex;
        flex-direction: column;
        .title__actions {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
    
          .menu-list {
            border-radius: 0.8rem 0.8rem 0 0;
            border-bottom: 1px solid var(--border-color);
            padding: 0 2rem;
            height: 5rem;
            letter-spacing: 0.25px;
            font-size: 1.4rem;
            line-height: 2rem;
            color: var(--text-extra-color);
            display: flex;
            align-items: center;
            gap: 2.3rem;
            width: 100%;
    
            li {
              display: flex;
              align-items: center;
              gap: 0 0.2rem;
              cursor: pointer;
              border-bottom: 3px solid transparent;
              padding: 1.5rem 0 1.2rem;
              transition: color 0.2s ease-in-out;
    
              svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--text-extra-color);
              }
    
              &:hover,
              &.active {
                border-bottom-color: var(--primary-color);
                color: var(--text-primary-color);
    
                svg {
                  fill: var(--text-primary-color);
                }
              }
              &.active {
                cursor: default;
                pointer-events: none;
              }
            }
          }
        }
    
        .search-container {
          padding: 2.4rem 2rem 0;
        }
    
        .form-filter {
          display: flex;
          // align-items: flex-start;
          justify-content: center;
          // gap: 0 2rem;
    
          .form-group-filter {
            // min-width: 19rem;
            padding-top: 2.4rem;
            padding-left: 2rem;
    
            &:first-child {
              width: 24rem;
              // flex: 1;
            }
          }
        }
    
        
      }
      .box-table{
        margin-top: 2rem;
      }
    }
  }
  