.modal-detail-report-opt {
  .modal-dialog--xxl {
    max-width: 1350px !important;
    .modal-content {
      .modal-body {
        .card-box {
          .box-table {
            margin-top: 0;
            svg {
              width: 20px;
              height: 20px;
              fill: blue;
            }
          }
        }
      }
    }
  }
}
