.modal-choose-survey {
    .box__choose--survey {
      .modal-body {
        padding: 0;
      }
      .view__option {
        max-height: 42rem;
        overflow: auto;
  
        .box-table {
          .box-table__wrapper {
            .table {
              .copy__link--org {
                cursor: pointer;
  
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--primary-color-90);
                }
              }
            }
          }
        }
  
        .loading__wrapper {
          min-height: 20rem;
        }
  
        .system-notification {
          padding: 3rem 2.4rem;
        }
      }
    }
  }
  