.modal-add-kpi-apply {
  .form-kpi-apply {
    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        width: 100%;
        &:last-child,
        &:nth-last-child(2) {
          width: calc(50% - 1.6rem);
        }
      }
    }
  }
}
