.modal-value-form  {
    .form-value-form {
      
      .modal-body {
        padding: 0;
      }

      .item-data-form {
        border-bottom: 1px dashed var(--extra-color-20);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
  
   
    }
  }
  