.page-manage-data-sharing {
    .action-navigation {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  
      .action-backup {
        display: flex;
        align-items: center;
  
        h1 {
          color: var(--text-primary-color);
          font-size: 2.4rem;
          line-height: 2.8rem;
          padding-right: 1rem;
          margin: 0;
          font-weight: 700;
          text-transform: uppercase;
        }
  
        .title-first {
          cursor: pointer;
  
          &:hover {
            opacity: 0.8;
          }
        }
  
        .title-last {
          color: var(--extra-color-50);
        }
  
        svg {
          width: 4rem;
          height: 4rem;
          padding-right: 1rem;
        }
      }
  
      @media (max-width: 760px) {
        justify-content: flex-start;
        flex-direction: column;
  
        .action-backup {
          position: relative;
  
          .title-first {
            display: none;
          }
  
          svg {
            position: absolute;
            left: -1.4rem;
            padding-right: 0.5rem;
            transform: rotate(180deg);
          }
  
          .title-last {
            color: var(--text-primary-color);
            margin-left: 3rem;
          }
        }
  
        .title-action {
          display: block !important;
          margin-left: 3rem;
        }
      }
  
      @media (max-width: 360px) {
        .action-backup {
          .title-last {
            font-size: 2rem;
            color: var(--text-primary-color);
            margin-left: 3rem;
          }
        }
      }
    }
  
    .card-box{
      .action-header {
        display: flex;
        flex-direction: column;
    
        .title__actions {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
    
          .menu-list {
            border-radius: 0.8rem 0.8rem 0 0;
            border-bottom: 1px solid var(--border-color);
            padding: 0 2rem;
            height: 5rem;
            letter-spacing: 0.25px;
            font-size: 1.4rem;
            line-height: 2rem;
            color: var(--text-extra-color);
            display: flex;
            align-items: center;
            gap: 2.3rem;
            width: 100%;
    
            li {
              display: flex;
              align-items: center;
              gap: 0 0.2rem;
              cursor: pointer;
              border-bottom: 3px solid transparent;
              padding: 1.5rem 0 1.2rem;
              transition: color 0.2s ease-in-out;
    
              svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--text-extra-color);
              }
    
              &:hover,
              &.active {
                border-bottom-color: var(--primary-color);
                color: var(--text-primary-color);
    
                svg {
                  fill: var(--text-primary-color);
                }
              }
              &.active {
                cursor: default;
                pointer-events: none;
              }
            }
          }
        }
    
        .search-container {
          padding: 2.4rem 2rem 0;
        }
    
        .form-filter {
          display: flex;
          // align-items: flex-start;
          justify-content: center;
          // gap: 0 2rem;
    
          .form-group-filter {
            // min-width: 19rem;
            padding-top: 2.4rem;
            padding-left: 2rem;
    
            &:first-child {
              width: 24rem;
              // flex: 1;
            }
          }
        }
    
        
      }
    }
  }
  