.form__add__customer--characteristics {
  padding-top: 1rem;
  .box__content__filter--advanced {
    padding: 1rem 2rem 2rem;
    .form-group {
      .has-disabled {
        input {
          opacity: 0.7;
        }

        .select-custom,
        .select__custom-label {
          opacity: 0.7;
        }
      }

      .name-group {
        color: var(--text-primary-color);
        cursor: text;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 0.5rem;
        padding-top: 0.3rem;
        display: block;

        &::after {
          content: "*";
          padding-left: 0.3rem;
          color: var(--error-color);
        }
      }

      .desc__filter {
        border: 1.5px solid var(--extra-color-10);
        border-radius: 0.3rem;
        padding: 1.2rem;

        // đoạn này là css chung của các cấp
        .lv__item {
          // đoạn này là chọn action and hoặc or
          .action__choose--item {
            display: flex;
            align-items: center;
            gap: 0 0.8rem;

            .base-button {
              font-size: 1.4rem;
              padding: 0.4rem 2.2rem;
            }
          }

          .view__logical {
            display: block;
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--primary-text-color);
            padding: 0.2rem;

            &:last-child {
              display: none;
            }
          }

          .including__conditions {
            // đoạn này là css của chọn trường
            .lst__option--group-field {
              position: relative;

              .choose-field {
                // .action__drop--field {
                //   border: 1px solid var(--border-color);
                //   border-radius: 0.3rem;
                //   padding: 0.7rem 1.2rem;
                //   font-size: 1.4rem;
                //   display: flex;
                //   align-items: center;
                //   justify-content: space-between;
                //   cursor: pointer;

                //   svg {
                //     width: 2rem;
                //     height: 2rem;
                //     fill: var(--text-extra-color);
                //   }
                // }

                .action__drop--field {
                  width: 100%;
                }
              }

              &.dis__lst__option--group-field {
                opacity: 0.7;
                background-color: var(--extra-color-5);

                .choose-field {
                  .action__drop--field {
                    cursor: no-drop;
                  }
                }
              }

              .show__field--choose {
                .action__drop--field {
                  border-color: var(--primary-color-80);
                }
              }

              .lst__field--drop {
                position: absolute;
                left: 0;
                right: 0;
                margin-top: 0.5rem;
                background-color: var(--white-color);
                border-radius: 0.3rem;
                padding: 0.2rem 0rem;
                max-height: 20rem;
                overflow: auto;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                z-index: 99;

                .item__field--drop {
                  padding: 0.6rem 0.8rem;
                  border-radius: 0.3rem;
                  font-size: 1.4rem;
                  cursor: pointer;

                  &:hover {
                    background-color: var(--extra-color-10);
                  }
                }
              }
            }

            // đoạn này là css các trường được chọn
            .lst__field--rule {
              .item__rule {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0 0.5rem;

                &:first-child {
                  margin-top: 1rem;
                }

                .lst__info--rule {
                  display: flex;
                  align-items: center;
                  gap: 0 0.5rem;
                  width: 96%;
                  flex: 1;

                  .info-item {
                    width: calc(100% / 3);

                    .name-field {
                      border: 1px solid var(--border-color);
                      border-radius: 0.3rem;
                      padding: 0.7rem 1.2rem;
                      display: block;
                      font-size: 1.4rem;
                      background-color: var(--extra-color-5);
                      cursor: no-drop;
                      opacity: 0.7;
                      white-space: nowrap;
                      overflow: hidden;
                    }

                    .base-select {
                      div[class*="-menu"] {
                        & > div {
                          max-height: 12rem;
                        }
                      }
                    }

                    .field__special {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 0 0.5rem;

                      .base-select {
                        flex: 1;
                      }
                    }
                  }
                }

                .action__delete--rule {
                  width: 4%;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .icon__delete {
                    cursor: pointer;

                    svg {
                      width: 2rem;
                      height: 2rem;
                    }

                    &:hover {
                      svg {
                        fill: var(--error-color);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        // đoạn này là css của cấp 2
        .lv__2 {
          .view__logical--block {
            color: var(--primary-color-80);
          }

          .box__block--rule {
            .block__rule {
              border-radius: 0.3rem;
              // padding: 1.2rem;
            }

            .action__choose--lv2 {
              margin-bottom: 1.8rem;

              .icon__add,
              .icon__detete {
                padding: 0.9rem 1.2rem;

                svg {
                  width: 2rem;
                  height: 2rem;
                }
              }
            }

            .view__logical--rule--block {
              color: var(--primary-color-80);
            }
          }
        }

        // đoạn này là css của cấp 3
        .lv__3 {
          .box__children--block {
            .block__children {
              border: 1px solid var(--primary-color-70);
              border-radius: 0.3rem;
              padding: 1.2rem;
            }

            .action__choose--lv3 {
              margin-bottom: 1.8rem;

              .icon__add,
              .icon__detete {
                padding: 0.9rem 1.2rem;

                svg {
                  width: 2rem;
                  height: 2rem;
                }
              }
            }
          }
        }

        // đoạn này là css của cấp 4
        .lv__4 {
          .box__grandchild--block {
            .view__grandchild--rule--block--children {
              color: var(--sea-green-color);
            }
            .block__grandchild {
              border: 1px solid var(--primary-color-70);
              border-radius: 0.3rem;
              padding: 1.2rem;
            }

            .action__choose--lv4 {
              margin-bottom: 1.8rem;

              .icon__detete {
                padding: 0.9rem 1.2rem;

                svg {
                  width: 2rem;
                  height: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
