.update__people {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .view-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;

    svg {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--primary-color-90);
    }

    .view-jobassign,
    .view-recipient {
      .label {
        cursor: text;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;

        &::after {
          content: ":";
        }
      }

      .info-jobassign,
      .info-recipient {
        font-size: 1.4rem;
        background: var(--white-color);
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 0.5rem;

        img {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }

        .info-manager,
        .info-employee {
          display: flex;
          flex-direction: column;
          font-size: 1.3rem;
          line-height: 1.2;
          font-weight: 500;

          .belong-department {
            font-size: 1.2rem;
            color: var(--extra-color-50);
          }
        }
      }
    }
  }

  //đoạn này css người liên quan với khách hàng tham gia
  .list__participants,
  .list__related--customers {
    position: relative;
    margin-top: 2rem;

    &::before {
      content: "";
      position: absolute;
      border: 0.5px dashed #e2e2e2;
      width: 99%;
      margin-bottom: 2rem;
    }

    .title-participant,
    .title-related--customers {
      padding-top: 1.8rem;
      font-weight: 400;
      padding-bottom: 0.3rem;

      &::after {
        content: ":";
      }
    }

    .wrapper__add--participant,
    .wrapper__add-related--customers {
      background: var(--white-color);
      border-radius: 0.4rem;
      border: 1.5px dashed #e0e0e0;
      padding: 1.2rem 0.6rem;
      overflow-y: auto;
      max-height: 36rem;
      display: flex;
      flex-direction: column;

      .add-participant,
      .add-related--customers {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 0.3rem;
        background-color: var(--extra-color-10);
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        font-size: 1.4rem;

        svg {
          width: 1.8rem;
          height: 1.8rem;
          fill: var(--extra-color-50);
        }

        &:hover {
          font-weight: 500;

          svg {
            fill: var(--success-color);
          }
        }
      }

      .participant-item,
      .related__customers--item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;

        .info-participant,
        .info__related--customers {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          font-size: 1.5rem;

          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50rem;
            overflow: hidden;
          }
        }

        .remove-participant,
        .remove__related--customers {
          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--error-darker-color);
            cursor: pointer;
          }
        }

        &:hover {
          background-color: #e9eaeb;
        }
      }

      .notification-participant,
      .notification__related--customers {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--extra-color-50);
      }

      ::-webkit-scrollbar-track {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  .list__related--customers {
    margin: 2.6rem 0 0.6rem;
  }
}
