.modal-add-quote {
    .form-add-quote {
       .container-add-quote{
            display: flex;
            align-items: center;

            .option{
                display: flex;

                .option-item{
                    margin-left: 30px;
                }
            }
       }
    }
  }
  