.modal-service-task {
  .form-service-task {
    .modal-body {
      padding: 0;
    }
    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .container-button {
        display: flex;
        align-items: center;
      }
      h4 {
        font-size: 1.8rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // width: calc(100% - 3rem);
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .btn-close {
        opacity: 0.5;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
      .btn-setting {
        opacity: 0.5;
        margin-right: 10px;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
          width: 2.1rem;
          height: 2.1rem;
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
          svg {
            fill: var(--primary-color);
          }
        }
      }
    }

    .list-form-group {
      padding: 1.6rem;
      max-height: 48rem;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        // &:first-child {
        //   width: 100%;
        // }
        width: calc(50% - 1.6rem);

        &:nth-child(3) {
          width: 100%;
        }

        .radio-list {
          width: 100%;
          .form-group {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 2rem;
            margin-top: 1rem;

            .base-radio {
              margin: 0;
            }
          }
        }
      }
      .form-group-jwt {
        width: 100%;
        .input-key {
          label {
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--text-color);
            margin-bottom: 0;
            span {
              color: var(--error-color);
            }
          }
          .container-select-mapping {
            width: 100%;
            display: flex;
            align-items: center;
            border: 1px solid var(--border-color);
            padding: 0 1rem;
            border-radius: 5px;
            min-height: 42px;

            .input-text {
              width: 100%;
              .base-input__input {
                input {
                  border-bottom: 0;
                }
              }
              .base-datepicker {
                width: 100%;
                input {
                  border-bottom: 0;
                }
              }
            }

            .select-mapping {
              width: 100%;
              background-color: #f3f3f3;
              .base-select {
                .select-custom {
                  .css-16xfy0z-control {
                    border-bottom: 0;
                  }
                  .css-s70ol2-control {
                    border-bottom: 0;
                  }
                }
              }
            }
            .icon-change-select {
              cursor: pointer;
              svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--warning-color);
              }
            }
          }
        }
      }

      .container-auth {
        width: 100%;
        border: 1px dashed var(--extra-color-50);
        padding: 1rem;
        border-radius: 5px;

        .radio-list {
          width: 100%;
          .form-group {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 2rem;
            margin-top: 1rem;

            .base-radio {
              margin: 0;
            }
          }
        }

        .box-auth {
          width: 100%;
          display: flex;
          gap: 0 1.5rem;
          margin-top: 1rem;
          .item-username,
          .item-password {
            width: calc(50% - 1.6rem);
          }

          .item-token {
            width: 100%;
          }
        }
      }

      .container-inputVar {
        width: 100%;
        margin-top: 1.8rem;
        border: 1px dashed var(--extra-color-50);
        border-radius: 5px;
        padding: 1rem;

        .list-item-inputVar {
          display: flex;
          gap: 0 1.5rem;
          margin-top: 1rem;
          .item-inputVar {
            width: calc(50% - 1.6rem);

            &:nth-child(2) {
              .container-select-mapping {
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid var(--border-color);
                padding: 0 1rem;
                border-radius: 5px;

                .input-text {
                  width: 100%;
                  background-color: #f3f3f3;
                  .base-input__input {
                    input {
                      border-bottom: 0;
                    }
                  }
                }

                .select-mapping {
                  width: 100%;
                  background-color: #f3f3f3;
                  .base-select {
                    .select-custom {
                      .css-16xfy0z-control {
                        border-bottom: 0;
                      }
                      .css-s70ol2-control {
                        border-bottom: 0;
                      }
                    }
                  }
                }
                .icon-change-select {
                  cursor: pointer;
                  svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--warning-color);
                  }
                }
              }
            }
          }

          .add-attribute,
          .remove-attribute {
            // display: flex;
            align-items: center;
            justify-content: center;
            // margin-bottom: 1.6rem;
            // margin-right: 0.5rem;
            // border: 1px solid;
            margin-top: 0.5rem;
            .icon-add {
              cursor: pointer;
              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--success-color);
              }
            }
            .icon-remove {
              cursor: pointer;
              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--error-color);
              }
            }
          }
        }
      }

      .container-outVar {
        width: 100%;
        margin-top: 1.8rem;
        border: 1px dashed var(--extra-color-50);
        border-radius: 5px;
        padding: 1rem;

        .list-item-outVar {
          display: flex;
          gap: 0 1.5rem;
          margin-top: 1rem;
          .item-outVar {
            width: calc(50% - 1.6rem);
            &:nth-child(2) {
              .container-select-mapping {
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid var(--border-color);
                padding: 0 1rem;
                border-radius: 5px;

                .input-text {
                  width: 100%;
                  background-color: #f3f3f3;
                  .base-input__input {
                    input {
                      border-bottom: 0;
                    }
                  }
                }

                .select-mapping {
                  width: 100%;
                  background-color: #f3f3f3;
                  .base-select {
                    .select-custom {
                      .css-16xfy0z-control {
                        border-bottom: 0;
                      }
                      .css-s70ol2-control {
                        border-bottom: 0;
                      }
                    }
                  }
                }
                .icon-change-select {
                  cursor: pointer;
                  svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--warning-color);
                  }
                }
              }
            }
          }

          .add-attribute,
          .remove-attribute {
            // display: flex;
            align-items: center;
            justify-content: center;
            // margin-bottom: 1.6rem;
            // margin-right: 0.5rem;
            // border: 1px solid;
            margin-top: 0.5rem;
            .icon-add {
              cursor: pointer;
              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--success-color);
              }
            }
            .icon-remove {
              cursor: pointer;
              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--error-color);
              }
            }
          }
        }
      }

      .container-handleError {
        width: 100%;
        border: 1px dashed var(--extra-color-50);
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1.8rem;
        margin-bottom: 1rem;

        .radio-list {
          width: 100%;
          .form-group {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 2rem;
            margin-top: 1rem;

            .base-radio {
              margin: 0;
            }
            .base-checkbox {
              margin-top: 0;
            }
          }
        }

        .box-handleError {
          width: 100%;
          display: flex;
          gap: 0 1.5rem;
          margin-top: 1rem;
          .item-times {
            width: calc(50% - 1.6rem);
          }

          .item-next-node {
            width: 100%;
          }
        }
      }

      .form-group-HTTP {
        width: 100%;
        border: 1px dashed var(--extra-color-50);
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
        .list-HTTP {
          display: flex;
          gap: 0 1.5rem;
          margin-top: 0.5rem;
          align-items: center;
          // justify-content: space-between;

          .form-group {
            width: calc(50% - 1.6rem);
            margin-bottom: 0.5rem;
            &:nth-child(1) {
              // width: 48%;
            }
          }
          .button {
            display: flex;
            margin-bottom: 0.5rem;
            gap: 0 1rem;
            .add-button,
            .remove-button {
              display: flex;
              align-items: center;
              justify-content: center;

              .icon-add,
              .icon-remove {
                cursor: pointer;

                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--success-color);
                }
              }
            }

            .remove-button {
              .icon-remove {
                svg {
                  fill: var(--error-color);
                }
              }
            }
          }
        }
      }

      .button-check {
        width: calc(21% - 1.6rem);
        margin-top: 2.5rem;
        height: 40px;
        display: flex;
        gap: 0 0.7rem;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-color);
        padding: 1rem;
        border-radius: 5px;
        cursor: pointer;

        .icon-check {
          margin-bottom: 0.5rem;
        }

        &:hover {
          background-color: var(--primary-color-50);
        }
      }
    }
  }
}
