.modal-connect-channel{
    .form-connect {
        .list-app {
            display: flex;
            margin-top: 1.6rem;
            justify-content: space-between;
            .item-app {
                border: 1px solid var(--extra-color-20); 
                width: 32%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                // background-color: #EEEEEF;
                padding: 1.6rem;
                gap: 1.2rem 0;
                cursor: pointer;

                .avatar {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .selected-app {
            border: 1px solid #33CC33;
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 10px;
        }

        .list-step {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            .item-step {
                border: 1px solid var(--extra-color-20); 
                display: flex;
                padding: 1.6rem;
                border-radius: 10px;
                gap: 0 1.5rem;
                .number {
                    border: 1px solid;
                    border-radius: 50px;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: black;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }

                .body {
                    flex: 1;
                    .input-id {
                        display: flex;
                        justify-content: space-between;
                        .input-group{
                            width: 48%;
                        }
                    }
                }
            }
        }
    }
  }