.modal__view--password {
  .wrapper__view--password {
    .lst__form-group {
      display: flex;
      flex-wrap: wrap;
    }

    .form-group {
      width: 100%;

      &:first-child {
        .radio-list {
          .form-group {
            display: flex;
            align-items: center;
            gap: 0 2rem;

            .base-radio {
              margin-top: 0;
            }
          }
        }
      }

      &:last-child {
        //
      }

      .icon-warning{
        fill: var(--warning-color);
        cursor: pointer;
      }
    }
  }
}
