.modal-add-treament-history {
  .form-treament-history-group {
    .modal-body {
      padding: 0;
    }

    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 2.2rem;
      padding: 1.6rem;
      max-height: 48rem;
      overflow: auto;

      .form-group {
        width: calc(50% - 1.1rem);

        &:nth-child(7),
        &:nth-child(8),
        &:last-child {
          width: 100%;
        }

        &:nth-child(8) {
          .upload__img--after--before {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 3rem;
          }
        }
      }

      @media (max-width: 760px) {
        .form-group {
          width: 100%;
        }
      }

      @media (max-width: 420px) {
        .form-group {
          &:nth-child(8) {
            .upload__img--after--before {
              justify-content: space-between;
              flex-wrap: wrap;
            }
          }
        }
      }

      @media (max-width: 370px) {
        .form-group {
          &:nth-child(8) {
            .upload__img--after--before {
              gap: 0 0.8rem;

              .wrapper-file__upload {
                flex: 1;

                .file-upload {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .attachments {
    width: 100%;

    .title-attachment {
      display: flex;
      align-items: center;
      gap: 0 0.3rem;
      color: var(--text-primary-color);
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;
      margin-bottom: 0.5rem;
    }

    .wrapper-list-image,
    .list-image-scroll {
      padding: 1.2rem;
      display: flex;
      align-items: center;
      min-height: 15rem;
      max-width: 100%;
      gap: 0.5rem 0.8rem;
      border-radius: 0.3rem;

      .action-upload-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .wrapper-upload {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          color: var(--extra-color-50);
          font-size: 1.4rem;
          font-weight: 500;

          svg {
            width: 3.2rem;
            height: 3.2rem;
            fill: var(--extra-color-50);
          }
        }

        &:hover {
          .wrapper-upload {
            color: var(--primary-color-70);

            svg {
              fill: var(--primary-color-90);
            }
          }
        }
      }

      .file-item {
        width: 20rem;
        height: 10rem;
        position: relative;
        cursor: pointer;
        background-color: var(--extra-color-10);
        border-radius: 0.3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0.8rem;
        margin-right: 1rem;

        .file-name {
          margin-left: 1rem;
          width: 85%;
        }

        img {
          width: 80%;
          height: 80%;
          object-fit: contain;
          border-radius: 0.5rem;
        }

        .icon-download,
        .icon-delete {
          display: none;
        }

        &:hover {
          img {
            opacity: 0.2;
          }

          .file-name {
            opacity: 0.2;
          }

          .icon-download {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--primary-color);
            }
          }

          .icon-delete {
            display: block;
            position: absolute;
            top: 50%;
            left: 62%;
            transform: translate(-50%, -50%);

            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--error-color);
            }
          }
        }
      }

      .image-item {
        width: 10rem;
        height: 10rem;
        position: relative;
        cursor: pointer;
        background-color: var(--extra-color-10);
        border-radius: 0.3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 1.3rem 1rem;
        margin-right: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 0.5rem;
        }

        .icon-delete {
          display: none;
        }

        &:hover {
          img {
            opacity: 0.5;
          }

          .icon-delete {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--error-color);
            }
          }
        }
      }

      .add-image {
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
        cursor: pointer;
        border: 1px dashed var(--extra-color-50);
        margin: 0 0 0 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 3rem;
          height: 3rem;
          fill: var(--extra-color-50);
        }

        &:hover {
          border: 1px dashed var(--success-color);

          svg {
            fill: var(--warning-color);
          }
        }
      }

      .is__loading--file {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 10rem;
        height: 10rem;
        border-radius: 0.3rem;
        border: 1.5px dashed var(--extra-color-30);
        background-color: var(--extra-color-5);
        margin-left: 1rem;

        svg {
          width: 3rem;
          height: 3rem;
          animation: circular 1s linear infinite;
        }

        .name-loading {
          font-size: 1.3rem;
          font-weight: 500;
          color: var(--extra-color-50);
        }

        @keyframes circular {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }

    .list-image-scroll {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}
