.modal-debug-object  {
    .form-debug-object {
      .box-table{
        margin-top: 1rem;
        .pagination{
          justify-content: center;
        }
        .count-item{
          // display: none;
        }
      }
      .modal-body {
        padding: 0;
      }
  
   
    }
  }
  