.modal-add-child-project {
  .form-add-child-project {
    .modal-body {
      padding: 0;
      max-height: 50rem;
    }

    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;
      padding: 1.6rem;

      .form-group {
        width: calc(50% - 1.6rem);

        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9) {
          width: 100%;
        }

        &:nth-child(9) {
          .attachments {
            .title-attachment {
              display: flex;
              align-items: center;
              gap: 0 0.3rem;
              color: var(--text-primary-color);
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
            }

            .wrapper-list-image,
            .list-image-scroll {
              border: 1px dashed var(--extra-color-50);
              padding: 1.2rem;
              display: flex;
              align-items: center;
              height: 12rem;
              gap: 0.5rem 0.8rem;
              border-radius: 0.3rem;

              .action-upload-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                cursor: pointer;

                .wrapper-upload {
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  align-items: center;
                  color: var(--extra-color-50);
                  font-size: 1.4rem;
                  font-weight: 500;

                  svg {
                    width: 3.2rem;
                    height: 3.2rem;
                    fill: var(--extra-color-50);
                  }
                }

                &:hover {
                  .wrapper-upload {
                    color: var(--primary-color-70);

                    svg {
                      fill: var(--primary-color-90);
                    }
                  }
                }
              }

              .image-item {
                width: 9rem;
                height: 9rem;
                position: relative;
                cursor: pointer;

                & + .image-item {
                  margin-left: 1rem;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 0.5rem;
                }

                .icon-delete {
                  display: none;
                }

                &:hover {
                  img {
                    opacity: 0.5;
                  }

                  .icon-delete {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    svg {
                      width: 2rem;
                      height: 2rem;
                      fill: var(--error-color);
                    }
                  }
                }
              }

              .add-image {
                width: 9rem;
                height: 9rem;
                border-radius: 0.5rem;
                cursor: pointer;
                border: 1px dashed var(--extra-color-50);
                margin: 0 0 0 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                  width: 3rem;
                  height: 3rem;
                  fill: var(--extra-color-50);
                }

                &:hover {
                  border: 1px dashed var(--success-color);

                  svg {
                    fill: var(--warning-color);
                  }
                }
              }
            }

            .list-image-scroll {
              overflow-x: scroll;
              overflow-y: hidden;
            }
          }
        }
      }
    }
  }
}
