.modal-send-email {
    .form-email {
      .list-form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;
  
        .form-group {
          width: 100%;
  
          .radio-list {
            .form-group {
              display: flex;
              align-items: flex-start;
              .base-radio {
                margin-top: 1rem;
                margin-right: 2rem;
              }
            }
          }
        }
  
        #FieldTitle,
        #FieldType {        
          width: calc(50% - 1.6rem);
        }      
      }
    }
  }
  