.fjs-container {
  .fjs-powered-by {
    display: none !important;
  }
}

#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 4px;
  pointer-events: none; /* Prevent mouse events on the tooltip */
  z-index: 1000; /* Ensure it appears above other elements */
  font-size: 10px
}

.bjs-powered-by {
  display: none !important;
}

.zoom-buttons {
  position: absolute;
  bottom: 110px;  /* Cách mép dưới */
  right: 45px;   /* Cách mép phải */
  display: flex;
  flex-direction: column;
  gap: 10px;  /* Khoảng cách giữa các nút */
}

.zoom-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: var(--extra-color-50);  /* Màu nền xanh lá */
  // background-color: #4CAF50;  /* Màu nền xanh lá */
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-btn:hover {
  // background-color: #45a049; /* Đổi màu khi hover */
  background-color: var(--primary-color); /* Đổi màu khi hover */
}

// .zoom-btn:active {
  
//   background-color: var(--primary-color); /* Màu khi click */
// }

// .zoom-in {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng */
// }

// .zoom-out {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng */
// }

.button-import,
.button-export {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  cursor: pointer;
  align-items: center;
  svg {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }
  &:hover {
    background-color: var(--extra-color-20);
  }
}