.page__import--invoice {
    .card-box {
      position: relative;
  
      .total__summary {
        position: absolute;
        top: 1.3rem;
        right: 2rem;
        display: flex;
        align-items: center;
        gap: 0 2rem;
  
        &--sales,
        &--revenue {
          .key {
            font-weight: 600;
            color: var(--success-darker-color);
          }
  
          .value {
            font-weight: 500;
          }
        }
      }
    }
  }
  