.modal-add-contractpipeline {
  .form-contractpipeline-group {
    .modal-body {
      padding: 0;
    }

    .list-form-group {
      display: flex;
      flex-direction: column;
      padding: 1.6rem;
      max-height: 40rem;
      overflow: auto;
    }

    .list-field-item {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        width: calc(50% - 1.6rem);
      }

      #FieldMultiPurpose {
        width: 100%;
        margin-bottom: 0.5rem;

        .radio-list {
          .form-group {
            display: flex;
            align-items: center;
            gap: 0 2rem;

            .base-radio {
              margin: 0;
            }
          }
        }
      }

      #FieldServiceId {
        width: 100%;
        margin-bottom: 1.2rem;
      }
    }

    .list-field-note {
      padding: 1.6rem 0 1.2rem;

      .wrapper-file__upload {
        .file-upload {
          width: 17rem;
        }
      }

      .form-group {
        flex: 1;
      }
    }
  }
}
