.page-business-rule-config {
  .action-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    .action-backup {
      display: flex;
      align-items: center;

      h1 {
        color: var(--text-primary-color);
        font-size: 2.4rem;
        line-height: 2.8rem;
        padding-right: 1rem;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      .title-first {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .title-last {
        color: var(--extra-color-50);
      }

      svg {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
    }

    @media (max-width: 760px) {
      justify-content: flex-start;
      flex-direction: column;

      .action-backup {
        position: relative;

        .title-first {
          display: none;
        }

        svg {
          position: absolute;
          left: -1.4rem;
          padding-right: 0.5rem;
          transform: rotate(180deg);
        }

        .title-last {
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }

      .title-action {
        display: block !important;
        margin-left: 3rem;
      }
    }

    @media (max-width: 360px) {
      .action-backup {
        .title-last {
          font-size: 2rem;
          color: var(--text-primary-color);
          margin-left: 3rem;
        }
      }
    }
  }
  .box-table-business-rule {
    .value-operator {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 0.5rem;
      .operator {
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        min-width: 4rem;
        background: #006b68;
        color: white;
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
  }
}
