.modal-list-input-column {
  .form-add-reason-group {
    .modal-body {
      padding: 0;
      .button-add-column {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        font-weight: 600;
      }
    }
    .box-table {
      max-height: calc(100vh - 23rem);
      overflow: auto;
    }

    .list-form-group {
      display: flex;
      flex-direction: column;
      padding: 1.6rem;
      max-height: 40rem;
      overflow: auto;
    }

    .list-field-item {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        //   &:first-child {
        width: 100%;
        //   }
        // width: calc(50% - 1.6rem);
      }

      .status_active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
