.modal-add-handover {
    .form-handover-group{
        .modal-body {
            padding: 0;
        }
        .list-form-group-handover{
            display: flex;
            flex-wrap: wrap;
            gap: 1.2rem 3.2rem;
            padding: 1.6rem;
            max-height: 40rem;
            overflow: auto;
      
            .form-group {
              width: calc(32% - 1.6rem);
              transition: all 1s ease-in-out;
            
              .radio-list {
                .form-group {
                  // display: flex;
                  // align-items: center;
                  // gap: 0 2rem;
                  width: 100%;
      
                  .base-radio {
                    & + .base-radio {
                      margin-top: 5px;
                    }
                  }
                }
              }
    
              // &:last-child{
              //   width: 100%
              // }
    
            }
    
        }
    }
    
}