.modal-add-category-project {
    .form-category-project {
      .list-form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;
        padding-bottom: 1rem;
      }
  
      .form-group {
        // width: calc(50% - 1.6rem);
        width: 100%;
  
        // &:nth-child(3),
        // &:last-child {
        //   .radio-list {
        //     .form-group {
        //       .base-radio {
        //         width: 30rem;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
  