.modal-add-package {
  .form-package-group {
    .modal-body {
      padding: 0;
    }
    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 3.2rem;
      padding: 1.6rem;
      max-height: 42rem;
      overflow: auto;
    }

    .form-group {
      width: calc(50% - 1.6rem);
    }

    #FieldName,
    #FieldOptionFree,
    #FieldFeatures,
    #FieldPeriod,
    #FieldGiftMonth,
    #FieldContent {
      width: 100%;
    }

    #FieldName,
    #FieldPeriod {
      .form-group {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 2rem;

        .base-radio {
          margin-top: 0;
        }
      }
    }

    #FieldOptionFree {
      .form-group {
        width: 100%;
      }
    }
  }
}
