.form-report-campaign{
    padding-bottom: 30px;
    .contaniner-percent{
        height: 20px;
        border: 1px solid #d3d5d7;
        margin-top: 10px;

        // .container-child-percent{
        //     height: 19px;
        //     wi
        // }
    }
}