.modal-assign-work-backlog {
  .form-assign-work-backlog {
    .modal-body {
      height: calc(100vh - 20rem);
      padding: 0;
    }

    .list-form-group {
      max-height: calc(100vh - 20rem);
      overflow: auto;
      padding: 1rem;
      &__add {
        margin-top: 2rem;
        border: 1px dashed var(--extra-color-50);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 2.2rem;
        padding: 2rem 1rem 1rem 1rem;
        position: relative;
        .title-work {
          position: absolute;
          top: -18px;
          left: 1rem;
          background-color: var(--white-color);
          padding: 0 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: var(--text-primary-color);
        }
        .form-group {
          width: 100%;
          transition: all 0.5s ease-in-out;
          &:nth-child(2),
          &:nth-child(3) {
            width: calc(50% - 1.6rem);
          }
        }
      }
      &__assign {
        margin-top: 5rem;
        border: 1px dashed var(--extra-color-50);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 2.2rem;
        padding: 2rem 1rem 1rem 1rem;
        position: relative;
        .title-work {
          position: absolute;
          top: -18px;
          left: 1rem;
          background-color: var(--white-color);
          padding: 0 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: var(--text-primary-color);
        }
        .form-group {
          width: 100%;
          transition: all 0.5s ease-in-out;
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            width: calc(50% - 1.6rem);
          }
          &:nth-child(5) {
            position: relative;

            .option__time--workload {
              position: absolute;
              width: 9rem;
              height: 3.99rem;
              top: 2.5rem;
              bottom: 0;
              right: 0;
              cursor: pointer;

              .selected__item--workload {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                gap: 0 0.5rem;
                padding: 0 1.2rem;
                font-size: 1.4rem;
                font-weight: 500;
                background-color: var(--extra-color-30);
                border-top-right-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
                border-left: 1px solid var(--extra-color-30);

                svg {
                  width: 2rem;
                  height: 2rem;
                  flex-shrink: 0;
                }
              }

              .menu__time--workload {
                background-color: var(--extra-color-50);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                padding: 0.6rem 0.3rem;
                border-radius: 0.3rem;
                display: flex;
                flex-direction: column;
                gap: 0.4rem 0;

                .item--workload,
                .active__item--workload {
                  padding: 0.2rem 0 0.2rem 0.8rem;
                  font-size: 1.4rem;
                  font-weight: 500;
                  border-radius: 0.3rem;

                  &:hover {
                    background-color: var(--extra-color-30);
                  }
                }

                .active__item--workload {
                  background-color: var(--extra-color-30);
                }
              }
            }
          }
          &:nth-child(8) {
            .radio-list {
              .form-group {
                display: flex;
                align-items: center;
                gap: 0 2rem;

                .base-radio {
                  margin-top: 0;

                  label {
                    padding-left: 2.2rem;
                  }
                }
              }
            }
          }
        }
      }

      #FieldPeriodicSchedule {
        width: 100%;

        .box__periodic--schedule {
          .lst__option--periodic--schedule {
            border: 1px dashed var(--extra-color-30);
            border-radius: 0.5rem;
            padding: 1rem;
            margin-top: 0.8rem;

            .item__periodic--schedule {
              display: flex;
              align-items: flex-start;
              gap: 0 3rem;

              & + .item__periodic--schedule {
                margin-top: 1.2rem;
              }

              .name__option {
                width: 5.7rem;
                font-size: 1.4rem;
              }

              .choose__setting--schedule {
                .lst__choose--time {
                  .item-empty--time {
                    display: flex;
                    gap: 0 1rem;

                    .name-empty {
                      background-color: var(--extra-color-10);
                      border-radius: 0.3rem;
                      font-size: 1.4rem;
                      padding: 0.3rem 0.8rem;
                      width: 20rem;
                    }

                    .add--time {
                      cursor: pointer;
                      height: 3rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      svg {
                        width: 1.8rem;
                        height: 1.8rem;
                        fill: var(--success-darker-color);
                      }

                      &:hover {
                        opacity: 0.6;
                      }
                    }
                  }

                  .item__choose--time {
                    display: flex;
                    align-items: center;

                    & + .item__choose--time {
                      margin-top: 0.8rem;
                    }

                    .data__time {
                      display: flex;
                      align-items: center;
                      gap: 0 0.8rem;
                      background-color: var(--extra-color-5);
                      padding: 0.5rem;
                      border-radius: 0.5rem;
                      width: 20rem;

                      .form-time {
                        flex: 1;
                        position: relative;
                      }

                      .base-input {
                        .base-input__input {
                          input {
                            padding: 0.3rem 1rem;
                            font-size: 1.2rem;
                            line-height: 2rem;
                          }
                        }
                      }

                      .choose__item--time {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 3rem;
                        background-color: var(--white-color);
                        border-radius: 0.3rem;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        overflow: hidden;

                        .lst__time--choose {
                          max-height: 30rem;
                          overflow: auto;

                          .item-choose {
                            font-size: 1.4rem;
                            padding: 0.3rem 0.8rem;
                            cursor: pointer;

                            &:hover {
                              background-color: var(--primary-color-10);
                            }

                            &--active {
                              background-color: var(--primary-color-10);
                            }
                          }
                        }
                      }

                      .to-time {
                        font-size: 1.4rem;
                      }
                    }

                    .action__time {
                      display: flex;
                      align-items: center;
                      gap: 0 0.8rem;
                      margin-left: 1rem;

                      &--item {
                        cursor: pointer;

                        svg {
                          width: 1.8rem;
                          height: 1.8rem;
                        }

                        &:hover {
                          opacity: 0.6;
                        }
                      }

                      &--add {
                        svg {
                          fill: var(--success-darker-color);
                        }
                      }

                      &--delete {
                        svg {
                          fill: var(--error-darker-color);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #FieldNotification {
        width: 100%;
        .notification-calendar {
          width: 100%;

          .info-notification {
            .setting-time {
              margin-bottom: 2.2rem;

              .title-time {
                color: var(--text-primary-color);
                cursor: text;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 2rem;
                margin-bottom: 0.5rem;
                display: block;
              }

              .desc-choose {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .choose-time {
                  width: 80%;
                  flex-shrink: 0;

                  .base-select-fill {
                    .select-custom {
                      div[class*="-control"] {
                        border-radius: 0;
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                      }

                      div[class*="-MenuList"] {
                        max-height: 25rem;
                      }
                    }
                  }
                }

                .decision-time {
                  width: 20%;

                  .select__decision-time {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 3.94rem;
                    gap: 0 0.8rem;
                    padding: 0 1.2rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                    background-color: var(--extra-color-30);
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    border: 1px solid var(--border-color);

                    svg {
                      width: 2rem;
                      height: 2rem;
                      flex-shrink: 0;
                    }
                  }

                  .menu__time {
                    position: absolute;
                    width: 20%;
                    background-color: var(--extra-color-50);
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    padding: 0.6rem 0.3rem;
                    border-radius: 0.3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem 0;

                    .item-time,
                    .active__item--item {
                      padding: 0.2rem 0 0.2rem 0.8rem;
                      font-size: 1.4rem;
                      font-weight: 500;
                      border-radius: 0.3rem;
                    }

                    .item-time {
                      cursor: pointer;

                      &:hover {
                        background-color: var(--extra-color-20);
                      }
                    }

                    .active__item--item {
                      cursor: default;
                      background-color: var(--extra-color-30);
                    }
                  }
                }
              }
            }

            .choose-notification {
              display: flex;
              flex-wrap: wrap;
              gap: 1.2rem 2.2rem;

              .radio-list {
                .form-group {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  gap: 0 2rem;

                  .base-checkbox {
                    margin-top: 0;

                    label {
                      padding-left: 2.3rem;
                    }
                  }
                }
              }
            }
          }

          .lst__nitification--apply {
            border: 1px dashed var(--extra-color-50);
            margin-top: 1.2rem;
            margin-bottom: 0.6rem;
            border-radius: 0.3rem;
            padding: 1rem;
          }

          .apply-notification,
          .disabled__apply-notification {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.8rem 0;
            border-radius: 0.3rem;
            background-color: var(--extra-color-10);
            transition: background-color 0.3s ease-in-out;
          }

          .apply-notification {
            cursor: pointer;
            background-color: var(--extra-color-20);

            &:hover {
              color: var(--primary-color-90);
              border-color: var(--primary-color-90);
            }
          }

          .disabled__apply-notification {
            cursor: no-drop;
            opacity: 0.6;
          }

          .list__apply--notification {
            margin-top: 1.2rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 1rem 0;

            .apply-item {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0.6rem 1.2rem;
              background-color: var(--extra-color-10);
              border-radius: 0.5rem;
              cursor: pointer;
              font-size: 1.4rem;
              transition: all 0.5s ease-in-out;

              .name-notification {
                margin-bottom: 0;

                &::after {
                  content: ".";
                }
              }

              .remove-notification {
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--error-darker-color);
                  cursor: pointer;
                }
              }

              &:hover {
                background-color: var(--extra-color-30);
              }
            }
          }
        }
      }
    }
  }
}
