.ag-custom-header-cell {
  width: 100%;
  //   height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  z-index: 99999;

  .ag-custom-header-label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--ag-header-text-color, #000);
    height: 100%;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .ag-custom-header-sort-icon {
    svg {
      width: 30px;
      height: 30px;
      fill: currentColor;
    }
  }
  .ag-custom-header-filter-icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    border-radius: 3px;
    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.1);
    }
    .icon-filter_svg__svg-icon {
      width: 19px !important;
      height: 20px !important;
      fill: currentColor;
    }
  }
  .ag-custom-header-filter-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    background: transparent;
    border-radius: 3px;
    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.1);
    }
    svg {
      width: 16px !important;
      height: 16px !important;
      fill: blue;
    }
  }
  .ag-custom-header-menu-button {
    cursor: pointer;
    padding: 2px 6px;

    .button-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: none;
      background: transparent;
      font-size: 18px;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.1);
      }
      .button-content {
        position: relative;
        padding-bottom: 4px;
      }
    }
  }
}
.ag-custom-header-cell:hover .ag-custom-header-filter-icon {
  visibility: visible;
}
