.modal-history-signature{
    .form-history-signature{
        .modal-body {
            padding: 0;
          }
        .box-history-signature{
            max-height: 48rem;
            overflow: auto;
        }
    }
}