.modal-view-percent {
  .wrapper__list--workinprogress {
    .item__workinprogress {
      display: flex;
      flex-direction: column;
      gap: 0.3rem 0;
      padding-bottom: 1rem;

      & + .item__workinprogress {
        padding-top: 1rem;
        border-top: 1px dashed var(--extra-color-50);
      }

      .view__percent,
      .content__percent {
        display: flex;
        align-items: center;

        .title {
          width: 6rem;
          position: relative;
          margin: 0;

          &::after {
            content: ":";
            margin-left: 0.2rem;
          }
        }

        .content,
        .name {
          margin: 0;
          font-size: 1.5rem;
        }

        .name {
          font-weight: 600;
        }
      }
    }
  }
}
