.table-option {
    position: absolute;
    z-index: 10000;
    background: #ddd;    
    right: 50%;
    margin-top: -8px;        
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    cursor: pointer;    

    .icon-caret {
        position: relative;
        width: 20px;
        background: #ddd;
        cursor: pointer;
        border-radius: 2px;
        margin-bottom: 1px;
    }

    span {
        padding-right: 8px;
    }
}
