.modal-score-history {
  .modal-body {
    max-width: 500px;
    width: 100%;
    max-height: 600px;
    overflow: scroll;
    .history-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #ececec;
      &.add {
        //   border: 1px solid green;
        //   background-color: #e6ffe6;
      }

      &.subtract {
        //   border: 1px solid red;
        //   background-color: #ffe6e6;
      }

      .history-time {
        font-size: 12px;
        color: #888;
      }

      .history-change {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        border-radius: 5px;
        //   margin-bottom: 10px;

        &.add {
          color: green;
        }

        &.subtract {
          color: red;
        }
      }
      .history-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f0f0f0;
        margin-right: 10px;
        svg {
          width: 80px;
          height: 80px;
        }
        &.CalendarTime {
          fill: red;
        }
        &.CashBook {
          fill: red !important;
        }
        &.Bill {
          fill: red !important;
        }
        &.Promotion {
          fill: green !important;
        }
      }

      .history-top {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        align-items: flex-start;
        width: 100%;

        .history-reason {
          font-size: 18px;
          color: #353434;
          font-weight: 600;
        }

        .history-invoice {
          font-size: 12px;
          color: #555;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 1rem;
          .invoice-code {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
