.custom-no-cell-menu {
  z-index: 10000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding: 4px 0;
  width: 40rem;

  .form-action-group {
    padding: 1rem;
    overflow: auto;
    .list-action {
      min-height: 150px;
      width: 100%;
      overflow: auto;
      .item-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        width: 100%;
        .action-name {
          width: 9.5rem;
        }
        &:hover {
          background-color: #f5f5f5;
        }
        svg {
          width: 3rem;
          height: 3rem;
        }
        .sub-action {
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 13px;
          padding: 0 0.5rem;
        }
      }
      .action-delete {
        color: red;
        cursor: pointer;
        &:hover {
          color: #ff0000;
        }
      }
    }
  }
}
