.modal-call-activity-task {
    .form-call-activity-task {
      .modal-body {
        padding: 0;
      }
      .container-header{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem;
        border-bottom: 1px solid var(--border-color);
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        .box-title{
          display: flex;
          align-items: center;
          gap: 0 1rem;
        }

        .container-button{
          display: flex;
          align-items: center;
        }
        h4 {
          font-size: 1.8rem;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          // width: calc(100% - 3rem);
          font-weight: 700;
          span {
            font-weight: 400;
          }
        }
        .btn-close {
          opacity: 0.5;
          svg {
            fill: var(--black-color);
            color: var(--black-color);
          }
          &:hover,
          &:focus {
            opacity: 0.75;
            background: none;
            box-shadow: none;
          }
        }
        .btn-setting {
          opacity: 0.5;
          margin-right: 10px;
          svg {
            fill: var(--black-color);
            color: var(--black-color);
            width: 2.3rem;
            height: 2.3rem;
          }
          &:hover,
          &:focus {
            opacity: 0.75;
            background: none;
            box-shadow: none;
          }
        }
      }
      .view-process{
        height: 52rem;
        overflow: auto;
        .bjs-container .djs-palette {
          display: none; /* Ẩn thanh công cụ palette */
        }
        .zoom-buttons {
          position: absolute;
          bottom: 15px;  /* Cách mép dưới */
          right: 20px;   /* Cách mép phải */
          display: flex;
          flex-direction: column;
          gap: 10px;  /* Khoảng cách giữa các nút */
        }
        
        .zoom-btn {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: none;
          background-color: var(--extra-color-50);  /* Màu nền xanh lá */
          // background-color: #4CAF50;  /* Màu nền xanh lá */
          color: white;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .zoom-btn:hover {
          // background-color: #45a049; /* Đổi màu khi hover */
          background-color: var(--primary-color); /* Đổi màu khi hover */
        }
      }
  
      .list-form-group {
        padding: 1.6rem;
        max-height: 48rem;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;

        .form-group {
          // &:first-child {
          //     width: 100%;
          // }
          width: calc(50% - 1.6rem);

          &:nth-child(3),
          &:nth-child(6){
            width: 100%;
          }
         
          .radio-list {
            width: 100%;
            .form-group {
              width: 100%;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: flex-start;
              gap: 0 2rem;
              margin-top: 1rem;

              .base-radio {
                margin: 0;
              }
            }
          }
        }

        .container-processRefer {
          width: 100%;
          border: 1px dashed var(--extra-color-50);
          padding: 1rem;
          border-radius: 5px;

          .radio-list {
            width: 100%;
            .form-group {
              width: 100%;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: flex-start;
              gap: 0 2rem;
              margin-top: 1rem;

              .base-radio {
                margin: 0;
              }
            }
          }

          .box-processRefer{
            width: 100%;
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
  
            .item-processRefer {
              width: 100%;
            }
          }
        }

        .container-inputVar{
          width: 100%;
          // margin-top: 1.8rem;
          border: 1px dashed var(--extra-color-50);
          border-radius: 5px;
          padding: 1rem;

          .list-item-inputVar {
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
            .item-inputVar {
              width: calc(50% - 1.6rem);

              &:nth-child(2){
                .container-select-mapping{
                  width: 100%;
                  display: flex;
                  align-items: center;
                  border: 1px solid var(--border-color);
                  padding: 0 1rem;
                  border-radius: 5px;
                  .select-mapping{
                    width: 100%;
                    background-color: #f3f3f3;
                    .base-select {
                      .select-custom {
                        .css-16xfy0z-control{
                          border-bottom: 0;
                        }
                        .css-s70ol2-control{
                          border-bottom: 0;
                        }
                      }
                    }
                  }
                  .icon-change-select{
                    cursor: pointer;
                    svg {
                        width: 1.8rem;
                        height: 1.8rem;
                        fill: var(--warning-color);
                    }
                  }
                }
              }
            }

            .add-attribute,
            .remove-attribute {
              // display: flex;
              align-items: center;
              justify-content: center;
              // margin-bottom: 1.6rem;
              // margin-right: 0.5rem;
              // border: 1px solid;
              margin-top: 0.5rem;
              .icon-add {
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--success-color);
                }
              }
              .icon-remove{
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--error-color);
                }
              }
            }
          }
         
        }

        .container-outVar{
          width: 100%;
          margin-top: 1.8rem;
          border: 1px dashed var(--extra-color-50);
          border-radius: 5px;
          padding: 1rem;

          .list-item-outVar {
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
            .item-outVar {
              width: calc(50% - 1.6rem);
              &:nth-child(2){
                .container-select-mapping{
                  width: 100%;
                  display: flex;
                  align-items: center;
                  border: 1px solid var(--border-color);
                  padding: 0 1rem;
                  border-radius: 5px;
                  .select-mapping{
                    width: 100%;
                    background-color: #f3f3f3;
                    .base-select {
                      .select-custom {
                        .css-16xfy0z-control{
                          border-bottom: 0;
                        }
                        .css-s70ol2-control{
                          border-bottom: 0;
                        }
                      }
                    }
                  }
                  .icon-change-select{
                    cursor: pointer;
                    svg {
                        width: 1.8rem;
                        height: 1.8rem;
                        fill: var(--warning-color);
                    }
                  }
                }
              }
            }

            .add-attribute,
            .remove-attribute {
              // display: flex;
              align-items: center;
              justify-content: center;
              // margin-bottom: 1.6rem;
              // margin-right: 0.5rem;
              // border: 1px solid;
              margin-top: 0.5rem;
              .icon-add {
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--success-color);
                }
              }
              .icon-remove{
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--error-color);
                }
              }
            }
          }
          
         
        }

        .container-trigger-condition{
          width: 100%;
          margin-top: 1.8rem;
          border: 1px dashed var(--extra-color-50);
          border-radius: 5px;
          padding: 1rem;
          // margin-bottom: 1rem;
          .list-item-trigger-condition {
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
            align-items: center;
            .item-trigger-condition {
              width: calc(50% - 1.6rem);
            }

            .add-attribute,
            .remove-attribute {
              // display: flex;
              align-items: center;
              justify-content: center;
              // margin-bottom: 1.6rem;
              // margin-right: 0.5rem;
              // border: 1px solid;
              // margin-top: 0.5rem;
              .icon-add {
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--success-color);
                }
              }
              .icon-remove{
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--error-color);
                }
              }
            }
          }
          
         
        }

        .container-completion-condition{
          width: 100%;
          margin-top: 1.8rem;
          border: 1px dashed var(--extra-color-50);
          border-radius: 5px;
          padding: 1rem;
          // margin-bottom: 1rem;
          .list-item-completion-condition {
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
            align-items: center;
            .item-completion-condition {
              width: calc(50% - 1.6rem);
            }

            .add-attribute,
            .remove-attribute {
              // display: flex;
              align-items: center;
              justify-content: center;
              // margin-bottom: 1.6rem;
              // margin-right: 0.5rem;
              // border: 1px solid;
              // margin-top: 0.5rem;
              .icon-add {
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--success-color);
                }
              }
              .icon-remove{
                cursor: pointer;
                svg {
                  width: 2rem;
                  height: 2rem;
                  fill: var(--error-color);
                }
              }
            }
          }
          
         
        }

        .container-parameter-mapping{
            width: 100%;
            margin-top: 1.8rem;
            border: 1px dashed var(--extra-color-50);
            border-radius: 5px;
            padding: 1rem;
  
            .list-item-parameter-mapping {
              display: flex;
              gap: 0 1.5rem;
              margin-top: 1rem;
              .item-parameter-mapping {
                width: calc(50% - 1.6rem);
              }
  
              .add-attribute,
              .remove-attribute {
                // display: flex;
                align-items: center;
                justify-content: center;
                // margin-bottom: 1.6rem;
                // margin-right: 0.5rem;
                // border: 1px solid;
                margin-top: 0.5rem;
                .icon-add {
                  cursor: pointer;
                  svg {
                    width: 2rem;
                    height: 2rem;
                    fill: var(--success-color);
                  }
                }
                .icon-remove{
                  cursor: pointer;
                  svg {
                    width: 2rem;
                    height: 2rem;
                    fill: var(--error-color);
                  }
                }
              }
            }
            
           
          }

        .container-handleError {
          width: 100%;
          border: 1px dashed var(--extra-color-50);
          padding: 1rem;
          border-radius: 5px;
          margin-top: 1.8rem;
          margin-bottom: 1rem;

          .radio-list {
            width: 100%;
            .form-group {
              width: 100%;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: flex-start;
              gap: 0 2rem;
              margin-top: 1rem;

              .base-radio {
                margin: 0;
              }
            }
          }

          .box-handleError{
            width: 100%;
            display: flex;
            gap: 0 1.5rem;
            margin-top: 1rem;
            .item-times {
              width: calc(50% - 1.6rem);
            }
  
            .item-next-node {
              width: 100%;
            }
          }
        }

      }
    }
  }
  