.modal-handover-progress{
    .container-handover-progress{
        .box-table{
          margin-top: 1.2rem;
          .pagination{
            justify-content: center;
          }
          .count-item{
            display: none;
          }
        }
        .modal-body {
          padding: 0;
        }

        .box-add-handover-progress{
          gap: 1.2rem 2.2rem;
          padding: 0 1.6rem 1.6rem 1.6rem ;
          max-height: 48rem;
          overflow: auto;

          .list-form-group {
            display: flex;
            flex-wrap: wrap;
            gap: 1.2rem 3.2rem;
  
            .form-group {
              width: calc(32% - 1.6rem);
              // &:first-child {
              //   width: 100%;
              // }
              // &:nth-child(4){
              //   width: calc(32% - 1.6rem);;
              // }
              // &:last-child {
              //   width: calc(50% - 1.6rem);
              // }
            }
            
  
            .radio-list {
              .form-group {
                display: flex;
                align-items: center;
                gap: 0 2rem;
                width: 100%;
    
                .base-radio {
                  & + .base-radio {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }

       
       
    }
}
  