.page-extension {
  .action__header--extension {
    position: relative;

    .icon-reload {
      position: absolute;
      top: 1.3rem;
      right: 1.8rem;
      cursor: pointer;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--warning-color);
      }
    }
  }
}
