.modal-request-detail {
  .list-request {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    .customer-info {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.4rem;
      color: #333333;
      border-bottom: 1px solid #e0e0e0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .item-info {
        display: flex;
        align-items: center;
        justify-content: start;
        .label {
          font-weight: 600;
          margin-right: 0.5rem;
        }
      }
    }
    .item-request {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
      .avatar {
        margin-right: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        img {
          width: 10rem;
          height: 10rem;
          object-fit: contain;
        }
        .name {
          width: 25rem;
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }
      .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .request-info {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 5rem;
          font-size: 1.4rem;
          color: #666666;
          .item-info {
            min-width: 14rem;
          }
        }
      }
    }
  }
  .total-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    .item {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      .label {
        text-align: right;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
}
