.modal-people{
    .form-modal-people{
        .modal-body{
          padding: 0;
        }

        .container-header{
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          padding: 1.6rem;
          border-bottom: 1px solid var(--border-color);
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;
          .box-title{
            display: flex;
            align-items: center;
            gap: 0 1rem;
          }

          .edit-name{
            display: flex;
            // border: 1px solid;
            width: 90%;

            .button-save-active{
              display: flex;
              border: 1px solid #d3d5d7;
              color: white;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              width: 10%;
              cursor: pointer;
              background-color: #004353;

              &:hover{
                background-color: #1a6bad;
              }
            }

            .button-save-inactive{
              display: flex;
              border: 1px solid #d3d5d7;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              width: 10%;
              cursor: pointer;
              background-color: var(--extra-color-20);
            }
          }
          h4 {
            font-size: 1.8rem;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // width: calc(100% - 3rem);
            font-weight: 700;
            span {
              font-weight: 400;
            }
          }
          .btn-close {
            opacity: 0.5;
            svg {
              fill: var(--black-color);
              color: var(--black-color);
            }
            &:hover,
            &:focus {
              opacity: 0.75;
              background: none;
              box-shadow: none;
            }
          }
        }

        .container-name {
          margin-bottom: 2rem;
          width: 48.5%;
          .box-name{
            display: flex;

            .name-group {
              color: var(--text-primary-color);
              cursor: text;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
              padding-top: 0.3rem;
              display: block;
              margin-right: 5px;
    
              &::after {
                content: "*";
                padding-left: 0.3rem;
                color: var(--error-color);
              }
            }
          }
        }

        .container-point {
          margin-bottom: 2rem;
          width: 48.5%;
          .box-name{
            display: flex;

            .name-group {
              color: var(--text-primary-color);
              cursor: text;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
              padding-top: 0.3rem;
              display: block;
              margin-right: 5px;
    
              // &::after {
              //   content: "*";
              //   padding-left: 0.3rem;
              //   color: var(--error-color);
              // }
            }
          }
        }

        .condition-contact{
            margin-bottom: 2rem;

            .name-group {
                color: var(--text-primary-color);
                cursor: text;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 2rem;
                margin-bottom: 0.5rem;
                padding-top: 0.3rem;
                display: block;
      
                &::after {
                  content: "*";
                  padding-left: 0.3rem;
                  color: var(--error-color);
                }
              }
            .desc-condition{
                border: 1.5px solid var(--extra-color-10);
                border-radius: 0.3rem;
                padding: 1.2rem;

                .action__choose--item {
                    display: flex;
                    align-items: center;
                    gap: 0 0.8rem;
      
                    .base-button {
                      font-size: 1.4rem;
                      padding: 0.4rem 2.2rem;
                    }

                    .icon__add {
                        padding: 0.8rem 1.2rem;
                        border: 1px solid;
                    }
                }

                .box-condition{
                    .setting{
                        display: flex;
                        gap: 0 2rem;
                        // margin-bottom: 2rem;
                        margin-top: 1.5rem;
                    }

                    .setting_lv2{
                        display: flex;
                        // gap: 0 2rem;
                        align-items: center;
                        justify-content: space-between;
                        
                        // margin-bottom: 2rem;
                        // margin-top: 1.5rem;
                        .action_remove_active {
                            cursor: pointer;
                            // margin-top: 3.1rem;
                            // border: 1px solid;
                            // flex: 1;
                            display: flex;
                            // justify-content: flex-end;
                
                            svg {
                                width: 2.3rem;
                                height: 2.3rem;
                                fill: var(--extra-color-50);
                
                                &:hover {
                                    fill: var(--error-darker-color);
                                }
                            }
                        }
                    }

                    .view__logical {
                        display: block;
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: var(--primary-text-color);
                        padding: 0.2rem;
          
                        &:last-child {
                          display: none;
                        }
                      }
                }
            }
        }


        .container-people{
          min-height: 40rem;
          max-height: 48rem;
          overflow: auto;
          padding: 1.6rem;
            .box-people{
              border: 1px solid var(--extra-color-20);
              padding: 1.2rem 1.6rem;

              .title-people{
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                .icon__add {
                  padding: 0.6rem 1rem;
                  border: 1px solid;

                  svg {
                    width: 2rem;
                    height: 2rem;
                  }
                }
              }

              .item-people{
                border: 1px solid var(--extra-color-20);
                padding: 1.6rem;
                border-radius: 5px;

                .action-next{
                  display: flex;
                  align-items: center;
                  gap: 0 0.8rem;

                  .base-button {
                      font-size: 1.4rem;
                      padding: 0.4rem 2.2rem;
                    }

                    .icon__add {
                      padding: 0.8rem 1.2rem;
                      border: 1px solid;
                    }
                }
              }
            }
            
        }
    }
}