.connection-channel-page {
    .conatiner-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .conatiner-button {
            display: flex;
            gap: 0 1rem;
            .button-export,
            .button-connect {
                border: 1px solid;
                padding: 0.5rem 1.6rem;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: var(--extra-color-20);
                }
            }

            .button-connect {
                background-color: var(--primary-bg-color);
                color: white;
                border: 1px solid var(--primary-bg-color);
            }
        }
    }

    .list-app {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem 0;
        margin-top: 2rem;

        .item-app {
            border: 1px solid var(--border-color);
            border-radius: 10px;
            padding: 2rem;
            width: 32.5%;
            background-color: white;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
            }

            .logo {
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 10px;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .report{
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
            }

            .footer {
                border-top: 0.5px solid;
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
                padding-top: 1.5rem;

                .button-connected,
                .button-connect {
                    padding: 0 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    cursor: pointer;

                   
                }

                .button-connected {
                    background-color: green;
                }

                .button-connect {
                    background-color: #FF6633;
                }
            }
        }
    }

}
