.report-daily {
  background-color: var(--white-color);
  padding: 2rem;
  &--body{
    .title-group{
      font-size: 1.6rem;
      font-weight: 500;
    }
    .box__view--total{
      padding: 1rem 0rem 1rem 0rem !important;
    }
  }
  .evaluate-text{
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
    .progress-text{
      margin-left: 1rem;
      color: red;
    }
  }
}
