openapi: 3.0.3
info:
  title: Reborn Retail CRM -- Core API
  description: |
    REST API cho he thong Reborn Retail CRM (Cua hang ban le / Chuoi / Multi-channel POS).

    **Pham vi:** Sales, Inventory, Customer, Billing, Market (Promotions).
    Loyalty API co spec rieng -- khong nam trong file nay.

    **Authentication:** Bearer JWT token + Hostname header de xac dinh tenant.

    **Standard Response Format:**
    ```json
    {
      "code": 0,
      "message": "OK",
      "result": { ... }
    }
    ```
    - `code: 0` = thanh cong
    - `code: != 0` = loi (xem message de biet chi tiet)
  version: 1.0.0
  contact:
    name: Reborn Team
    email: ceo@reborn.vn

servers:
  - url: https://biz.reborn.vn
    description: Production

security:
  - BearerAuth: []
    HostnameAuth: []

tags:
  - name: Sales
    description: Hoa don ban hang, tra hang
  - name: Inventory
    description: San pham, kho, ton kho
  - name: Customer
    description: Quan ly khach hang
  - name: Billing
    description: So quy, quy, cong no
  - name: Market
    description: Khuyen mai, coupon

# ---------------------------------------------------------------------------
# PATHS
# ---------------------------------------------------------------------------
paths:

  # =========================================================================
  # SALES
  # =========================================================================

  /sales/invoice/list:
    get:
      tags: [Sales]
      summary: Danh sach hoa don ban hang
      operationId: salesInvoiceList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
          description: Tim theo ma hoa don, ten khach hang
        - name: status
          in: query
          schema:
            type: integer
          description: "Trang thai hoa don (0: nhap, 1: hoan thanh, 2: huy)"
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: branch_id
          in: query
          schema:
            type: integer
          description: Loc theo chi nhanh
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/SalesInvoice'
                          total:
                            type: integer

  /sales/invoice/create:
    post:
      tags: [Sales]
      summary: Tao hoa don ban hang moi
      operationId: salesInvoiceCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch_id, items]
              properties:
                branch_id:
                  type: integer
                  description: Chi nhanh ban
                customer_id:
                  type: integer
                  description: Khach hang (optional, bo trong = khach le)
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [product_id, quantity, price]
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: number
                      price:
                        type: number
                      discount:
                        type: number
                        default: 0
                note:
                  type: string
                payment_method:
                  type: string
                  enum: [cash, bank_transfer, card, momo, vnpay]
                  default: cash
                promotion_id:
                  type: integer
                  description: Ap dung chuong trinh khuyen mai
                coupon_code:
                  type: string
                  description: Ma coupon
      responses:
        '200':
          description: Tao thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/SalesInvoice'

  /sales/invoice/get:
    get:
      tags: [Sales]
      summary: Chi tiet hoa don ban hang
      operationId: salesInvoiceGet
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/SalesInvoice'

  /sales/invoice/return:
    post:
      tags: [Sales]
      summary: Tra hang / hoan hoa don
      operationId: salesInvoiceReturn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoice_id, items]
              properties:
                invoice_id:
                  type: integer
                  description: ID hoa don goc
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [product_id, quantity]
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: number
                        description: So luong tra
                reason:
                  type: string
                  description: Ly do tra hang
                refund_method:
                  type: string
                  enum: [cash, bank_transfer, store_credit]
                  default: cash
      responses:
        '200':
          description: Tra hang thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          return_id:
                            type: integer
                          refund_amount:
                            type: number

  # =========================================================================
  # INVENTORY
  # =========================================================================

  /inventory/product/list:
    get:
      tags: [Inventory]
      summary: Danh sach san pham
      operationId: inventoryProductList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
          description: Tim theo ten, ma, barcode
        - name: category_id
          in: query
          schema:
            type: integer
        - name: brand_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: integer
          description: "1: dang kinh doanh, 0: ngung kinh doanh"
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Product'
                          total:
                            type: integer

  /inventory/product/update:
    post:
      tags: [Inventory]
      summary: Them moi hoac cap nhat san pham
      operationId: inventoryProductUpdate
      description: |
        Neu `id` = 0 hoac khong truyen -> tao moi.
        Neu `id` > 0 -> cap nhat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price]
              properties:
                id:
                  type: integer
                  default: 0
                name:
                  type: string
                code:
                  type: string
                  description: Ma san pham (tu dong generate neu bo trong)
                barcode:
                  type: string
                category_id:
                  type: integer
                brand_id:
                  type: integer
                unit:
                  type: string
                  description: Don vi tinh
                price:
                  type: number
                  description: Gia ban
                cost_price:
                  type: number
                  description: Gia von
                weight:
                  type: number
                description:
                  type: string
                status:
                  type: integer
                  default: 1
                images:
                  type: array
                  items:
                    type: string
                    format: uri
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Product'

  /inventory/warehouse/list:
    get:
      tags: [Inventory]
      summary: Danh sach kho hang
      operationId: inventoryWarehouseList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
        - name: branch_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Warehouse'
                          total:
                            type: integer

  /inventory/warehouse/update:
    post:
      tags: [Inventory]
      summary: Them moi hoac cap nhat kho hang
      operationId: inventoryWarehouseUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, branch_id]
              properties:
                id:
                  type: integer
                  default: 0
                name:
                  type: string
                branch_id:
                  type: integer
                address:
                  type: string
                phone:
                  type: string
                status:
                  type: integer
                  default: 1
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Warehouse'

  /inventory/stock/list:
    get:
      tags: [Inventory]
      summary: Ton kho theo san pham / kho
      operationId: inventoryStockList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: product_id
          in: query
          schema:
            type: integer
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: branch_id
          in: query
          schema:
            type: integer
        - name: low_stock
          in: query
          schema:
            type: boolean
          description: Chi hien san pham sap het hang
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/StockItem'
                          total:
                            type: integer

  # =========================================================================
  # CUSTOMER
  # =========================================================================

  /api/customer/filter:
    get:
      tags: [Customer]
      summary: Tim kiem / loc khach hang
      operationId: customerFilter
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
          description: Tim theo ten, SDT, email, ma KH
        - name: group_id
          in: query
          schema:
            type: integer
          description: Nhom khach hang
        - name: gender
          in: query
          schema:
            type: integer
          description: "0: nu, 1: nam"
        - name: source
          in: query
          schema:
            type: string
          description: Nguon khach hang (facebook, website, walk-in, ...)
        - name: from_date
          in: query
          schema:
            type: string
            format: date
          description: Ngay tao tu
        - name: to_date
          in: query
          schema:
            type: string
            format: date
          description: Ngay tao den
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Customer'
                          total:
                            type: integer

  /api/customer/update:
    post:
      tags: [Customer]
      summary: Them moi hoac cap nhat khach hang
      operationId: customerUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, phone]
              properties:
                id:
                  type: integer
                  default: 0
                full_name:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                  format: email
                gender:
                  type: integer
                birthday:
                  type: string
                  format: date
                address:
                  type: string
                province_id:
                  type: integer
                district_id:
                  type: integer
                ward_id:
                  type: integer
                group_id:
                  type: integer
                  description: Nhom khach hang
                source:
                  type: string
                tax_code:
                  type: string
                company_name:
                  type: string
                note:
                  type: string
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Customer'

  /api/customer/detail:
    get:
      tags: [Customer]
      summary: Chi tiet khach hang
      operationId: customerDetail
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Customer'

  # =========================================================================
  # BILLING
  # =========================================================================

  /billing/cashbook/list:
    get:
      tags: [Billing]
      summary: Danh sach phieu thu chi (so quy)
      operationId: billingCashbookList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: integer
          description: "1: thu, 2: chi"
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: branch_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/CashbookEntry'
                          total:
                            type: integer

  /billing/cashbook/update:
    post:
      tags: [Billing]
      summary: Tao phieu thu chi moi hoac cap nhat
      operationId: billingCashbookUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, amount, category_id]
              properties:
                id:
                  type: integer
                  default: 0
                type:
                  type: integer
                  description: "1: thu, 2: chi"
                amount:
                  type: number
                category_id:
                  type: integer
                  description: Loai thu chi
                customer_id:
                  type: integer
                supplier_id:
                  type: integer
                branch_id:
                  type: integer
                payment_method:
                  type: string
                  enum: [cash, bank_transfer, card]
                  default: cash
                note:
                  type: string
                date:
                  type: string
                  format: date
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/CashbookEntry'

  /billing/fund/list:
    get:
      tags: [Billing]
      summary: Danh sach quy (tien mat, ngan hang, ...)
      operationId: billingFundList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: branch_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Fund'
                          total:
                            type: integer

  /billing/debt/list:
    get:
      tags: [Billing]
      summary: Danh sach cong no khach hang / NCC
      operationId: billingDebtList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: object_type
          in: query
          schema:
            type: string
            enum: [customer, supplier]
          description: Doi tuong cong no
        - name: object_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: integer
          description: "0: chua thanh toan, 1: da thanh toan mot phan, 2: da tat toan"
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/DebtRecord'
                          total:
                            type: integer
                          total_debt:
                            type: number
                            description: Tong cong no con lai

  # =========================================================================
  # MARKET (Promotions)
  # =========================================================================

  /market/promotion/list:
    get:
      tags: [Market]
      summary: Danh sach chuong trinh khuyen mai
      operationId: marketPromotionList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: integer
          description: "0: ngung, 1: dang chay, 2: het han"
        - name: type
          in: query
          schema:
            type: string
            enum: [discount, gift, buy_x_get_y, combo]
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Promotion'
                          total:
                            type: integer

  /market/promotion/update:
    post:
      tags: [Market]
      summary: Tao moi hoac cap nhat chuong trinh khuyen mai
      operationId: marketPromotionUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type, start_date, end_date]
              properties:
                id:
                  type: integer
                  default: 0
                name:
                  type: string
                type:
                  type: string
                  enum: [discount, gift, buy_x_get_y, combo]
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
                status:
                  type: integer
                  default: 1
                apply_to:
                  type: string
                  enum: [all, category, product, customer_group]
                  default: all
                apply_ids:
                  type: array
                  items:
                    type: integer
                  description: Danh sach ID (category / product / customer_group) ap dung
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      min_quantity:
                        type: number
                      min_amount:
                        type: number
                      discount_type:
                        type: string
                        enum: [percent, fixed]
                      discount_value:
                        type: number
                      gift_product_id:
                        type: integer
                branch_ids:
                  type: array
                  items:
                    type: integer
                  description: Chi nhanh ap dung (trong = tat ca)
                note:
                  type: string
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Promotion'

  /market/coupon/list:
    get:
      tags: [Market]
      summary: Danh sach coupon / ma giam gia
      operationId: marketCouponList
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: keyword
          in: query
          schema:
            type: string
          description: Tim theo ma coupon
        - name: status
          in: query
          schema:
            type: integer
          description: "0: chua su dung, 1: da su dung, 2: het han"
        - name: promotion_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Coupon'
                          total:
                            type: integer

  /market/coupon/apply:
    post:
      tags: [Market]
      summary: Ap dung coupon vao hoa don
      operationId: marketCouponApply
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, invoice_id]
              properties:
                code:
                  type: string
                  description: Ma coupon
                invoice_id:
                  type: integer
                  description: ID hoa don can ap dung
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      result:
                        type: object
                        properties:
                          discount_amount:
                            type: number
                            description: So tien duoc giam
                          final_amount:
                            type: number
                            description: Tong tien sau giam

# ---------------------------------------------------------------------------
# COMPONENTS
# ---------------------------------------------------------------------------
components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token tra ve sau khi dang nhap
    HostnameAuth:
      type: apiKey
      in: header
      name: Hostname
      description: Tenant hostname (vd "shop1.reborn.vn")

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
      description: So trang (bat dau tu 1)
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 200
      description: So ban ghi / trang

  schemas:

    BaseResponse:
      type: object
      properties:
        code:
          type: integer
          description: "0 = thanh cong, != 0 = loi"
          example: 0
        message:
          type: string
          example: "OK"

    SalesInvoice:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          description: Ma hoa don (auto-generated)
        customer_id:
          type: integer
        customer_name:
          type: string
        branch_id:
          type: integer
        branch_name:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
              product_name:
                type: string
              quantity:
                type: number
              price:
                type: number
              discount:
                type: number
              amount:
                type: number
        total_amount:
          type: number
        discount_amount:
          type: number
        final_amount:
          type: number
        payment_method:
          type: string
        status:
          type: integer
          description: "0: nhap, 1: hoan thanh, 2: huy"
        note:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string

    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        barcode:
          type: string
        category_id:
          type: integer
        category_name:
          type: string
        brand_id:
          type: integer
        brand_name:
          type: string
        unit:
          type: string
        price:
          type: number
        cost_price:
          type: number
        weight:
          type: number
        description:
          type: string
        status:
          type: integer
        images:
          type: array
          items:
            type: string
            format: uri
        created_at:
          type: string
          format: date-time

    Warehouse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        branch_id:
          type: integer
        branch_name:
          type: string
        address:
          type: string
        phone:
          type: string
        status:
          type: integer

    StockItem:
      type: object
      properties:
        product_id:
          type: integer
        product_name:
          type: string
        product_code:
          type: string
        warehouse_id:
          type: integer
        warehouse_name:
          type: string
        quantity:
          type: number
          description: Ton kho hien tai
        min_stock:
          type: number
          description: Muc ton toi thieu
        max_stock:
          type: number
          description: Muc ton toi da

    Customer:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          description: Ma khach hang
        full_name:
          type: string
        phone:
          type: string
        email:
          type: string
        gender:
          type: integer
        birthday:
          type: string
          format: date
        address:
          type: string
        province_id:
          type: integer
        district_id:
          type: integer
        ward_id:
          type: integer
        group_id:
          type: integer
        group_name:
          type: string
        source:
          type: string
        tax_code:
          type: string
        company_name:
          type: string
        note:
          type: string
        total_spent:
          type: number
          description: Tong chi tieu
        total_orders:
          type: integer
          description: Tong so don hang
        created_at:
          type: string
          format: date-time

    CashbookEntry:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        type:
          type: integer
          description: "1: thu, 2: chi"
        amount:
          type: number
        category_id:
          type: integer
        category_name:
          type: string
        customer_id:
          type: integer
        supplier_id:
          type: integer
        object_name:
          type: string
          description: Ten khach hang hoac NCC
        branch_id:
          type: integer
        payment_method:
          type: string
        note:
          type: string
        date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    Fund:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          description: "vd: Tien mat, Ngan hang ACB, Momo"
        type:
          type: string
          enum: [cash, bank, ewallet]
        balance:
          type: number
        branch_id:
          type: integer
        branch_name:
          type: string
        status:
          type: integer

    DebtRecord:
      type: object
      properties:
        id:
          type: integer
        object_type:
          type: string
          enum: [customer, supplier]
        object_id:
          type: integer
        object_name:
          type: string
        total_debt:
          type: number
          description: Tong no
        total_paid:
          type: number
          description: Da thanh toan
        remaining:
          type: number
          description: Con lai
        status:
          type: integer
        last_payment_date:
          type: string
          format: date
        invoices:
          type: array
          items:
            type: object
            properties:
              invoice_id:
                type: integer
              invoice_code:
                type: string
              amount:
                type: number
              paid:
                type: number
              remaining:
                type: number
              due_date:
                type: string
                format: date

    Promotion:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [discount, gift, buy_x_get_y, combo]
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        status:
          type: integer
        apply_to:
          type: string
        rules:
          type: array
          items:
            type: object
        branch_ids:
          type: array
          items:
            type: integer
        note:
          type: string
        created_at:
          type: string
          format: date-time

    Coupon:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        promotion_id:
          type: integer
        promotion_name:
          type: string
        discount_type:
          type: string
          enum: [percent, fixed]
        discount_value:
          type: number
        min_order_amount:
          type: number
          description: Gia tri don hang toi thieu
        max_discount:
          type: number
          description: Giam toi da (cho loai percent)
        usage_limit:
          type: integer
          description: So lan su dung toi da
        used_count:
          type: integer
        status:
          type: integer
        expire_date:
          type: string
          format: date-time
