.title-action {
  padding: 0rem 2rem 2rem 2rem;
  // border: 1px solid;
  .title {
    width: 100%;
  }
  h1 {
    color: var(--text-primary-color);
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actions {
    gap: 1.6rem;
    .base-button {
      font-weight: 500;
      white-space: nowrap;
      svg {
        width: 2rem;
        height: 2rem;
        margin: 0;
      }
    }
    &-extra {
      margin-top: 1.2rem;
      margin-bottom: 0.8rem;
      flex-wrap: wrap;
      .base-button {
        color: var(--black-color);
        gap: 0.8rem;
        // margin-right: 2.8rem;
        margin-right: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: var(--primary-color);
          svg {
            color: var(--primary-color);
            fill: var(--primary-color);
          }
        }
        svg {
          color: var(--black-color);
          fill: var(--black-color);
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  @media (max-width: 767px) {
    h1 {
      padding-right: 0;
      margin-bottom: 1rem;
    }
    .actions {
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 1.2rem;
      .base-button {
        padding: 0.6rem 1.2rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
      &-extra {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        .base-button {
          margin: 0;
          padding: 0.6rem 1rem 0.6rem 2rem;
          white-space: nowrap;
          &:hover,
          &:focus,
          &:active {
            color: inherit;
            svg {
              color: inherit;
              fill: inherit;
            }
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    flex-direction: column;
  }
}
