.modal-onreject-modal {
    .form-onreject-modal {
      .modal-body {
        padding: 0;
      }
  
      .list-form-group {
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        max-height: 48rem;
        overflow: auto;
      }
  
      .list-field-item {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 3.2rem;
  
        .form-group {
        //   &:first-child {
            width: 100%;
        //   }
          // width: calc(50% - 1.6rem);
          .radio-list {
            // margin-top: 3.3rem;
            .form-group {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0 2rem;
  
              .base-radio {
                margin-top: 0;
              }
            }
          }
        }

        .attachments {
            width: 100%;
            margin-bottom: 2rem;
            .title-attachment {
              display: flex;
              align-items: center;
              gap: 0 0.3rem;
              color: var(--text-primary-color);
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
            }

            .wrapper-list-image,
            .list-image-scroll {
              border: 1px dashed var(--extra-color-30);
              padding: 1.2rem;
              display: flex;
              // flex-wrap: wrap;
              align-items: center;
              // min-height: 15rem;
              height: 9rem;
              gap: 0.5rem 0.8rem;
              border-radius: 0.8rem;

              .action-upload-image {
                display: flex;
                align-items: center;
                justify-content: center;
                // width: 100%;
                height: 100%;
                border: 1px solid #ECEAEA;
                cursor: pointer;
                margin-bottom: 0;
                padding: 0.4rem 1rem 0.4rem 1rem;
                border-radius: 8px;

                .wrapper-upload {
                  display: flex;
                  // flex-direction: column;
                  text-align: center;
                  align-items: center;
                  // color: var(--extra-color-50);
                  font-size: 1.4rem;
                  font-weight: 500;

                  svg {
                    width: 3.2rem;
                    height: 3.2rem;
                    margin-top: 0.5rem;
                    // fill: var(--extra-color-50);
                  }
                }

                &:hover {
                  .wrapper-upload {
                    // color: var(--primary-color-70);
                    color: #ED1B34;

                    svg {
                      // fill: var(--primary-color-90);
                      path {
                        stroke: #ED1B34;
                      }
                    }
                  }
                }
              }

              .container-list-file {
                display: flex;
                gap: 1.2rem 1.2rem;
                // border: 1px solid;
                flex-wrap: wrap;

                .file-item {
                    width: 20rem;
                    height: 10rem;
                    position: relative;
                    cursor: pointer;
                    background-color: var(--extra-color-10);
                    border-radius: 0.3rem;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    padding: 1.3rem 1rem; 
                    // margin-right: 1rem;
                    // & + .file-item {
                    //   margin-left: 1rem;
                    // }
    
                    img {
                      width: 80%;
                      height: 80%;
                      object-fit: contain;
                      border-radius: 0.5rem;
                    }
    
                    .icon-delete {
                      display: none;
                    }
    
                    &:hover {
                      img {
                        opacity: 0.5;
                      }
    
                      .icon-delete {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
    
                        svg {
                          width: 2rem;
                          height: 2rem;
                          fill: var(--error-color);
                        }
                      }
                    }
                  }
    
                  .image-item {
                    width: 10rem;
                    height: 10rem;
                    position: relative;
                    cursor: pointer;
                    background-color: var(--extra-color-10);
                    border-radius: 0.3rem;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    padding: 1.3rem 1rem; 
                    // margin-right: 1rem;
    
                    // & + .image-item {
                    //   margin-left: 1rem;
                    // }
    
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                      border-radius: 0.5rem;
                    }
    
                    .icon-delete {
                      display: none;
                    }
    
                    &:hover {
                      img {
                        opacity: 0.5;
                      }
    
                      .icon-delete {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
    
                        svg {
                          width: 2rem;
                          height: 2rem;
                          fill: var(--error-color);
                        }
                      }
                    }
                  }
    
                  .add-image {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    border: 1px dashed var(--extra-color-50);
                    margin: 0 0 0 0.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    svg {
                      width: 3rem;
                      height: 3rem;
                      fill: var(--extra-color-50);
                    }
    
                    &:hover {
                      border: 1px dashed var(--success-color);
    
                      svg {
                        fill: var(--warning-color);
                      }
                    }
                  }
              }
              .is__loading--file {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 10rem;
                height: 10rem;
                border-radius: 0.3rem;
                border: 1.5px dashed var(--extra-color-30);
                background-color: var(--extra-color-5);
                margin-left: 1rem;
      
                svg {
                  width: 3rem;
                  height: 3rem;
                  animation: circular 1s linear infinite;
                }
      
                .name-loading {
                  font-size: 1.3rem;
                  font-weight: 500;
                  color: var(--extra-color-50);
                }
      
                @keyframes circular {
                  from {
                    transform: rotate(0);
                  }
                  to {
                    transform: rotate(360deg);
                  }
                }
              }              
            }

            .list-attachment{
              // border: 1px solid;
              margin-top: 1rem;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              gap: 1.6rem 0rem;

              .item-attachment{
                border: 1px solid #E8E8E9;
                border-radius: 8px;
                width: 48.5%;
                padding: 1.2rem;
                display: flex;
                gap: 0 1rem;

                .data-file{
                  // border: 1px solid;
                  flex: 1;
                  cursor: pointer;
                }

                .container-loading{
                  // border: 1px solid;
                  border-radius: 8px;
                  background-color: #F8F8F8;
                  .item-loading{
                    height: 8px;
                    border-radius: 8px;
                    background-color: #ED1B34;
                  }
                }
              }
            }

            .list-image-scroll {
              overflow-x: scroll;
              overflow-y: hidden;
            }
          }
  

      }

    }
  }
  