.modal-condition-email{
    .form-condition-email{
        .modal-body{
          padding: 0;
        }

        .container-header{
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          padding: 1.6rem;
          border-bottom: 1px solid var(--border-color);
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;
          .box-title{
            display: flex;
            align-items: center;
            gap: 0 1rem;
          }

          .edit-name{
            display: flex;
            // border: 1px solid;
            width: 90%;

            .button-save-active{
              display: flex;
              border: 1px solid #d3d5d7;
              color: white;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              width: 10%;
              cursor: pointer;
              background-color: #004353;

              &:hover{
                background-color: #1a6bad;
              }
            }

            .button-save-inactive{
              display: flex;
              border: 1px solid #d3d5d7;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              width: 10%;
              cursor: pointer;
              background-color: var(--extra-color-20);
            }
          }
          h4 {
            font-size: 1.8rem;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // width: calc(100% - 3rem);
            font-weight: 700;
            span {
              font-weight: 400;
            }
          }
          .btn-close {
            opacity: 0.5;
            svg {
              fill: var(--black-color);
              color: var(--black-color);
            }
            &:hover,
            &:focus {
              opacity: 0.75;
              background: none;
              box-shadow: none;
            }
          }
        }

        .container-name {
          margin-bottom: 2rem;
          width: 48.5%;
          .box-name{
            display: flex;

            .name-group {
              color: var(--text-primary-color);
              cursor: text;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
              padding-top: 0.3rem;
              display: block;
              margin-right: 5px;
    
              &::after {
                content: "*";
                padding-left: 0.3rem;
                color: var(--error-color);
              }
            }
          }
        }

        .container-point {
          margin-bottom: 2rem;
          width: 48.5%;
          .box-name{
            display: flex;

            .name-group {
              color: var(--text-primary-color);
              cursor: text;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin-bottom: 0.5rem;
              padding-top: 0.3rem;
              display: block;
              margin-right: 5px;
    
              // &::after {
              //   content: "*";
              //   padding-left: 0.3rem;
              //   color: var(--error-color);
              // }
            }
          }
        }

        .condition-contact{
            margin-bottom: 2rem;

            .name-group {
                color: var(--text-primary-color);
                cursor: text;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 2rem;
                margin-bottom: 0.5rem;
                padding-top: 0.3rem;
                display: block;
      
                &::after {
                  content: "*";
                  padding-left: 0.3rem;
                  color: var(--error-color);
                }
              }
            .desc-condition{
                border: 1.5px solid var(--extra-color-10);
                border-radius: 0.3rem;
                padding: 1.2rem;

                .action__choose--item {
                    display: flex;
                    align-items: center;
                    gap: 0 0.8rem;
      
                    .base-button {
                      font-size: 1.4rem;
                      padding: 0.4rem 2.2rem;
                    }

                    .icon__add {
                        padding: 0.8rem 1.2rem;
                        border: 1px solid;
                    }
                }

                .box-condition{
                    .setting{
                        display: flex;
                        gap: 0 2rem;
                        // margin-bottom: 2rem;
                        margin-top: 1.5rem;
                    }

                    .setting_lv2{
                        display: flex;
                        // gap: 0 2rem;
                        align-items: center;
                        justify-content: space-between;
                        
                        // margin-bottom: 2rem;
                        // margin-top: 1.5rem;
                        .action_remove_active {
                            cursor: pointer;
                            // margin-top: 3.1rem;
                            // border: 1px solid;
                            // flex: 1;
                            display: flex;
                            // justify-content: flex-end;
                
                            svg {
                                width: 2.3rem;
                                height: 2.3rem;
                                fill: var(--extra-color-50);
                
                                &:hover {
                                    fill: var(--error-darker-color);
                                }
                            }
                        }
                    }

                    .view__logical {
                        display: block;
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: var(--primary-text-color);
                        padding: 0.2rem;
          
                        &:last-child {
                          display: none;
                        }
                      }
                }
            }
        }


        .container-condition-email{
          max-height: 48rem;
          overflow: auto;
          padding: 1.6rem;
            .condition-customer-segment{
                .form-group {
                    .has-disabled {
                      input {
                        opacity: 0.7;
                      }
            
                      .select-custom,
                      .select__custom-label {
                        opacity: 0.7;
                      }
                    }
            
                    .name-group {
                      color: var(--text-primary-color);
                      cursor: text;
                      font-size: 1.4rem;
                      font-weight: 700;
                      line-height: 2rem;
                      margin-bottom: 0.5rem;
                      padding-top: 0.3rem;
                      display: block;
            
                      // &::after {
                      //   content: "*";
                      //   padding-left: 0.3rem;
                      //   color: var(--error-color);
                      // }
                    }
            
                    .desc__filter {
                      border: 1.5px solid var(--extra-color-10);
                      border-radius: 0.3rem;
                      padding: 1.2rem;
            
                      // đoạn này là css chung của các cấp
                      .lv__item {
                        // đoạn này là chọn action and hoặc or
                        .action__choose--item {
                          display: flex;
                          align-items: center;
                          gap: 0 0.8rem;
            
                          .base-button {
                            font-size: 1.4rem;
                            padding: 0.4rem 2.2rem;
                          }
                        }
            
                        .view__logical {
                          display: block;
                          font-size: 1.3rem;
                          font-weight: 600;
                          text-transform: uppercase;
                          color: var(--primary-text-color);
                          padding: 0.2rem;
            
                          &:last-child {
                            display: none;
                          }
                        }
            
                        .including__conditions {
                          // đoạn này là css của chọn trường
                          .lst__option--group-field {
                            position: relative;
            
                            .choose-field {
                              .action__drop--field {
                                border: 1px solid var(--border-color);
                                border-radius: 0.3rem;
                                padding: 0.7rem 1.2rem;
                                font-size: 1.4rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                cursor: pointer;
            
                                svg {
                                  width: 2rem;
                                  height: 2rem;
                                  fill: var(--text-extra-color);
                                }
                              }
                            }
            
                            &.dis__lst__option--group-field {
                              opacity: 0.7;
                              background-color: var(--extra-color-5);
            
                              .choose-field {
                                .action__drop--field {
                                  cursor: no-drop;
                                }
                              }
                            }
            
                            .show__field--choose {
                              .action__drop--field {
                                border-color: var(--primary-color-80);
                              }
                            }
            
                            .lst__field--drop {
                              position: absolute;
                              left: 0;
                              right: 0;
                              margin-top: 0.5rem;
                              background-color: var(--white-color);
                              border-radius: 0.3rem;
                              padding: 0.2rem 0rem;
                              max-height: 20rem;
                              overflow: auto;
                              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                              z-index: 99;
            
                              .item__field--drop {
                                padding: 0.6rem 0.8rem;
                                border-radius: 0.3rem;
                                font-size: 1.4rem;
                                cursor: pointer;
            
                                &:hover {
                                  background-color: var(--extra-color-10);
                                }
                              }
                            }
                          }
            
                          // đoạn này là css các trường được chọn
                          .lst__field--rule {
                            .item__rule {
                              width: 100%;
                              display: flex;
                              align-items: center;
                              gap: 0 0.5rem;
            
                              &:first-child {
                                margin-top: 1rem;
                              }
            
                              .lst__info--rule {
                                display: flex;
                                align-items: center;
                                gap: 0 0.5rem;
                                width: 96%;
                                flex: 1;
            
                                .info-item {
                                  width: calc(100% / 3);
            
                                  .name-field {
                                    border: 1px solid var(--border-color);
                                    border-radius: 0.3rem;
                                    padding: 0.7rem 1.2rem;
                                    display: block;
                                    font-size: 1.4rem;
                                    background-color: var(--extra-color-5);
                                    cursor: no-drop;
                                    opacity: 0.7;
                                    white-space: nowrap;
                                    overflow: hidden;
                                  }
            
                                  .base-select {
                                    div[class*="-menu"] {
                                      & > div {
                                        max-height: 12rem;
                                      }
                                    }
                                  }
            
                                  .field__special {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0 0.5rem;
            
                                    .base-select {
                                      flex: 1;
                                    }
                                  }
                                }
                              }
            
                              .action__delete--rule {
                                width: 4%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                .icon__delete {
                                  cursor: pointer;
            
                                  svg {
                                    width: 2rem;
                                    height: 2rem;
                                  }
            
                                  &:hover {
                                    svg {
                                      fill: var(--error-color);
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
            
                      // đoạn này là css của cấp 1
                      .lv__1 {
                        .action__choose--lv1 {
                          margin-bottom: 2rem;
            
                          .icon__add {
                            padding: 0.8rem 1.2rem;
                          }
                        }
                      }
            
                      // đoạn này là css của cấp 2
                      .lv__2 {
                        .view__logical--block {
                          color: var(--primary-color-80);
                        }
            
                        .box__block--rule {
                          .block__rule {
                            border: 1px solid var(--primary-color-70);
                            border-radius: 0.3rem;
                            padding: 1.2rem;
                          }
            
                          .action__choose--lv2 {
                            margin-bottom: 1.8rem;
            
                            .icon__add,
                            .icon__detete {
                              padding: 0.9rem 1.2rem;
            
                              svg {
                                width: 2rem;
                                height: 2rem;
                              }
                            }
                          }
            
                          .view__logical--rule--block {
                            color: var(--primary-color-80);
                          }
                        }
                      }
            
                      // đoạn này là css của cấp 3
                      .lv__3 {
                        .box__children--block {
                          .view__logical--rule--block--children {
                            color: var(--sea-green-color);
                          }
            
                          .block__children {
                            border: 1px solid var(--primary-color-70);
                            border-radius: 0.3rem;
                            padding: 1.2rem;
                          }
            
                          .action__choose--lv3 {
                            margin-bottom: 1.8rem;
            
                            .icon__detete {
                              padding: 0.9rem 1.2rem;
            
                              svg {
                                width: 2rem;
                                height: 2rem;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
            }
            
        }
    }
}