.page-middle-work-report {
    display: flex;
    flex-direction: column;
    .list-work-project{
        .save-search{
            display: none !important;
        }
        .add-work{
            display: none !important;
        }
        .search-container {
            padding: 0rem;
        }
    }
    .switch-head {
      margin-bottom: 2rem;
    }
    .actions-title{
        button{
            margin-right: 2rem;
        }
    }
  
    .wrapper-project {
      width: 100%;
      display: flex;
      align-items: flex-start;
    //   box-shadow: var(--box-shadow);
      border-radius: 0.4rem;
      overflow: hidden;
      background-color: var(--white-color);
      .project-management {
        .page-project-management{
            .header-project-management{
                    .add-project{
                        display: none !important;
                    }
                
            }
        }
      }
      .list-project {
            .full-page {
                display: none !important;
            }
      }
    }
  
    .project-management,
    .hide-project-management {
      background-color: var(--white-color);
    }
  
    .project-management {
      // position: fixed;
      width: 25%;
      flex-shrink: 0;
      transition: width 0.8s ease-in-out;
    }
  
    .show__vertical--project {
      border-right: 0.8px solid var(--extra-color-50);
      transition: border-right 0.5s ease-in-out;
    }
  
    .hide-project-management {
      width: 0;
      transition: width 1s ease-in-out;
    }
  
    .list-project {
      width: 75%;
      // margin-left: 27rem;
    }
  
    .show__vertical--work {
      border-left: 0.8px solid var(--extra-color-50);
      transition: border-left 0.5s ease-in-out;
    }
  
    .active-fullpage {
      // margin-left: 0;
      width: 100%;
      border-left-color: transparent;
      transition: width 1s ease-in-out;
    }
  
    // đoạn này css header chi tiết công việc
    .wrapper__detail--work {
      .action-navigation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
  
        .action-backup {
          display: flex;
          align-items: center;
  
          h1 {
            color: var(--text-primary-color);
            font-size: 2.4rem;
            line-height: 2.8rem;
            padding-right: 1rem;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
          }
  
          .title-first {
            cursor: pointer;
  
            &:hover {
              opacity: 0.8;
            }
          }
  
          .title-last {
            color: var(--extra-color-50);
          }
  
          svg {
            width: 4rem;
            height: 4rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
  