.modal-add-paymenthistory {
  .form-paymenthistory-group {
    .list-form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        width: calc(50% - 1.6rem);

        &:nth-child(3),
        &:nth-child(4) {
          width: 100%;
        }
      }
    }
  }
}
