.kanban__status--work {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .task-list {
    & + .task-list {
      margin-left: 2rem;
    }

    min-height: 10rem;
    display: flex;
    flex-direction: column;
    width: 18%;
    border-radius: 0.5rem;
    flex: 1;

    .lst__task--item {
      .__task {
        max-height: 53.5rem;
        overflow: auto;
      }

      .action__add--work {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 0.5rem;
        background-color: var(--white-color);
        padding: 0.8rem 1.2rem;
        border-radius: 0.5rem;
        padding: 0.8rem 1.2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        margin: 1.5rem 1.5rem 1.2rem 1.5rem;

        svg {
          width: 2rem;
          height: 2rem;
        }

        &:hover {
          color: var(--success-color);
          svg {
            fill: var(--success-color);
          }
        }
      }
    }

    .wrapper__title {
      // margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0 0.8rem;
      padding: 1.5rem 1.5rem 0;

      .title-task {
        font-size: 1.3rem;
        font-weight: 600;
        background-color: rgba(var(--success-color-rgb), 0.3);
        color: var(--text-primary-color);
        padding: 0.2rem 1rem;
        border-radius: 5px;
        align-self: flex-start;
      }

      .total-task {
        font-weight: 600;
      }
    }

    &:first-child {
      .wrapper__title {
        .title-task {
          background-color: #dfe1e6;
        }
      }
    }

    &:nth-child(3) {
      .wrapper__title {
        margin-bottom: 1.5rem;
      }
    }

    &:nth-child(2) {
      .wrapper__title {
        .title-task {
          background-color: #deebff;
        }
      }
    }

    &:nth-child(4) {
      .wrapper__title {
        margin-bottom: 1.5rem;
        .title-task {
          background-color: #ff463b;
        }
      }
    }

    &:last-child {
      .wrapper__title {
        .title-task {
          background: rgba(var(--warning-color-rgb), 0.5);
        }
      }
    }
  }
}
