.modal-view-detail-login {
  .box-view-detail-login {
    .modal-body {
      padding: 0;
    }

    .list__login {
      max-height: 42rem;
      overflow: auto;
    }

    .box-table {
      margin-top: 1.2rem;
    }
  }
}
