.overview-customer {
    gap: 2.8rem;
    // width: 100%;
    &-item {
      // flex: 1 0 calc(50% - 1.4rem);
      padding: 2.4rem 4rem 2.4rem 2.4rem;
      height: auto;
      position: relative;
      transition: all 0.5s ease-in-out;
      &__main {
        margin-right: 1.2rem;
      }
      &__info {
        h3 {
          text-transform: uppercase;
          font-size: 2rem;
          line-height: 2.4rem;
          font-weight: bold;
          margin: 1rem -10rem 0.4rem 0;
        }
        time {
          display: block;
          font-size: 1.2rem;
          line-height: 2.4rem;
          font-style: italic;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
      &__icon {
        width: 7.4rem;
        height: 7.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--primary-color);
        color: var(--primary-color);
        margin-right: 1.6rem;
        flex-shrink: 0;
      }
      &__note {
        margin-top: 1rem;
        padding: 3px 0;
        & > span {
          display: block;
        }
        span {
          font-size: 1.4rem;
          line-height: 1.8rem;
          .percentage {
            &-increase {
              color: var(--success-color);
            }
            &-decrease {
              color: var(--warning-color);
            }
          }
        }
      }
      &__number {
        padding-top: 3.6rem;
        color: var(--success-color);
        svg {
          height: 6.5rem;
          fill: var(--success-color);
          color: var(--success-color);
        }
        span {
          font-size: 6.4rem;
          padding-left: 1.6rem;
          min-width: 14rem;
          text-align: right;
        }
      }
      &--decrease {
        .overview-item__number {
          color: var(--warning-color);
          svg {
            fill: var(--warning-color);
            color: var(--warning-color);
          }
        }
      }
      &__returns {
        .overview-item__note {
          span {
            .percentage {
              &-increase {
                color: var(--success-color);
              }
              &-decrease {
                color: var(--warning-color);
              }
            }
          }
        }
        &.overview-item--decrease {
          .overview-item__number {
            color: var(--warning-color);
            svg {
              fill: var(--warning-color);
              color: var(--warning-color);
            }
          }
        }
        
        &.overview-item--increase {
          .overview-item__number {
            color: var(--success-color);
            svg {
              fill: var(--success-color);
              color: var(--success-color);
            }
          }
        }
      }
    }
  }