.modal-work-xml,
.modal-work-xml-full {
  &.modal-work-xml-full {
    .modal-dialog--xxl {
      max-width: 98%;
    }
  }

  .form-handle-task {
    display: flex;
    flex-direction: column;
    height: 100%;

    .modal-body {
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 20rem);
    }

    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      background-color: #fff;

      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
        overflow: hidden;

        h4 {
          font-size: 1.8rem;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 700;

          span {
            font-weight: 400;
          }
        }
      }

      .container-button {
        display: flex;
        align-items: center;
        gap: 5px;

        .btn-close,
        .btn-setting {
          opacity: 0.5;
          transition: opacity 0.2s ease;

          svg {
            fill: var(--black-color);
            color: var(--black-color);
            width: 2.1rem;
            height: 2.1rem;
          }

          &:hover,
          &:focus {
            opacity: 1;
            background: none;
            box-shadow: none;

            svg {
              fill: var(--primary-color);
            }
          }
        }

        .btn-close {
          &:hover svg {
            fill: var(--black-color);
          }
        }
      }
    }
  }
}

.info__work--left {
  border-right: 1px solid #eee;
  height: 100%;
  .show-inprogress {
    width: 10%;
  }
  .info__basic {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title-basic {
      font-size: 1.7rem;
      font-weight: 500;
      color: #10519f;
      margin-bottom: 1.2rem;
    }

    .info__basic--item {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        align-items: flex-start;
        font-size: 1.6rem;

        & + .item {
          margin-top: 0.8rem;
        }

        .title {
          width: 15.5rem;
          position: relative;
          margin-bottom: 0;
          flex-shrink: 0;

          &::after {
            content: ":";
            position: absolute;
            right: 0.7rem;
            bottom: 0;
            top: 0;
          }
        }

        .name {
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      .inprogress-work,
      .status-work,
      .evaluate-work {
        align-items: center;
      }

      .inprogress-work {
        align-items: center;

        .show-inprogress {
          position: relative;
          cursor: pointer;

          .value-percent {
            width: 3.5rem;
            height: 3.5rem;

            .CircularProgressbar-text {
              font-size: 3rem;
              font-weight: 600;
            }
          }
        }
      }

      .status-work {
        .show-status {
          .__unfulfilled,
          .__success,
          .__processing,
          .__cancelled,
          .__pause,
          .__processing--waring {
            color: var(--white-color);
            padding: 0.2rem 0.6rem;
            border-radius: 0.5rem;
            font-size: 1.3rem;
          }

          .__unfulfilled {
            background-color: var(--extra-color-50);
          }

          .__success {
            background-color: var(--success-color);
          }

          .__processing {
            background-color: var(--primary-color);
          }

          .__processing--waring {
            background-color: var(--warning-color);
          }

          .__cancelled {
            background-color: var(--error-color);
          }

          .__pause {
            background-color: var(--warning-darker-color);
          }
        }
      }

      .content-work {
        flex-direction: column;
        align-items: flex-start;

        .content {
          font-size: 1.5rem;
          color: var(--extra-color);
          margin-bottom: 2rem;
        }
      }

      .related-document {
        align-items: flex-start;
        flex-direction: column;

        .list-document {
          display: flex;
          align-items: center;
          gap: 0 0.8rem;
          margin-top: 0.6rem;

          .image-item {
            width: 5rem;
            height: 5rem;
            border-radius: 0.5rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .star-rating {
        display: flex;
        align-items: center;
        gap: 0 0.3rem;

        .star {
          cursor: pointer;

          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--extra-color-50);
          }
        }

        .on {
          .star {
            svg {
              fill: var(--warning-color);
            }
          }
        }

        .off {
          .star {
            svg {
              fill: var(--extra-color-50);
            }
          }
        }
      }

      .notification-document {
        font-size: 1.5rem;
        margin: 1.2rem 0 0;
      }
    }
  }
}

.info__work--right {
  width: 65%;
  height: 100%;
}
