.modal-work-xml,
.modal-work-xml-full {
  &.modal-work-xml-full {
    .modal-dialog--xxl {
      max-width: 98%;
    }
  }

  .form-handle-task {
    display: flex;
    flex-direction: column;
    height: 100%;

    .modal-body {
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 20rem);
    }

    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      background-color: #fff;

      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
        overflow: hidden;

        h4 {
          font-size: 1.8rem;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 700;

          span {
            font-weight: 400;
          }
        }
      }

      .container-button {
        display: flex;
        align-items: center;
        gap: 5px;

        .btn-close,
        .btn-setting {
          opacity: 0.5;
          transition: opacity 0.2s ease;

          svg {
            fill: var(--black-color);
            color: var(--black-color);
            width: 2.1rem;
            height: 2.1rem;
          }

          &:hover,
          &:focus {
            opacity: 1;
            background: none;
            box-shadow: none;

            svg {
              fill: var(--primary-color);
            }
          }
        }

        .btn-close {
          &:hover svg {
            fill: var(--black-color);
          }
        }
      }
    }
  }
}

.info__work--right {
  width: 65%;
  height: 100%;
}
