.kanban__employee {
  display: flex;
  align-items: flex-start;
  gap: 0 2rem;

  .task-list {
    border-radius: 0.5rem;
    width: 31rem;
    overflow: hidden;

    &--n {
      flex: 1;
    }

    .wrapper__title {
      display: flex;
      align-items: center;
      gap: 0 1.2rem;
      padding: 0.8rem;

      .info__employee {
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
        background-color: #dfe1e6;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        margin-left: 0.6rem;

        .avatar__employee {
          width: 2.8rem;
          height: 2.8rem;
          overflow: hidden;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .name {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }

      .total-task {
        font-weight: 600;
      }
    }

    .lst__task--employee {
      min-height: 5rem;

      .lst__task {
        max-height: 53.5rem;
        overflow: auto;
      }

      .action__add--work {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 0.5rem;
        background-color: var(--white-color);
        padding: 0.8rem 1.2rem;
        border-radius: 0.5rem;
        padding: 0.8rem 1.2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        margin: 1.5rem 1.5rem 1.2rem 1.5rem;

        svg {
          width: 2rem;
          height: 2rem;
        }

        &:hover {
          color: var(--success-color);
          svg {
            fill: var(--success-color);
          }
        }
      }
    }
  }

  .loading__wrapper {
    margin: 0 auto;
  }

  .system-notification {
    margin: 0 auto;
    margin-top: 10rem;
  }
}
