.modal-terminate-end-event {
  .form-terminate-end {
    .modal-body {
      padding: 0;
    }

    .container-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-bottom: 1px solid var(--border-color);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      .box-title {
        display: flex;
        align-items: center;
        gap: 0 1rem;
      }

      .container-button {
        display: flex;
        align-items: center;
      }
      h4 {
        font-size: 1.8rem;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // width: calc(100% - 3rem);
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .btn-close {
        opacity: 0.5;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
      .btn-setting {
        opacity: 0.5;
        margin-right: 10px;
        svg {
          fill: var(--black-color);
          color: var(--black-color);
          width: 2.3rem;
          height: 2.3rem;
        }
        &:hover,
        &:focus {
          opacity: 0.75;
          background: none;
          box-shadow: none;
        }
      }
    }

    .list-form-group {
      padding: 1.6rem;
      max-height: 48rem;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem 3.2rem;

      .form-group {
        &:nth-child(5),
        &:last-child {
          width: 100%;
        }
        width: calc(50% - 1.6rem);

        &:nth-child(3),
        &:nth-child(10) {
          width: calc(50% - 1.6rem);
        }

        .radio-list {
          width: 100%;
          .form-group {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 2rem;
            margin-top: 1rem;

            .base-radio {
              margin: 0;
            }
          }
        }
        .selected--item {
          display: flex;
          align-items: center;
          gap: 0 0.5rem;
          line-height: 1.1;

          .avatar {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50rem;
            overflow: hidden;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .input-name {
        width: 100%;
      }
    }
  }
}
